Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

docs(PROJ-036): add cross-stream synthesis deliverables
  projects/PROJ-036-prompt-regression-harness/synthesis/canon-implementation-synthesis.md
  projects/PROJ-036-prompt-regression-harness/synthesis/operational-readiness.md
  projects/PROJ-036-prompt-regression-harness/synthesis/risk-register-updated.md
Due: pytest

docs(PROJ-036): add engineering review and V&V reports
  projects/PROJ-036-prompt-regression-harness/reviews/PROJ-036-hierarchy-verification-report.md
  projects/PROJ-036-prompt-regression-harness/reviews/constraint-verification.md
  projects/PROJ-036-prompt-regression-harness/reviews/engineering-review.md
  projects/PROJ-036-prompt-regression-harness/reviews/fmea-mitigation-verification.md
  projects/PROJ-036-prompt-regression-harness/reviews/interface-verification.md
  projects/PROJ-036-prompt-regression-harness/reviews/requirements-coverage-matrix.md
  projects/PROJ-036-prompt-regression-harness/reviews/stream-3a-s010-self-review.md
Due: pytest

feat(PROJ-036): add implementation stream reports and verification
  projects/PROJ-036-prompt-regression-harness/work/stream-3b-layer2-evaluation.md
  projects/PROJ-036-prompt-regression-harness/work/stream-3d-layer4-stats.md
  projects/PROJ-036-prompt-regression-harness/work/stream-5c-security-test-report.md
  projects/PROJ-036-prompt-regression-harness/work/verify_layer4.py
Due: pyright, pytest

feat(PROJ-036): add Layer 4 statistical engine and Layer 2/3 modules
  jerry/__init__.py
  jerry/testing/__init__.py
  jerry/testing/baselines/__init__.py
  jerry/testing/baselines/ports.py
  jerry/testing/baselines/store.py
  jerry/testing/evaluation/__init__.py
  jerry/testing/evaluation/criteria/__init__.py
  jerry/testing/evaluation/criteria/adv_scorer.py
  jerry/testing/evaluation/criteria/ps_analyst.py
  jerry/testing/evaluation/criteria/ps_architect.py
  jerry/testing/evaluation/criteria/ps_critic.py
  jerry/testing/evaluation/criteria/ps_researcher.py
  jerry/testing/evaluation/criterion.py
  jerry/testing/evaluation/debiasing.py
  jerry/testing/evaluation/deepeval_adapter.py
  jerry/testing/evaluation/jerry_geval_deepeval_metric.py
  jerry/testing/evaluation/metrics.py
  jerry/testing/evaluation/ports.py
  jerry/testing/evaluation/position_randomization_result.py
  jerry/testing/evaluation/scoring_result.py
  jerry/testing/layer4_stats.py
  jerry/testing/metamorphic/__init__.py
  jerry/testing/metamorphic/base.py
  jerry/testing/metamorphic/calibration.py
  jerry/testing/metamorphic/formatting_variant.py
  jerry/testing/metamorphic/mr_001_paraphrase.py
  jerry/testing/metamorphic/mr_002_negation.py
  jerry/testing/metamorphic/mr_003_context.py
  jerry/testing/metamorphic/mr_004_formatting.py
  jerry/testing/metamorphic/mr_005_roundtrip.py
  jerry/testing/metamorphic/translation_language.py
  jerry/testing/reports/__init__.py
  jerry/testing/reports/generator.py
  jerry/testing/reports/ports.py
  jerry/testing/stats.py
  jerry/testing/types.py
Due: pyright, pytest

ci(PROJ-036): add prompt regression CI/CD workflows and Docker config
  .github/CODEOWNERS
  .github/actions/artifact-publish/action.yml
  .github/actions/cost-monitor/action.yml
  .github/workflows/prompt-regression-full.yml
  .github/workflows/prompt-regression-smoke.yml
  .github/workflows/prompt-regression-standard.yml
  docker/promptfoo/.dockerignore
  docker/promptfoo/Dockerfile
Due: none

chore(PROJ-036): add Victor Lau to NOTICE and update dependencies
  NOTICE
Due: none

docs(PROJ-035): add skill optimization research and test harness orchestration
  projects/PROJ-035-skill-optimization/PLAN.md
  projects/PROJ-035-skill-optimization/WORKTRACKER.md
  projects/PROJ-035-skill-optimization/analysis/cross-pollination-synthesis.md
  projects/PROJ-035-skill-optimization/analysis/test-harness-evaluation.md
  projects/PROJ-035-skill-optimization/decisions/ADR-001-test-harness-architecture.md
  projects/PROJ-035-skill-optimization/orchestration/test-harness-research-20260306-001/ORCHESTRATION.yaml
  projects/PROJ-035-skill-optimization/orchestration/test-harness-research-20260306-001/ORCHESTRATION_PLAN.md
  projects/PROJ-035-skill-optimization/orchestration/test-harness-research-20260306-001/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-035-skill-optimization/research/agent-sdk-evaluation.md
  projects/PROJ-035-skill-optimization/research/extraction-summary.md
  projects/PROJ-035-skill-optimization/research/historical-testing-methodologies.md
  projects/PROJ-035-skill-optimization/research/industry-frameworks-survey.md
  projects/PROJ-035-skill-optimization/research/innovation-frameworks.md
  projects/PROJ-035-skill-optimization/work/EPIC-035-001-test-harnessing/EPIC-035-001-test-harnessing.md
  projects/PROJ-035-skill-optimization/work/EPIC-035-001-test-harnessing/FEAT-035-001-test-harness/FEAT-035-001-test-harness.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-1-scores/1A-historical-testing-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-1-scores/1B-industry-frameworks-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-1-scores/1C-agent-sdk-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-1-scores/1D-innovation-frameworks-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-3-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-5-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-7-scores/gate-a-adv-score-iter2.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-7-scores/gate-a-adv-score.md
  projects/PROJ-035-skill-optimization/work/test-harness/adv/phase-7-scores/gate-b-nse-review.md
  projects/PROJ-035-skill-optimization/work/test-harness/prompt-design.md
Due: pytest

feat(PROJ-036): add gap closure orchestration plan and execution state
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-closure-20260307-001/ORCHESTRATION.yaml
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-closure-20260307-001/ORCHESTRATION_PLAN.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-closure-20260307-001/gap-closure-prompt.md
Due: pytest

feat(PROJ-036): implement gap closure fixes across core modules and CI
  jerry/testing/baselines/store.py
  jerry/testing/evaluation/deepeval_adapter.py
  jerry/testing/evaluation/exceptions.py
  jerry/testing/evaluation/jerry_geval_deepeval_metric.py
  jerry/testing/extraction/__init__.py
  jerry/testing/extraction/promptfoo_extractor.py
  jerry/testing/layer4_stats.py
  tests/prompt-regression/conftest.py
  tests/prompt-regression/integration/test_layer4_pipeline.py
  tests/prompt-regression/property/conftest.py
  tests/prompt-regression/unit/test_baselines.py
  tests/prompt-regression/unit/test_debiasing.py
  tests/prompt-regression/unit/test_metamorphic_base.py
  tests/prompt-regression/unit/test_stats.py
  tests/prompt-regression/unit/test_types.py
  tests/prompt-regression/unit/test_version_keys.py
Due: pyright, pytest

fix(PROJ-036): harden CI workflows and composite actions
  .github/actions/artifact-publish/action.yml
  .github/actions/cost-monitor/action.yml
  .github/workflows/prompt-regression-full.yml
  .github/workflows/prompt-regression-smoke.yml
  .github/workflows/prompt-regression-standard.yml
  scripts/pre_tool_use.py
Due: pyright, pytest

fix(PROJ-036): harden CI workflows and composite actions for gap closure
  .env.example
Due: none

test(PROJ-036): add unit and integration tests for gap closure
  tests/prompt-regression/integration/test_evaluator_construction.py
  tests/prompt-regression/integration/test_pipeline_smoke.py
  tests/prompt-regression/unit/test_build_metric_for_mr.py
  tests/prompt-regression/unit/test_exceptions.py
  tests/prompt-regression/unit/test_gha_output_sanitization.py
  tests/prompt-regression/unit/test_output_truncation.py
  tests/prompt-regression/unit/test_path_validation.py
  tests/prompt-regression/unit/test_promptfoo_extractor.py
  tests/prompt-regression/unit/test_resolve_model.py
  tests/prompt-regression/unit/test_version_key_validation.py
Due: pyright, pytest

chore(PROJ-036): update dependencies and configuration
  .claude/settings.local.json
  pyproject.toml
  uv.lock
Due: none

docs(PROJ-036): add gap analysis and validation-run orchestration artifacts
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/GAP-ANALYSIS-PROMPT.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/GAP-ANALYSIS-REPORT.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/ORCHESTRATION_PLAN.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/adversary/phase-3/adv-scorer-001/quality-score.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/eng/phase-2/eng-security-001/code-review.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/nse/phase-1/nse-requirements-001/traceability-matrix.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/ps/phase-1/ps-analyst-001/gap-inventory.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/red/phase-2/red-vuln-001/security-assessment.md
  projects/PROJ-036-prompt-regression-harness/orchestration/gap-analysis-20260307-001/synthesis/phase-4/ps-synthesizer-001/gap-synthesis.md
  projects/PROJ-036-prompt-regression-harness/orchestration/validation-run-20260307-001/ORCHESTRATION.yaml
  projects/PROJ-036-prompt-regression-harness/orchestration/validation-run-20260307-001/ORCHESTRATION_PLAN.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-001-implementation/EN-036-001-model-flexibility.md
Due: pytest

docs(PROJ-036): add FEAT-036-004 baseline execution feature with 5 stories
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/EPIC-036-001-test-harness.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/FEAT-036-004-baseline-execution.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-001-validation-run-phase1-2.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-002-mr-tests-n20.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-003-baseline-population.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-004-phase4-real-baselines.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-005-ci-cd-wiring.md
Due: pytest

docs(PROJ-036): mark FEAT-036-002 and FEAT-036-003 as completed
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/EPIC-036-001-test-harness.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-002-gap-analysis/FEAT-036-002-gap-analysis.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-003-gap-closure/FEAT-036-003-gap-closure.md
Due: pytest

refactor(PROJ-036): reorganize validation-run directory by layer
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/FEAT-036-004-baseline-execution.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-004-baseline-execution/STORY-036-006-validation-run-reorg.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/execution-prompt-v1.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/agent-outputs/adv-scorer.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/agent-outputs/ps-analyst.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/agent-outputs/ps-architect.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/agent-outputs/ps-critic.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/agent-outputs/ps-researcher.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/adv-scorer.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/composites.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/ps-analyst.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/ps-architect.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/ps-critic.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer2-geval/ps-researcher.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer3-metamorphic/costs.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer3-metamorphic/mr-results.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/adv-scorer.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/adv-scorer.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-analyst.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-analyst.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-architect.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-architect.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-critic.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-critic.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-researcher.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/ps-researcher.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/results.json
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/layer4-statistical/results.md
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/scripts/check_imports.py
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/scripts/phase2_score.py
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/scripts/phase3_mr_smoke.py
  projects/PROJ-036-prompt-regression-harness/work/test-harness/validation-run/scripts/phase4_stats.py
Due: pyright, pytest

feat(PROJ-036): add model flexibility for G-Eval judge and agent execution
  jerry/testing/evaluation/deepeval_adapter.py
  jerry/testing/layer4_stats.py
  jerry/testing/types.py
  projects/PROJ-036-prompt-regression-harness/design/system-design.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-001-implementation/EN-036-001-model-flexibility.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-001-implementation/FEAT-036-001-implementation.md
  tests/prompt-regression/unit/test_model_flexibility.py
Due: pyright, pytest

chore(PROJ-036): extract CI/CD workflow files to pending review area
  projects/PROJ-036-prompt-regression-harness/orchestration/baseline-execution-20260308-001/ci-cd-pending-review/docker/Dockerfile
  projects/PROJ-036-prompt-regression-harness/orchestration/baseline-execution-20260308-001/ci-cd-pending-review/workflows/prompt-regression-full.yml
  projects/PROJ-036-prompt-regression-harness/orchestration/baseline-execution-20260308-001/ci-cd-pending-review/workflows/prompt-regression-smoke.yml
  projects/PROJ-036-prompt-regression-harness/orchestration/baseline-execution-20260308-001/ci-cd-pending-review/workflows/prompt-regression-standard.yml
Due: none

feat(proj-023): add Phase 0 orchestration plan, state, constraint catalog, and worktracker entities
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-001-orchestration-prompt-plan/EPIC-023-001-orchestration-prompt-plan.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-001-orchestration-prompt-plan/FEAT-023-001-orchestration-plan-design/FEAT-023-001-orchestration-plan-design.md
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION_PLAN.md
  projects/PROJ-023-exploit-framework/work/orchestration/constraint-catalog.md
Due: pytest

feat(proj-023): complete Phase 1 framework catalog research (137 frameworks, 15 categories)
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-001-orchestration-prompt-plan/EPIC-023-001-orchestration-prompt-plan.md
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/research/cat-01-exploitation-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-02-c2-frameworks-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-03-reconnaissance-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-04-vulnerability-scanners-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-05-payload-delivery-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-06-post-exploitation-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-07-forensics-defense-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-08-network-tools-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-09-web-app-testing-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-10-wireless-security-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-11-cloud-security-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-12-container-security-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-13-mobile-security-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-14-social-engineering-catalog.md
  projects/PROJ-023-exploit-framework/work/research/cat-15-osint-catalog.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): revise Phase 1 catalog from C4 tournament iteration 1 (0.567 score)
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-1/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): systematic reconciliation from C4 iteration 2 (0.660 score)
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-2/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): 15-agent verification fan-out + schema enrichment (101 corrections, 2 new fields)
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-3/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-01-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-02-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-03-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-04-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-05-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-06-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-07-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-08-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-09-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-10-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-11-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-12-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-13-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-14-patch.md
  projects/PROJ-023-exploit-framework/work/research/verification-patches/cat-15-patch.md
Due: pytest

feat(proj-023): Phase 1 iteration 4 score 0.830 (+0.097), Ghidra+Aircrack fixed
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-4/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): apply 10 targeted fixes closing 0.830→0.95 gap
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): Phase 1 iteration 5 score 0.872, checkpoint with 13 remaining fixes
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-5/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-1-framework-survey-checkpoint-20260311.md
Due: pytest

feat(proj-023): iterations 6-7 + 8-fix decomposition, score 0.905 ACCEPT BEST
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-6/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/corrections-cat07-analysis.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/corrections-judgment-fixes.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/corrections-payload-both.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/corrections-postexploit-both.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/corrections-recon-both.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): 3 confirmation-tournament fixes, projected 0.93-0.95
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/corrections-network-wireless-both.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/corrections-webapp-both.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-011-chain-of-verification-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-1-framework-survey/iteration-7-final/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/research/framework-catalog.md
Due: pytest

feat(proj-023): redesign Phase 2 with 8-agent decomposition per Phase 1 lesson
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION_PLAN.md
Due: pytest

feat(proj-023): full pipeline decomposition — 27 agents across Phases 2-6
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION_PLAN.md
Due: pytest

feat(proj-023): Phase 2 checkpoint with resume instructions for fresh session
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-2-deep-integration-checkpoint-20260311.md
Due: pytest

feat(proj-023): Phase 2 Deep Integration Assessment PASS at 0.920
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-001-red-team.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-002-devils-advocate.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-003-steelman.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-004-pre-mortem.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-007-constitutional.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-010-self-refine.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-011-chain-of-verification.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-012-fmea.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-013-inversion.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-1/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-2/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-3/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-4/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-5/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-6/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/orchestration/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/research/integration-assessment.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-api-quality.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-automation.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-community.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-licensing.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-security.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-assess-tool-mapping.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-triage-health.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-triage-license.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-triage-modality.md
  projects/PROJ-023-exploit-framework/work/research/phase-2-triage-ranking.md
Due: pytest

feat(proj-023): Phase 2 ACCEPT BEST at 0.930 after 8-iteration C4 tournament
  projects/PROJ-023-exploit-framework/work/BUG-023-001-phase2-threshold-acceptance/BUG-023-001-phase2-threshold-acceptance.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-7/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-2-integration-assessment/iteration-8/s-014-composite-score.md
  projects/PROJ-023-exploit-framework/work/orchestration/diagrams/decomposed-multi-agent-design.md
  projects/PROJ-023-exploit-framework/work/orchestration/diagrams/original-single-agent-design.md
Due: pytest
