Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(epic-003): FEAT-014 Framework Synchronization — 5 enablers, 21 tasks
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EPIC-003-quality-implementation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/EN-925-agent-registry-completion.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-001-add-ps-critic-to-problem-solving-section.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-002-add-nasa-se-agents-section.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-003-add-orchestration-agents-section.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-004-add-adversary-agents-section.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-005-add-transcript-worktracker-agents-sections.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-006-update-agent-summary-table-and-counts.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/tasks/TASK-007-remove-update-future-skills-placeholder.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/EN-926-rule-synchronization.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/tasks/TASK-001-add-adversary-triggers-to-mandatory-skill-usage.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/tasks/TASK-002-add-implementation-section-to-quality-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/tasks/TASK-003-add-adversary-vs-ps-critic-selection-guidance.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/EN-927-skill-documentation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/TASK-001.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/TASK-002.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/TASK-003.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/EN-928-test-coverage.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/TASK-001.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/TASK-002.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/TASK-003.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/EN-929-documentation-cleanup.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/tasks/TASK-001-clarify-adversarial-template-naming.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/tasks/TASK-002-document-agent-directory-distinction.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/tasks/TASK-003-add-orchestration-reference.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/tasks/TASK-004-verify-h16-rule-index.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/tasks/TASK-005-improve-adversary-usage-guidance.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-framework-synchronization.md
Due: pytest

feat(epic-003): orchestration plans for FEAT-012 and FEAT-014
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/orchestration/feat012-impl-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/orchestration/feat012-impl-20260217-001/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/orchestration/feat014-impl-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/orchestration/feat014-impl-20260217-001/ORCHESTRATION_PLAN.md
Due: pytest

feat(epic-003): Phase 1 creators — FEAT-012 + FEAT-014 parallel execution
  .context/guides/EN-902-creator-report.md
  .context/guides/architecture-layers.md
  .context/guides/architecture-patterns.md
  .context/guides/coding-practices.md
  .context/guides/error-handling.md
  .context/guides/testing-practices.md
  .context/patterns/EN-903-creator-report.md
  .context/patterns/README.md
  .context/patterns/aggregate_pattern.py
  .context/patterns/command_handler_pattern.py
  .context/patterns/domain_event_pattern.py
  .context/patterns/exception_hierarchy_pattern.py
  .context/patterns/repository_pattern.py
  .context/patterns/value_object_pattern.py
  .context/rules/mandatory-skill-usage.md
  .context/rules/quality-enforcement.md
  AGENTS.md
  skills/adversary/SKILL.md
  skills/architecture/SKILL.md
  skills/bootstrap/SKILL.md
  skills/shared/README.md
Due: pyright, pytest

feat(epic-003): Phase 1 revision iter 1 — EN-902/903/925/926/927
  .context/guides/EN-902-critic-report.md
  .context/guides/architecture-layers.md
  .context/guides/architecture-patterns.md
  .context/guides/coding-practices.md
  .context/guides/error-handling.md
  .context/guides/testing-practices.md
  .context/patterns/EN-903-critic-report.md
  .context/patterns/aggregate_pattern.py
  .context/patterns/command_handler_pattern.py
  .context/patterns/domain_event_pattern.py
  .context/patterns/repository_pattern.py
  .context/rules/mandatory-skill-usage.md
  .context/rules/quality-enforcement.md
  AGENTS.md
  EN-925-critic-report.md
  EN-926-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-927-critic-report.md
  skills/adversary/SKILL.md
  skills/architecture/SKILL.md
  skills/bootstrap/SKILL.md
  skills/shared/README.md
Due: pyright, pytest

feat(epic-003): Phase 1 COMPLETE — all 5 enablers PASS quality gate
  .context/guides/EN-902-critic-report-iter2.md
  .context/patterns/EN-903-critic-report-iter2.md
  EN-925-critic-report-iter2.md
  EN-926-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-927-critic-report-iter2.md
Due: pytest

feat(epic-003): Phase 2 creators — EN-904/905/928/929 deliverables
  .context/rules/architecture-standards.md
  .context/rules/coding-standards.md
  .context/rules/testing-standards.md
  scripts/bootstrap_context.py
  skills/adversary/SKILL.md
  skills/adversary/agents/README.md
  skills/bootstrap/SKILL.md
  tests/architecture/test_adversarial_templates.py
  tests/e2e/test_bootstrap_guides_exclusion.py
  tests/integration/test_adversary_skill.py
Due: pyright, pytest

feat(epic-003): Phase 2 revisions — EN-904 path patterns + EN-928 test rigor
  .context/rules/architecture-standards.md
  .context/rules/coding-standards.md
  .context/rules/testing-standards.md
  tests/architecture/test_adversarial_templates.py
Due: pyright, pytest

feat(epic-003): Phase 2 COMPLETE — all 4 enablers PASS quality gate
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-904-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-904-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-905-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-928-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-928-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EN-929-critic-report-iter1.md
Due: pytest

feat(epic-003): Phase 3 EN-906 — progressive disclosure fidelity E2E tests
  tests/e2e/test_progressive_disclosure_crossrefs.py
Due: pyright, pytest

feat(epic-003): EN-906 revision 1 — complete TC-1 through TC-5 coverage
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-906-critic-report-iter1.md
  tests/e2e/test_progressive_disclosure_crossrefs.py
Due: pyright, pytest

feat(epic-003): Phase 3 COMPLETE — EN-906 (0.933) fidelity verification
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-906-critic-report-iter2.md
Due: pytest

feat(epic-003): EPIC-003 COMPLETE — all 6 features, 45 enablers PASS
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EPIC-003-quality-implementation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/FEAT-012-final-synthesis.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/FEAT-012-progressive-disclosure-rules.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-final-synthesis.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-framework-synchronization.md
Due: pytest

fix(ci): BUG-001 — mark uv-dependent tests with subprocess marker + fix Windows shell
  .github/workflows/ci.yml
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/BUG-001-pr13-ci-pipeline-failures.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-001-mark-adversary-tests-subprocess.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-002-mark-quality-framework-tests-subprocess.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-003-mark-session-hook-test-subprocess.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-004-verify-pip-jobs-exclude-subprocess.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-005-fix-ci-yml-windows-shell.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-006-verify-windows-ci-pass.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-007-push-and-verify-ci-green.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/TASK-008-verify-coverage-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EPIC-003-quality-implementation.md
  tests/e2e/test_adversary_templates_e2e.py
  tests/e2e/test_quality_framework_e2e.py
  tests/integration/test_session_start_hook_integration.py
Due: pyright, pytest

fix(ci): add shell: bash to test-pip steps for Windows compatibility
  .github/workflows/ci.yml
Due: none

fix(ci): add PYTHONUTF8=1 for Windows test jobs
  .github/workflows/ci.yml
Due: none

fix(test): use tempfile.gettempdir() instead of /tmp for Windows compat
  tests/integration/test_userpromptsubmit_hook_integration.py
Due: pyright, pytest

docs(worktracker): close BUG-001 — all CI jobs pass on PR #13
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-001-pr13-ci-pipeline-failures/BUG-001-pr13-ci-pipeline-failures.md
Due: pytest

chore: move 20 misplaced quality-cycle artifacts to enabler directories
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-902-companion-guides/EN-902-creator-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-902-companion-guides/EN-902-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-902-companion-guides/EN-902-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-903-pattern-extraction/EN-903-creator-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-903-pattern-extraction/EN-903-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-903-pattern-extraction/EN-903-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-904-path-scoping/EN-904-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-904-path-scoping/EN-904-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-905-bootstrap-exclusion/EN-905-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-906-fidelity-verification/EN-906-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-906-fidelity-verification/EN-906-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/EN-925-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/EN-925-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/EN-926-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/EN-926-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/EN-927-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/EN-927-critic-report.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/EN-928-critic-report-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/EN-928-critic-report-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/EN-929-critic-report-iter1.md
Due: pytest

docs(orchestration): create BUG-002 execution plan with C3/C4 adversarial review
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION_WORKTRACKER.md
Due: pytest

feat(schemas): complete Phase 1 — 8 hook JSON Schemas + C3 review (score 0.927)
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/adv-executor-p1/adv-executor-p1-review.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/adv-scorer-p1/adv-scorer-p1-score.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-creator-task006/fix-creator-task006-implementation.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-researcher-task006/codebase-analysis.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-researcher-task006/context7-research.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-researcher-task006/fix-researcher-task006-research.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-researcher-task006/websearch-research.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-1-schema-foundation/fix-validator-task006/fix-validator-task006-validation.md
  schemas/hooks/hook-output-base.schema.json
  schemas/hooks/permission-request-output.schema.json
  schemas/hooks/post-tool-use-output.schema.json
  schemas/hooks/pre-tool-use-output.schema.json
  schemas/hooks/session-start-output.schema.json
  schemas/hooks/stop-output.schema.json
  schemas/hooks/subagent-stop-output.schema.json
  schemas/hooks/user-prompt-submit-output.schema.json
  scripts/validate_schemas.py
Due: pyright, pytest

fix(hooks): complete Phase 2 — migrate all hooks to correct output schemas
  hooks/hooks.json
  hooks/user-prompt-submit.py
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-2-parallel-fixes/fix-creator-task001/fix-creator-task001-report.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-2-parallel-fixes/fix-creator-task002/fix-creator-task002-report.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-2-parallel-fixes/fix-creator-task003/fix-creator-task003-report.md
  schemas/hooks.schema.json
  scripts/pre_tool_use.py
  scripts/subagent_stop.py
  tests/e2e/test_quality_framework_e2e.py
  tests/hooks/test_pre_tool_use.py
  tests/integration/test_pretool_hook_integration.py
Due: pyright, pytest, validate-plugin-manifests

test(hooks): complete Phase 3 — 31 schema compliance tests (TASK-005)
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION.yaml
  tests/hooks/test_hook_schema_compliance.py
Due: pyright, pytest

fix(hooks): Phase 4-5 — C4 tournament review + remediation (BUG-002)
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-4-c4-tournament/adv-executor/adv-executor-tournament-results.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-4-c4-tournament/adv-selector/adv-selector-strategy-selection.md
  scripts/pre_tool_use.py
  scripts/subagent_stop.py
  scripts/validate_schemas.py
  tests/hooks/test_pre_tool_use.py
  tests/hooks/test_subagent_stop.py
Due: pyright, pytest

docs(worktracker): close BUG-002 — C4 tournament PASS (0.9355)
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/bug002-hookfix-20260217-001/fix/phase-4-c4-tournament/adv-scorer/adv-scorer-quality-score.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-002-hook-schema-validation-failures/BUG-002-hook-schema-validation-failures.md
Due: pytest

docs(bug-002): confirm L2 reinforcement working via live session test
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-002-hook-schema-validation-failures/BUG-002-hook-schema-validation-failures.md
Due: pytest

fix(ci): add .gitkeep to PROJ-002 empty dirs — resolve CI test failures (BUG-003)
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/BUG-003-ci-pipeline-proj002-missing-dirs.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/tasks/TASK-001-add-gitkeep-files.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/tasks/TASK-002-verify-tests-locally.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/tasks/TASK-003-verify-ci-passes.md
  projects/PROJ-002-roadmap-next/analysis/.gitkeep
  projects/PROJ-002-roadmap-next/synthesis/.gitkeep
Due: pytest

docs(worktracker): create FEAT-015 license migration + WTI integrity fixes
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/EPIC-001-oss-release.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-930-license-file-replacement.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-931-notice-file-creation.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-932-source-file-headers.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-933-packaging-metadata-update.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-934-dependency-license-audit.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-935-ci-license-validation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-002-hook-schema-validation-failures/BUG-002-hook-schema-validation-failures.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/BUG-003-ci-pipeline-proj002-missing-dirs.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/BUG-003-ci-pipeline-proj002-missing-dirs/tasks/TASK-003-verify-ci-passes.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/EPIC-003-quality-implementation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-901-rules-thinning/EN-901-rules-thinning.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/FEAT-012-progressive-disclosure-rules.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-framework-synchronization.md
  projects/PROJ-001-oss-release/work/audit-report-2026-02-17.md
Due: pytest

feat(orchestration): create FEAT-015 license migration plan (feat015-licmig-20260217-001)
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/ORCHESTRATION_PLAN.md
Due: pytest

feat(license-audit): QG-1 PASS (0.941) — Phase 1 complete, Phase 2 unblocked
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-1-audit/audit-executor/audit-executor-dep-audit.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-1-audit/audit-executor/pip-licenses-output.json
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s002-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s002-result-iter3.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s002-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s007-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s007-result-iter3.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-executor-s007-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-scorer-s014-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-scorer-s014-result-iter3.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-1/adv-scorer-s014-result.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-934-dependency-license-audit.md
  pyproject.toml
  uv.lock
Due: pytest

feat(license): Phase 2 complete — LICENSE, NOTICE, pyproject.toml updated
  LICENSE
  NOTICE
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/license-replacer/license-replacer-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/metadata-updater/metadata-updater-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/notice-creator/notice-creator-output.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-930-license-file-replacement.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-931-notice-file-creation.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-933-packaging-metadata-update.md
  pyproject.toml
Due: pytest

feat(license): QG-2 PASS (0.9505) — Phase 2 quality gate complete, Phase 3 unblocked
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/metadata-updater/metadata-updater-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-executor-s002-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-executor-s002-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-executor-s007-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-executor-s007-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-scorer-s014-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-2/adv-scorer-s014-result.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
Due: pytest

feat(license): QG-3 PASS (0.935) — Phase 3 quality gate complete, Phase 4 unblocked
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-3-headers/header-applicator/header-applicator-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-3-headers/header-verifier/header-verifier-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-executor-s002-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-executor-s002-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-executor-s007-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-executor-s007-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-scorer-s014-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-3/adv-scorer-s014-result.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
Due: pytest

feat(license): Phase 4 complete — CI/pre-commit SPDX header enforcement (EN-935)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-4-ci/ci-validator-implementer/ci-validator-implementer-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-4-ci/ci-validator-tester/ci-validator-tester-output.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/enablers/EN-935-ci-license-validation.md
  scripts/check_spdx_headers.py
Due: pyright, pytest

feat(license): QG-Final PASS (0.9335) — FEAT-015 license migration complete
  README.md
  docs/INSTALLATION.md
  projects/PROJ-001-oss-release/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/license-replacer/license-replacer-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/metadata-updater/metadata-updater-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-2-core/notice-creator/notice-creator-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/phase-4-ci/ci-validator-tester/ci-validator-tester-output.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-executor-s002-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-executor-s002-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-executor-s007-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-executor-s007-result.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-scorer-s014-result-iter2.md
  projects/PROJ-001-oss-release/orchestration/feat015-licmig-20260217-001/lic/quality-gates/qg-final/adv-scorer-s014-result.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-015-license-migration/FEAT-015-license-migration.md
  scripts/check_spdx_headers.py
Due: pyright, pytest

fix(license): remove APPENDIX template from LICENSE file
  LICENSE
Due: none

docs(worktracker): close FEAT-012 — retroactive verification of progressive disclosure
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-902-companion-guides/EN-902-companion-guides.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-903-pattern-extraction/EN-903-pattern-extraction.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-904-path-scoping/EN-904-path-scoping.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-905-bootstrap-exclusion/EN-905-bootstrap-exclusion.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/EN-906-fidelity-verification/EN-906-fidelity-verification.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-012-progressive-disclosure-rules/FEAT-012-progressive-disclosure-rules.md
Due: pytest

docs(worktracker): close EN-925–928 — retroactive verification of FEAT-014 enablers
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-925-agent-registry-completion/EN-925-agent-registry-completion.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-926-rule-synchronization/EN-926-rule-synchronization.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-927-skill-documentation/EN-927-skill-documentation.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-928-test-coverage/EN-928-test-coverage.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-framework-synchronization.md
Due: pytest

docs(worktracker): close EN-929 + FEAT-014 — framework synchronization complete
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/EN-929-documentation-cleanup.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/orchestration/en929-doccleanup-20260217-001/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/EN-929-documentation-cleanup/orchestration/en929-doccleanup-20260217-001/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/work/EPIC-003-quality-implementation/FEAT-014-framework-synchronization/FEAT-014-framework-synchronization.md
  skills/adversary/SKILL.md
  skills/nasa-se/agents/README.md
  skills/problem-solving/agents/README.md
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
