Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(proj-003): add EPIC-002 Visual Identity Implementation
  projects/PROJ-003-je-ne-sais-quoi/WORKTRACKER.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-002-visual-identity-impl/EPIC-002-visual-identity-impl.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-002-visual-identity-impl/FEAT-001-terminal-rendering-engine/FEAT-001-terminal-rendering-engine.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-002-visual-identity-impl/FEAT-002-ascii-logo-system/FEAT-002-ascii-logo-system.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-002-visual-identity-impl/FEAT-003-status-progress-indicators/FEAT-003-status-progress-indicators.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-002-visual-identity-impl/FEAT-004-visual-integration/FEAT-004-visual-integration.md
Due: pytest

feat(proj-004): complete SPIKE-002 Phase 5 architecture revision
  projects/PROJ-004-context-resilience/orchestration/spike002-cli-integration-20260219-001/ORCHESTRATION.yaml
  projects/PROJ-004-context-resilience/orchestration/spike002-cli-integration-20260219-001/res/phase-5-revision/adr-reviser/adr-cli-integration-v2.md
  projects/PROJ-004-context-resilience/orchestration/spike002-cli-integration-20260219-001/res/phase-5-revision/work-item-reviser/revised-work-items-v2.md
  projects/PROJ-004-context-resilience/orchestration/spike002-cli-integration-20260219-001/res/quality-gates/qg-2/gate-result-iter2.md
  projects/PROJ-004-context-resilience/orchestration/spike002-cli-integration-20260219-001/res/quality-gates/qg-2/gate-result.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/FEAT-001-context-detection.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/SPIKE-002-cli-integration.md
Due: pytest

docs(proj-005): add orchestration plan for SPIKE-001 and SPIKE-002
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION.yaml
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION_PLAN.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION_WORKTRACKER.md
Due: pytest

feat(proj-004): accept DEC-001 and create 11 worktracker entity files
  projects/PROJ-004-context-resilience/WORKTRACKER.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/DEC-001-cli-first-architecture.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-001-filesystem-session-repository.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-002-config-threshold-adapter.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-003-bounded-context-foundation.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-004-context-fill-estimator.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-005-pre-tool-use-staleness.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-006-jerry-hooks-cli.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-007-hook-wrapper-scripts.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/FEAT-001-context-detection.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/SPIKE-003-validation-spikes.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-001-resumption-schema.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-002-ae006-graduated-subrules.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-003-threshold-validation.md
Due: pytest

feat(proj-003): add EPIC-003 Voice Architecture
  projects/PROJ-003-je-ne-sais-quoi/WORKTRACKER.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EPIC-003-voice-architecture.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/FEAT-001-framework-voice-internal-skill/FEAT-001-framework-voice-internal-skill.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/FEAT-002-session-conversational-voice/FEAT-002-session-conversational-voice.md
Due: pytest

feat(proj-003): FEAT-001 rename saucer-boy to saucer-boy-framework-voice
  .context/rules/mandatory-skill-usage.md
  .context/rules/skill-standards.md
  AGENTS.md
  CLAUDE.md
  docs/knowledge/skill-development-best-practices.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EPIC-003-voice-architecture.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/FEAT-001-framework-voice-internal-skill/FEAT-001-framework-voice-internal-skill.md
  skills/saucer-boy-framework-voice/SKILL.md
  skills/saucer-boy-framework-voice/agents/sb-calibrator.md
  skills/saucer-boy-framework-voice/agents/sb-reviewer.md
  skills/saucer-boy-framework-voice/agents/sb-rewriter.md
  skills/saucer-boy-framework-voice/references/audience-adaptation.md
  skills/saucer-boy-framework-voice/references/biographical-anchors.md
  skills/saucer-boy-framework-voice/references/boundary-conditions.md
  skills/saucer-boy-framework-voice/references/cultural-palette.md
  skills/saucer-boy-framework-voice/references/humor-examples.md
  skills/saucer-boy-framework-voice/references/implementation-notes.md
  skills/saucer-boy-framework-voice/references/tone-spectrum-examples.md
  skills/saucer-boy-framework-voice/references/visual-vocabulary.md
  skills/saucer-boy-framework-voice/references/vocabulary-reference.md
  skills/saucer-boy-framework-voice/references/voice-guide.md
Due: pytest

feat(proj-003): add EPIC-003 Session Conversational Voice (FEAT-002)
  .context/rules/mandatory-skill-usage.md
  AGENTS.md
  CLAUDE.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EPIC-003-voice-architecture.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/FEAT-002-session-conversational-voice/FEAT-002-session-conversational-voice.md
  skills/saucer-boy/SKILL.md
  skills/saucer-boy/agents/sb-voice.md
Due: pytest

docs(proj-005): complete spike orchestration - GO decision for AST infrastructure
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION.yaml
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/cross-pollination/barrier-1/spike-001-handoff.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-1-research/ps-researcher-001/library-landscape-research.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-2-analysis/ps-analyst-001/library-feature-matrix.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-3-synthesis/ps-synthesizer-001/library-recommendation.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-4-arch-research/ps-researcher-002/integration-patterns-research.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-5-feasibility/ps-analyst-002/feasibility-analysis.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-6-decision/ps-synthesizer-002/go-nogo-recommendation.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ps/phase-7-review/ps-reviewer-001/cross-spike-review.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg1/iteration-1-critique.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg1/iteration-2-critique.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg1/iteration-3-final-score.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg2/iteration-1-critique.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg2/iteration-2-critique.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg2/iteration-3-critique.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/quality/qg3/final-quality-score.md
Due: pytest

test(proj-003): add framework voice agent verification tests
  docs/reviews/voice/test-sb-reviewer-001.md
  docs/rewrites/voice/test-sb-rewriter-001.md
  docs/scores/voice/test-sb-calibrator-001.md
Due: pytest

docs(proj-005): update worktracker entities to reflect spike completion
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/orchestration/spike-eval-20260219-001/ORCHESTRATION_PLAN.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/EPIC-001-markdown-ast.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/SPIKE-001-library-landscape/SPIKE-001-library-landscape.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/SPIKE-002-feasibility/SPIKE-002-feasibility.md
Due: pytest

docs(proj-005): decompose FEAT-001 into R-01 PoC enabler + 10 implementation stories
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/EPIC-001-markdown-ast.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/EN-001-r01-poc.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-001-jerry-document/ST-001-jerry-document.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-002-frontmatter-ext/ST-002-frontmatter-ext.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-003-reinject-parser/ST-003-reinject-parser.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-004-cli-commands/ST-004-cli-commands.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-005-ast-skill/ST-005-ast-skill.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-006-schema-validation/ST-006-schema-validation.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-007-worktracker-migration/ST-007-worktracker-migration.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-008-nav-table-helpers/ST-008-nav-table-helpers.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-009-precommit-hook/ST-009-precommit-hook.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-010-remaining-migrations/ST-010-remaining-migrations.md
Due: pytest

feat(proj-003): add BUG-002 and EN-001 for session voice reference architecture
  projects/PROJ-003-je-ne-sais-quoi/WORKTRACKER.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/BUG-002-session-voice-reference-loading/BUG-002-session-voice-reference-loading.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EN-001-session-voice-reference-architecture/EN-001-session-voice-reference-architecture.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EPIC-003-voice-architecture.md
Due: pytest

feat(proj-005): complete EN-001 R-01 PoC -- mdformat write-back validated
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/EPIC-001-markdown-ast.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/EN-001-r01-poc.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/R01_RESULTS.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/adversary/s010-self-refine-report.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/adversary/s014-quality-score-report.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/r01_poc.py
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  pyproject.toml
  uv.lock
Due: pyright, pytest

fix(proj-005): address all adversarial findings for EN-001 R-01 PoC
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/EN-001-r01-poc.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/R01_RESULTS.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-001-r01-poc/r01_poc.py
Due: pyright, pytest

feat(proj-003): implement EN-001 session voice reference architecture fix
  docs/scores/adversary/en-001-s014-rescore.md
  docs/scores/adversary/en-001-s014-score.md
  docs/scores/voice/post-fix-ambient-sb-calibrator-001.md
  docs/scores/voice/post-fix-sb-calibrator-001.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EN-001-session-voice-reference-architecture/EN-001-session-voice-reference-architecture.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/EPIC-003-voice-architecture.md
  skills/saucer-boy/SKILL.md
  skills/saucer-boy/agents/sb-voice.md
  skills/saucer-boy/references/ambient-persona.md
Due: pytest

feat(proj-006): bootstrap automated multi-instance orchestration project
  projects/PROJ-006-multi-instance/PLAN.md
  projects/PROJ-006-multi-instance/WORKTRACKER.md
  projects/PROJ-006-multi-instance/decisions/.gitkeep
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/EPIC-001-multi-instance.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/FEAT-001-instance-strategy.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/SPIKE-001-sdk-vs-cli.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/SPIKE-002-worktree-lifecycle.md
  projects/README.md
Due: pytest

feat(proj-003): implement BUG-002 Config D (opus + all refs) with A/B test evidence
  docs/scores/voice/ab-test/test-a-sonnet-2refs.md
  docs/scores/voice/ab-test/test-b-sonnet-allrefs.md
  docs/scores/voice/ab-test/test-c-opus-2refs.md
  docs/scores/voice/ab-test/test-d-opus-allrefs.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/BUG-002-session-voice-reference-loading/BUG-002-session-voice-reference-loading.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/BUG-002-session-voice-reference-loading/DEC-001-voice-configuration/DEC-001-voice-configuration.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/BUG-002-session-voice-reference-loading/TASK-001-ab-test-voice-configuration/TASK-001-ab-test-voice-configuration.md
  skills/saucer-boy/SKILL.md
  skills/saucer-boy/agents/sb-voice.md
Due: pytest

fix(proj-003): BUG-003 remove undocumented category directory test requirement
  projects/PROJ-003-je-ne-sais-quoi/WORKTRACKER.md
  projects/PROJ-003-je-ne-sais-quoi/work/EPIC-003-voice-architecture/BUG-003-proj006-incomplete-bootstrap/BUG-003-proj006-incomplete-bootstrap.md
  tests/project_validation/architecture/test_path_conventions.py
  tests/project_validation/integration/test_file_resolution.py
Due: pyright, pytest

feat(rules): add MCP tool governance + integrate Context7/Memory-Keeper across agents
  .context/rules/mcp-tool-standards.md
  AGENTS.md
  TOOL_REGISTRY.yaml
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/EN-001-mcp-governance-rule.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/EN-002-context7-agent-updates.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/EN-003-memory-keeper-agent-updates.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/EN-004-skill-registry-updates.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/EN-005-verification-quality-gate.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/FEAT-028-mcp-tool-integration.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-028-mcp-tool-integration/adversarial-review-s012-s013.md
  skills/nasa-se/SKILL.md
  skills/nasa-se/agents/nse-architecture.md
  skills/nasa-se/agents/nse-explorer.md
  skills/nasa-se/agents/nse-requirements.md
  skills/orchestration/SKILL.md
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/agents/orch-synthesizer.md
  skills/orchestration/agents/orch-tracker.md
  skills/problem-solving/SKILL.md
  skills/problem-solving/agents/ps-architect.md
  skills/transcript/SKILL.md
  skills/transcript/agents/ts-extractor.md
  skills/transcript/agents/ts-parser.md
Due: pytest

fix(rules): remove hardcoded Context7 call limit, defer to tool-enforced constraint
  .context/rules/mcp-tool-standards.md
  TOOL_REGISTRY.yaml
Due: pytest

docs(runbooks): add Template 6 Batch Isolated Research
  docs/runbooks/prompt-templates.md
Due: pytest

docs(runbooks): add prompt quality guide and templates
  docs/runbooks/prompt-quality.md
  docs/runbooks/prompt-templates.md
Due: pytest

feat(worktracker): add content quality rules WTI-007/WTI-008 and creation guides
  .context/templates/worktracker/BUG.md
  .context/templates/worktracker/DOD.md
  .context/templates/worktracker/STORY.md
  .context/templates/worktracker/TASK.md
  skills/worktracker/SKILL.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/rules/worktracker-behavior-rules.md
  skills/worktracker/rules/worktracker-content-standards.md
Due: pytest

refactor: move prompt runbooks to .context/rules/ for auto-loading
  .context/rules/prompt-quality.md
  .context/rules/prompt-templates.md
Due: pytest

fix(ci): add missing category dirs to PROJ-006 (BUG-012)
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/BUG-012-ci-proj006-missing-dirs/BUG-012-ci-proj006-missing-dirs.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/BUG-012-ci-proj006-missing-dirs/TASK-001-add-category-dirs.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/BUG-012-ci-proj006-missing-dirs/TASK-002-verify-ci.md
  projects/PROJ-006-multi-instance/analysis/.gitkeep
  projects/PROJ-006-multi-instance/research/.gitkeep
  projects/PROJ-006-multi-instance/research/README.md
  projects/PROJ-006-multi-instance/synthesis/.gitkeep
Due: pytest

fix(proj-005): PG5 quality gate pass — fix import consistency in ast_commands
  projects/PROJ-005-markdown-ast/orchestration/feat001-impl-20260220-001/ORCHESTRATION.yaml
  src/interface/cli/ast_commands.py
Due: pyright, pytest

fix(hooks): add --directory flag to uv sync in SessionStart hook (BUG-013)
  hooks/hooks.json
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/BUG-013-hook-uv-sync-wrong-directory/BUG-013-hook-uv-sync-wrong-directory.md
  uv.lock
Due: pytest, validate-plugin-manifests

test(proj-005): add 27 subprocess integration tests for AST operations
  pyproject.toml
  tests/integration/cli/test_ast_subprocess.py
Due: pyright, pytest

docs(proj-004): revise TASK-006 spec after C2 adversarial review (0.920 PASS)
  docs/knowledge/context-resilience/calibration-protocol.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-review/s-002-devils-advocate-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-review/s-003-steelman-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-review/s-007-constitutional-ai-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-review/s-014-quality-score-report-iter2.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-review/s-014-quality-score-report.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-008-context-resilience-hardening.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-006-context-window-configuration.md
Due: pytest

enforce(proj-005): add H-31 AST-based parsing requirement for worktracker agents
  .context/rules/mandatory-skill-usage.md
  .context/rules/quality-enforcement.md
  AGENTS.md
  CLAUDE.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
Due: pytest

feat(proj-004): implement TASK-006 context window detection and configuration
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-001-redteam-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-002-devils-advocate-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-003-steelman-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-004-premortem-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-007-constitutional-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-011-cove-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-012-013-fmea-inversion-report.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-014-score-iteration-1.md
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/task-006-impl-review/s-014-score-iteration-2.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-007-monitoring-ok-field.md
  src/bootstrap.py
  src/context_monitoring/application/ports/threshold_configuration.py
  src/context_monitoring/application/services/context_fill_estimator.py
  src/context_monitoring/domain/value_objects/fill_estimate.py
  src/context_monitoring/infrastructure/adapters/config_threshold_adapter.py
  tests/unit/context_monitoring/application/test_context_fill_estimator.py
  tests/unit/context_monitoring/test_config_threshold_adapter.py
Due: pyright, pytest

fix(proj-005): add CLAUDE_PLUGIN_ROOT prefix and 61 architecture tests for H-31
  AGENTS.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
  tests/architecture/test_ast_enforcement.py
Due: pyright, pytest

feat(enforcement): add H-31 ambiguity clarification rule (EN-006)
  .context/rules/quality-enforcement.md
  CLAUDE.md
  TOOL_REGISTRY.yaml
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/EN-006-ambiguity-clarification-rule/EN-006-ambiguity-clarification-rule.md
Due: pytest

test(proj-004): add context_monitoring test suite with C4 tournament pass (0.954)
  projects/PROJ-004-context-resilience/orchestration/feat001-impl-20260220-001/impl/adversarial/test-suite-tournament/s-014-score-iteration-5.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-007-monitoring-ok-field.md
  pytest.ini
  src/context_monitoring/application/services/context_fill_estimator.py
  src/context_monitoring/domain/value_objects/fill_estimate.py
  src/context_monitoring/infrastructure/adapters/filesystem_checkpoint_repository.py
  tests/architecture/test_context_monitoring_boundaries.py
  tests/conftest.py
  tests/contract/test_context_monitoring_contracts.py
  tests/e2e/test_context_monitoring_e2e.py
  tests/integration/test_context_monitoring_integration.py
  tests/system/__init__.py
  tests/system/test_context_monitoring_system.py
  tests/unit/context_monitoring/application/test_context_fill_estimator.py
  tests/unit/context_monitoring/domain/test_domain_events.py
  tests/unit/context_monitoring/domain/test_fill_estimate.py
Due: pyright, pytest

fix(proj-004): resolve 10 pre-existing test failures and pre-commit violations
  .context/rules/project-workflow.md
  .context/rules/quality-enforcement.md
  hooks/pre-compact.py
  hooks/pre-tool-use.py
  hooks/session-start.py
  hooks/user-prompt-submit.py
  projects/PROJ-004-context-resilience/ORCHESTRATION_PLAN.md
  projects/PROJ-004-context-resilience/WORKTRACKER.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/BUG-001-precommit-hook-failures.md
  projects/PROJ-006-multi-instance/analysis/.gitkeep
  projects/PROJ-006-multi-instance/reports/.gitkeep
  schemas/hooks.schema.json
  skills/orchestration/templates/ORCHESTRATION.template.yaml
  src/interface/cli/hooks/hooks_session_start_handler.py
  src/session_management/domain/events/session_events.py
  src/session_management/infrastructure/adapters/event_sourced_session_repository.py
  tests/project_validation/architecture/test_path_conventions.py
  tests/unit/interface/hooks/test_hook_wrappers.py
Due: pyright, pytest

fix(ci): resolve 4 CI/CD failure categories
  .github/workflows/ci.yml
  pyproject.toml
  src/context_monitoring/infrastructure/adapters/config_threshold_adapter.py
  src/context_monitoring/infrastructure/adapters/jsonl_transcript_reader.py
  src/context_monitoring/infrastructure/adapters/staleness_detector.py
  src/interface/cli/hooks/hooks_pre_tool_use_handler.py
  tests/contract/test_hook_output_contract.py
  tests/integration/test_userpromptsubmit_hook_integration.py
  tests/unit/context_monitoring/application/test_checkpoint_service.py
  tests/unit/context_monitoring/application/test_resumption_context_generator.py
  tests/unit/context_monitoring/application/test_staleness_detector.py
  tests/unit/context_monitoring/domain/test_checkpoint_data.py
  tests/unit/context_monitoring/domain/test_context_state.py
  tests/unit/context_monitoring/domain/test_threshold_tier.py
  tests/unit/context_monitoring/infrastructure/test_filesystem_checkpoint_repository.py
  tests/unit/context_monitoring/infrastructure/test_jsonl_transcript_reader.py
  tests/unit/context_monitoring/test_config_threshold_adapter.py
  tests/unit/interface/cli/hooks/test_hooks_cli_integration.py
  tests/unit/interface/cli/hooks/test_hooks_pre_compact_handler.py
  tests/unit/interface/cli/hooks/test_hooks_pre_tool_use_handler.py
  tests/unit/interface/cli/hooks/test_hooks_prompt_submit_handler.py
  tests/unit/interface/cli/hooks/test_hooks_session_start_handler.py
  tests/unit/orchestration/resumption_schema.py
  tests/unit/orchestration/test_resumption_schema.py
  tests/unit/rules/test_ae006_graduated_rules.py
  tests/unit/session_management/infrastructure/test_event_sourced_session_repository.py
  uv.lock
Due: pyright, pytest

feat(proj-007): bootstrap agent-patterns project
  projects/PROJ-007-agent-patterns/PLAN.md
  projects/PROJ-007-agent-patterns/WORKTRACKER.md
  projects/README.md
  tests/project_validation/conftest.py
  uv.lock
Due: pyright, pytest

fix(ci): add subprocess marker to tests requiring uv CLI
  tests/contract/test_hook_output_contract.py
  tests/e2e/test_quality_framework_e2e.py
  tests/integration/test_userpromptsubmit_hook_integration.py
Due: pyright, pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
