Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(proj-023): EN-023-001 eBPF PoC — GO decision, connect() rewrite proven
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/opsec-review-ebpf-poc.md
  src/proxy_infra/ebpf_poc/Dockerfile
  src/proxy_infra/ebpf_poc/Makefile
  src/proxy_infra/ebpf_poc/connect4.bpf.c
  src/proxy_infra/ebpf_poc/docker-compose.yml
  src/proxy_infra/ebpf_poc/entrypoint.sh
Due: pytest

feat(proj-023): EN-023-001 eBPF PoC — GO decision, connect() rewrite proven
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/EN-023-001-ebpf-container-poc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-041-bpf-connect4-minimal/TASK-023-041-bpf-connect4-minimal.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-042-docker-bpf-entrypoint/TASK-023-042-docker-bpf-entrypoint.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-043-connect-rewrite-test/TASK-023-043-connect-rewrite-test.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-017-bpf-connect4-program/TASK-023-017-bpf-connect4-program.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-018-clm-bpf-attach/TASK-023-018-clm-bpf-attach.md
  src/proxy_infra/ebpf_poc/Dockerfile
  src/proxy_infra/ebpf_poc/Dockerfile.proxy
  src/proxy_infra/ebpf_poc/bridge.py
  src/proxy_infra/ebpf_poc/connect4.bpf.c
  src/proxy_infra/ebpf_poc/docker-compose.yml
  src/proxy_infra/ebpf_poc/entrypoint.sh
Due: pyright, pytest

fix(proj-023): PoC compose supports real SOCKS proxy via env override
  src/proxy_infra/ebpf_poc/docker-compose.yml
Due: none

feat(proj-023): Envoy+BPF integration tests, hybrid compose, OPSEC review
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/opsec-review-hybrid-architecture.md
  src/proxy_infra/ebpf_poc/docker-compose.envoy-integration.yml
  src/proxy_infra/ebpf_poc/entrypoint-hybrid.sh
  src/proxy_infra/ebpf_poc/test_envoy_integration.sh
  tests/e2e/proxy_infra/__init__.py
  tests/e2e/proxy_infra/conftest.py
  tests/e2e/proxy_infra/test_ebpf_socks_proxy.py
Due: pyright, pytest

feat(proj-023): Envoy+BPF integration 4/4 tests PASS
  src/proxy_infra/ebpf_poc/docker-compose.envoy-integration.yml
  src/proxy_infra/ebpf_poc/envoy-integration-test.yaml
  src/proxy_infra/ebpf_poc/test_envoy_integration.sh
Due: none

feat(proj-023): worktracker sync + adversary C3 score (0.935 PASS) for EN-023-001
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/EPIC-023-007-proxy-infrastructure.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-031-cloud-init-templates/TASK-023-031-cloud-init-templates.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-037-clm-read-proxy-pool/TASK-023-037-clm-read-proxy-pool.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/c3-score-ebpf-poc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/research-index.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-017-bpf-connect4-program/TASK-023-017-bpf-connect4-program.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-018-clm-bpf-attach/TASK-023-018-clm-bpf-attach.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-020-bdd-red-phase/TASK-023-020-bdd-red-phase.md
Due: pytest

docs(proj-023): add captured terminal evidence for EN-023-001 PoC
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/poc-run-evidence.md
Due: pytest

fix(proj-023): resolve all 3 worktracker audit findings for EN-023-001
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/research-index.md
  projects/PROJ-023-exploit-framework/work/audit/worktracker-audit-en023001-final.md
Due: pytest

fix(proj-023): correct 3 worktracker discrepancies found during integrity review
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/EN-023-001-ebpf-container-poc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-043-connect-rewrite-test/TASK-023-043-connect-rewrite-test.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/research-index.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-018-clm-bpf-attach/TASK-023-018-clm-bpf-attach.md
Due: pytest

fix(proj-023): F-8 resolved — intercept cgroup is now CHILD of container cgroup
  src/proxy_infra/ebpf_poc/entrypoint-hybrid.sh
Due: none

feat(proj-023): full E2E proven — Envoy + BPF + real SOCKS proxy (146.190.131.77)
  src/proxy_infra/ebpf_poc/docker-compose.envoy-integration.yml
Due: none

feat(proj-023): research + ADR + worktracker fully synced with PoC findings
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/EPIC-023-007-proxy-infrastructure.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/EN-023-001-ebpf-container-poc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/poc-run-evidence.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/design/ebpf-socks-implementation-design.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/research/docker-ebpf-integration.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/research/ebpf-socks-deep-feasibility.md
  projects/PROJ-023-exploit-framework/work/audit/worktracker-audit-en023001-comprehensive.md
Due: pytest

feat(proj-023): dependency chain updated to proper TDD Red/Green/Refactor
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
Due: pytest

feat(proj-023): TDD GREEN phase — domain logic + cloud-init templates passing
  src/proxy_infra/domain/exceptions/__init__.py
  src/proxy_infra/domain/exceptions/fingerprint_required_error.py
  src/proxy_infra/domain/exceptions/invalid_engagement_id_error.py
  src/proxy_infra/domain/exceptions/invalid_node_transition_error.py
  src/proxy_infra/domain/exceptions/pool_capacity_exceeded_error.py
  src/proxy_infra/domain/ports/credential_store_port.py
  src/proxy_infra/domain/ports/proxy_provisioner_port.py
  src/proxy_infra/domain/services/proxy_pool_service.py
  src/proxy_infra/domain/value_objects/provision_config.py
  src/proxy_infra/domain/value_objects/proxy_node.py
  src/proxy_infra/infrastructure/adapters/env_credential_store.py
  src/proxy_infra/infrastructure/adapters/keyring_credential_store.py
  src/proxy_infra/infrastructure/templates/__init__.py
  src/proxy_infra/infrastructure/templates/cloud_init_template.py
Due: pyright, pytest

feat(proj-023): TDD GREEN phase — 140/143 unit tests pass
  src/proxy_infra/domain/exceptions/__init__.py
  src/proxy_infra/domain/exceptions/api_key_expired_error.py
  src/proxy_infra/domain/exceptions/api_key_permission_error.py
  src/proxy_infra/domain/exceptions/vultr_ip_acl_mismatch_error.py
  src/proxy_infra/domain/ports/proxy_provisioner_port.py
  src/proxy_infra/domain/value_objects/destroy_result.py
  src/proxy_infra/domain/value_objects/provision_config.py
  src/proxy_infra/infrastructure/adapters/digitalocean_adapter.py
  src/proxy_infra/infrastructure/persistence/audit_log_store.py
  src/proxy_infra/infrastructure/preflight/__init__.py
  src/proxy_infra/infrastructure/preflight/api_key_preflight.py
Due: pyright, pytest

feat(proj-023): TDD GREEN — 143/143 unit tests pass (STORY-023-004)
  pyproject.toml
  src/infrastructure/internal/enforcement/enforcement_rules.py
  uv.lock
Due: pyright, pytest

feat(proj-023): TDD GREEN COMPLETE — 163/163 tests pass (STORY-023-004)
  src/proxy_infra/domain/exceptions/__init__.py
  src/proxy_infra/infrastructure/adapters/digitalocean_adapter.py
Due: pyright, pytest

refactor(proj-023): REFACTOR phase — H-10 violations fixed, all checks pass
  src/proxy_infra/infrastructure/preflight/__init__.py
  src/proxy_infra/infrastructure/preflight/api_key_preflight.py
  src/proxy_infra/infrastructure/preflight/preflight_result.py
  src/proxy_infra/infrastructure/preflight/preflight_status.py
  src/proxy_infra/infrastructure/templates/cloud_init_template.py
  src/proxy_infra/infrastructure/templates/cloud_init_type.py
Due: pyright, pytest

feat(proj-023): STORY-023-004 tasks completed, quality score 0.832 (REVISE)
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/STORY-023-004-cloud-vendor-adapter-layer.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-027-design-provisioner-port/TASK-023-027-design-provisioner-port.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-028-digitalocean-adapter/TASK-023-028-digitalocean-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-031-cloud-init-templates/TASK-023-031-cloud-init-templates.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-032-bdd-adapter-layer/TASK-023-032-bdd-adapter-layer.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-046-audit-logging/TASK-023-046-audit-logging.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-048-apikey-preflight-check/TASK-023-048-apikey-preflight-check.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/c4-score-adapter-layer.md
Due: pytest

feat(proj-023): REFACTOR complete + architecture test + H-07 fix + STORY-005 WIP
  .claude/settings.local.json
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/c3-score-adapter-layer-v2.md
  src/proxy_infra/application/handlers/credential_destruction_handler.py
  src/proxy_infra/application/handlers/credential_injection_handler.py
  src/proxy_infra/domain/services/credential_service.py
  src/proxy_infra/domain/value_objects/credential_descriptor.py
  src/proxy_infra/domain/value_objects/destruction_entry.py
  src/proxy_infra/domain/value_objects/destruction_report.py
  src/proxy_infra/domain/value_objects/injection_result.py
  src/proxy_infra/infrastructure/adapters/digitalocean_adapter.py
  tests/architecture/test_proxy_infra_boundaries.py
  tests/unit/proxy_infra/test_credential_lifecycle.py
Due: pyright, pytest

feat(proj-023): STORY-023-005 credential lifecycle — 42/42 tests GREEN
  tests/unit/proxy_infra/test_credential_lifecycle.py
Due: pyright, pytest

feat(proj-023): STORY-023-003 CLI commands — 45/45 tests GREEN
  src/proxy_infra/application/commands/destroy_nodes_command.py
  src/proxy_infra/application/handlers/destroy_handler.py
  src/proxy_infra/application/handlers/pool_status_handler.py
  src/proxy_infra/application/handlers/provision_handler.py
  src/proxy_infra/domain/services/proxy_health_service.py
  src/proxy_infra/domain/value_objects/destroy_result.py
  src/proxy_infra/infrastructure/persistence/pool_manifest_store.py
  src/proxy_infra/interface/__init__.py
  src/proxy_infra/interface/cli/__init__.py
  src/proxy_infra/interface/cli/proxy_commands.py
  tests/unit/proxy_infra/test_cli_commands.py
  tests/unit/proxy_infra/test_clm_integration.py
Due: pyright, pytest

feat(proj-023): STORY-023-006 CLM integration — 34/34 tests GREEN
  src/proxy_infra/application/handlers/destroy_handler.py
Due: pyright, pytest

docs(proj-023): session checkpoint — FEAT-023-002 complete, 286/286 tests
  projects/PROJ-023-exploit-framework/work/orchestration/session-checkpoint-20260326-final.md
Due: pytest

feat(proj-023): worktracker fully synced — FEAT-023-002 COMPLETE
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/FEAT-023-002-vendor-agnostic-proxy-provisioner.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/STORY-023-003-cli-proxy-management.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-023-design-cli-structure/TASK-023-023-design-cli-structure.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-024-implement-proxy-provision/TASK-023-024-implement-proxy-provision.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-025-implement-proxy-status-rotate-destroy/TASK-023-025-implement-proxy-status-rotate-destroy.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-026-bdd-cli-commands/TASK-023-026-bdd-cli-commands.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-045-proxy-gc-command/TASK-023-045-proxy-gc-command.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-005-ephemeral-credential-lifecycle/STORY-023-005-ephemeral-credential-lifecycle.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-005-ephemeral-credential-lifecycle/TASK-023-033-credential-generation/TASK-023-033-credential-generation.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-005-ephemeral-credential-lifecycle/TASK-023-034-credential-injection/TASK-023-034-credential-injection.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-005-ephemeral-credential-lifecycle/TASK-023-035-credential-destruction/TASK-023-035-credential-destruction.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-005-ephemeral-credential-lifecycle/TASK-023-036-bdd-credential-lifecycle/TASK-023-036-bdd-credential-lifecycle.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/STORY-023-006-clm-proxy-pool-integration.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-037-clm-read-proxy-pool/TASK-023-037-clm-read-proxy-pool.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-038-clm-health-monitoring-rotation/TASK-023-038-clm-health-monitoring-rotation.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-039-clm-engagement-teardown/TASK-023-039-clm-engagement-teardown.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-040-bdd-clm-proxy-integration/TASK-023-040-bdd-clm-proxy-integration.md
Due: pytest

fix(proj-023): quality gate fixes — AC boxes checked, describe_invariant implemented
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/FEAT-023-002-vendor-agnostic-proxy-provisioner.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/c3-score-feat-002-final.md
  src/proxy_infra/domain/invariants.py
Due: pyright, pytest

feat(proj-023): TASK-023-016 SOCKS relay + TASK-023-019 iptables fallback — 38/38 GREEN
  src/proxy_infra/infrastructure/fallback/__init__.py
  src/proxy_infra/infrastructure/fallback/iptables_redirect.py
  src/proxy_infra/infrastructure/relay/__init__.py
  src/proxy_infra/infrastructure/relay/socks_relay_manager.py
  tests/unit/proxy_infra/test_socks_relay.py
Due: pyright, pytest

feat(proj-023): TASK-023-017/018/020 BPF production manager — 47/47 GREEN
  src/proxy_infra/infrastructure/bpf/__init__.py
  src/proxy_infra/infrastructure/bpf/bpf_manager.py
  src/proxy_infra/infrastructure/bpf/original_destination.py
  src/proxy_infra/infrastructure/bpf/socks_bridge.py
  tests/unit/proxy_infra/test_ebpf_production.py
Due: pyright, pytest

chore(proj-023): worktracker sync — TASK-016/017/018/019/020 completed
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-016-socks-bridge-container/TASK-023-016-socks-bridge-container.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-017-bpf-connect4-program/TASK-023-017-bpf-connect4-program.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-018-clm-bpf-attach/TASK-023-018-clm-bpf-attach.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-019-iptables-redsocks-mvp/TASK-023-019-iptables-redsocks-mvp.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-020-bdd-red-phase/TASK-023-020-bdd-red-phase.md
Due: pytest

feat(proj-023): TASK-023-044 sidecar logging + TASK-023-047 connection limits — 31/31 GREEN
  src/proxy_infra/infrastructure/logging/__init__.py
  src/proxy_infra/infrastructure/logging/sidecar_access_logger.py
  src/proxy_infra/infrastructure/relay/connection_limiter.py
  tests/unit/proxy_infra/test_sidecar_ops.py
Due: pyright, pytest

chore(proj-023): worktracker sync — TASK-044/047 completed, STORY-002 in_progress
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/STORY-023-002-socks-proxy-envoy.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-044-sidecar-json-logging/TASK-023-044-sidecar-json-logging.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-047-sidecar-connection-limits/TASK-023-047-sidecar-connection-limits.md
Due: pytest

feat(proj-023): STORY-023-002 remaining tasks — Envoy config, orchestration, autossh
  src/proxy_infra/application/handlers/auto_provision_handler.py
  src/proxy_infra/application/handlers/container_lifecycle_port.py
  src/proxy_infra/application/handlers/distribution_result.py
  src/proxy_infra/application/handlers/manifest_writer_port.py
  src/proxy_infra/application/handlers/node_health_port.py
  src/proxy_infra/application/handlers/provision_result.py
  src/proxy_infra/application/handlers/rotation_handler.py
  src/proxy_infra/application/handlers/rotation_result.py
  src/proxy_infra/application/handlers/secrets_distribution_handler.py
  src/proxy_infra/application/handlers/sidecar_action.py
  src/proxy_infra/application/handlers/sidecar_lifecycle_handler.py
  src/proxy_infra/application/handlers/sidecar_lifecycle_result.py
  src/proxy_infra/application/handlers/ssh_readiness_port.py
  src/proxy_infra/infrastructure/compose/__init__.py
  src/proxy_infra/infrastructure/compose/sidecar_compose.py
  src/proxy_infra/infrastructure/envoy/__init__.py
  src/proxy_infra/infrastructure/envoy/proxy_route_config.py
  src/proxy_infra/infrastructure/relay/__init__.py
  src/proxy_infra/infrastructure/tunnel/__init__.py
  src/proxy_infra/infrastructure/tunnel/autossh_manager.py
Due: pyright, pytest

chore(proj-023): worktracker sync — TASK-017/018/020/044/047 completed
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
Due: pytest

feat(proj-023): EPIC-023-007 COMPLETE — 510 tests, both features delivered
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-010-envoy-socks-implementation/TASK-023-010-envoy-socks-implementation.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-011-clm-socks-integration/TASK-023-011-clm-socks-integration.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-012-compose-socks-sidecar/TASK-023-012-compose-socks-sidecar.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-013-socks-proxy-e2e-tests/TASK-023-013-socks-proxy-e2e-tests.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-014-proxy-provisioning/TASK-023-014-proxy-provisioning.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-015-proxy-health-rotation/TASK-023-015-proxy-health-rotation.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-021-credential-management/TASK-023-021-credential-management.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-022-autossh-tunnel-manager/TASK-023-022-autossh-tunnel-manager.md
  tests/unit/proxy_infra/test_autossh_manager.py
  tests/unit/proxy_infra/test_e2e_placeholder.py
  tests/unit/proxy_infra/test_envoy_proxy_config.py
  tests/unit/proxy_infra/test_orchestration_handlers.py
Due: pyright, pytest

chore(proj-023): EPIC-023-007 worktracker COMPLETE — all entities synced
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/STORY-023-002-socks-proxy-envoy.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-022-autossh-tunnel-manager/TASK-023-022-autossh-tunnel-manager.md
Due: pytest

fix(proj-023): C4 quality gate iteration 2 — 4 gaps fixed
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/EPIC-023-007-proxy-infrastructure.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/c4-score-epic-007-final.md
  src/proxy_infra/application/handlers/add_provider_handler.py
  src/proxy_infra/application/handlers/health_check_handler.py
  src/proxy_infra/application/handlers/rotate_handler.py
  src/proxy_infra/infrastructure/adapters/digitalocean_adapter.py
Due: pyright, pytest

fix(proj-023): C4 iteration 3 — OPSEC fix + 29 handler tests (783 total pass)
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/c4-score-epic-007-v2.md
  src/proxy_infra/application/handlers/rotate_handler.py
  tests/unit/proxy_infra/test_handler_completeness.py
Due: pyright, pytest

feat(proj-023): EPIC-023-007 C4 PASS — 0.956 quality gate cleared
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/c4-score-epic-007-v3.md
Due: pytest

feat(proj-023): FEAT-023-004 + EPIC-023-008 worktracker entities — hands-free pipeline + engagement lifecycle research
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/EPIC-023-007-proxy-infrastructure.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/FEAT-023-004-hands-free-pipeline.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-007-engagement-config-bootstrap/STORY-023-007-engagement-config-bootstrap.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-007-engagement-config-bootstrap/TASK-023-049-bdd-engagement-config/TASK-023-049-bdd-engagement-config.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-007-engagement-config-bootstrap/TASK-023-050-engagement-config-parser/TASK-023-050-engagement-config-parser.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-007-engagement-config-bootstrap/TASK-023-051-ssh-keygen-adapter/TASK-023-051-ssh-keygen-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-007-engagement-config-bootstrap/TASK-023-052-engage-cli-command/TASK-023-052-engage-cli-command.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-008-ssh-credential-injection/STORY-023-008-ssh-credential-injection.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-008-ssh-credential-injection/TASK-023-053-bdd-ssh-injection/TASK-023-053-bdd-ssh-injection.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-008-ssh-credential-injection/TASK-023-054-ssh-readiness-adapter/TASK-023-054-ssh-readiness-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-008-ssh-credential-injection/TASK-023-055-ssh-injection-handler/TASK-023-055-ssh-injection-handler.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-008-ssh-credential-injection/TASK-023-056-socks5-credential-return/TASK-023-056-socks5-credential-return.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-009-e2e-pipeline-orchestration/STORY-023-009-e2e-pipeline-orchestration.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-009-e2e-pipeline-orchestration/TASK-023-057-bdd-e2e-pipeline/TASK-023-057-bdd-e2e-pipeline.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-009-e2e-pipeline-orchestration/TASK-023-058-autoprovision-injection-stage/TASK-023-058-autoprovision-injection-stage.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-009-e2e-pipeline-orchestration/TASK-023-059-manifest-bpf-compose/TASK-023-059-manifest-bpf-compose.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-009-e2e-pipeline-orchestration/TASK-023-060-e2e-integration-test/TASK-023-060-e2e-integration-test.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/audit-report-feat-004.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EN-023-002-engagement-lifecycle-research/EN-023-002-engagement-lifecycle-research.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EN-023-002-engagement-lifecycle-research/TASK-023-061-lifecycle-research/TASK-023-061-lifecycle-research.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EN-023-002-engagement-lifecycle-research/TASK-023-062-ux-journey-mapping/TASK-023-062-ux-journey-mapping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EN-023-002-engagement-lifecycle-research/TASK-023-063-architecture-decision/TASK-023-063-architecture-decision.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EN-023-002-engagement-lifecycle-research/TASK-023-064-c4-quality-gate/TASK-023-064-c4-quality-gate.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-008-engagement-lifecycle/EPIC-023-008-engagement-lifecycle.md
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
