Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

fix: require --project flag for uv run jerry CLI invocations (BUG-001)
  .claude/rules
  .claude/rules/python-environment.md
  projects/PROJ-002-windows-compat/PLAN.md
  projects/PROJ-002-windows-compat/WORKTRACKER.md
  skills/transcript/docs/RUNBOOK.md
Due: pytest

chore: fix missing newline at end of CNAME
  CNAME
Due: none

fix: bootstrap PROJ-030-bugs and file BUG-001 for memory-keeper tool name mismatch
  projects/PROJ-030-bugs/PLAN.md
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/research/memory-keeper-tool-name-audit.md
  projects/PROJ-030-bugs/work/BUG-001-memory-keeper-tool-names.md
  projects/README.md
Due: pytest

chore: add .claude/worktrees/ to gitignore
  .gitignore
Due: none

docs: add three-layer tool naming architecture to memory-keeper audit
  projects/PROJ-030-bugs/research/memory-keeper-tool-name-audit.md
Due: pytest

feat(portability): add PROJ-017 cross-platform compatibility analysis
  projects/PROJ-017-portability/PLAN.md
  projects/PROJ-017-portability/WORKTRACKER.md
  skills/eng-team/output/PORT-001/adv-scorer-quality-report.md
  skills/eng-team/output/PORT-001/eng-security-portability-analysis.md
  skills/eng-team/output/PORT-001/issue-drafts.md
Due: pytest

fix(migration): use uv instead of system python3 for macOS symlink resolution
  projects/PROJ-017-portability/WORKTRACKER.md
  scripts/migration/verify-symlinks.sh
  skills/eng-team/output/GH-118/adv-scorer-quality-report.md
  skills/eng-team/output/GH-118/eng-backend-implementation.md
Due: pytest

docs: add PROJ-017 worktracker entities with schema-compliant structure
  projects/PROJ-017-portability/PLAN.md
  projects/PROJ-017-portability/WORKTRACKER.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/EN-017-001-windows-ci-pipeline/EN-017-001.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/EN-017-002-platform-portability-tests/EN-017-002.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/EN-017-002-portability-test-suite/.gitkeep
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/EPIC-017-001.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-001-shell-command-portability/BUG-017-001-statusline-python3/BUG-017-001.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-001-shell-command-portability/BUG-017-002-migration-scripts-bash/BUG-017-002.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-001-shell-command-portability/BUG-017-006-macos-symlink-resolution/BUG-017-006.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-001-shell-command-portability/FEAT-017-001.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-002-file-system-portability/BUG-017-003-symlinks-privileges/BUG-017-003.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-002-file-system-portability/BUG-017-004-missing-gitattributes/BUG-017-004.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-002-file-system-portability/BUG-017-005-hardcoded-path-separator/BUG-017-005.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-002-file-system-portability/FEAT-017-002.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-003-documentation-portability/BUG-017-007-tmp-in-docstrings/BUG-017-007.md
  projects/PROJ-017-portability/work/EPIC-017-001-platform-portability/FEAT-017-003-documentation-portability/FEAT-017-003.md
Due: pytest

docs(GH-118): add adversarial quality review artifacts
  skills/eng-team/output/GH-118/adv-iteration-1-score.md
  skills/eng-team/output/GH-118/adv-iteration-2-bugs-score.md
  skills/eng-team/output/GH-118/adv-iteration-3-steelman-devils.md
  skills/eng-team/output/GH-118/adv-iteration-5-premortem.md
Due: pytest

docs: complete C4 adversarial tournament for Context7 namespace analysis
  projects/PROJ-030-bugs/research/adversarial/c4-tournament-synthesis.md
  projects/PROJ-030-bugs/research/adversarial/report1-s001-red-team.md
  projects/PROJ-030-bugs/research/adversarial/report1-s002-devils-advocate.md
  projects/PROJ-030-bugs/research/adversarial/report1-s003-steelman.md
  projects/PROJ-030-bugs/research/adversarial/report1-s004-pre-mortem.md
  projects/PROJ-030-bugs/research/adversarial/report1-s007-constitutional.md
  projects/PROJ-030-bugs/research/adversarial/report1-s010-self-refine.md
  projects/PROJ-030-bugs/research/adversarial/report1-s011-chain-verify.md
  projects/PROJ-030-bugs/research/adversarial/report1-s012-fmea.md
  projects/PROJ-030-bugs/research/adversarial/report1-s013-inversion.md
  projects/PROJ-030-bugs/research/adversarial/report1-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/report2-s001-red-team.md
  projects/PROJ-030-bugs/research/adversarial/report2-s002-devils-advocate.md
  projects/PROJ-030-bugs/research/adversarial/report2-s003-steelman.md
  projects/PROJ-030-bugs/research/adversarial/report2-s004-pre-mortem.md
  projects/PROJ-030-bugs/research/adversarial/report2-s007-constitutional.md
  projects/PROJ-030-bugs/research/adversarial/report2-s010-self-refine.md
  projects/PROJ-030-bugs/research/adversarial/report2-s011-chain-verify.md
  projects/PROJ-030-bugs/research/adversarial/report2-s012-fmea.md
  projects/PROJ-030-bugs/research/adversarial/report2-s013-inversion.md
  projects/PROJ-030-bugs/research/adversarial/report2-s014-scoring.md
  projects/PROJ-030-bugs/research/context7-extraction-summary.md
  projects/PROJ-030-bugs/research/context7-permission-model.md
  projects/PROJ-030-bugs/research/context7-plugin-architecture.md
Due: pytest

docs: complete 3-cycle revision pipeline for Context7 namespace reports
  projects/PROJ-030-bugs/research/adversarial/c4-tournament-deep-dive.md
  projects/PROJ-030-bugs/research/adversarial/rescore1-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/rescore1-v3-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/rescore1-v4-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/rescore2-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/rescore2-v3-s014-scoring.md
  projects/PROJ-030-bugs/research/adversarial/rescore2-v4-s014-scoring.md
  projects/PROJ-030-bugs/research/context7-permission-model.md
  projects/PROJ-030-bugs/research/context7-plugin-architecture.md
Due: pytest

chore(proj-002): add .gitkeep to track work/ directory in CI
  projects/PROJ-002-windows-compat/work/.gitkeep
Due: none

fix: restore empty-string contract in _split_into_sections after splitlines() migration
  src/agents/domain/services/prompt_transformer.py
Due: pyright, pytest

fix: replace .claude/rules/ directory with symlink to .context/rules/
  .claude/rules
  .claude/rules/python-environment.md
Due: pytest

feat(GH-122): add PROJ-014 negative prompting research orchestration plan
  projects/PROJ-014-negative-prompting-research/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/PLAN.md
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/adversary/c4-tournament/.gitkeep
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/.gitkeep
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-2/.gitkeep
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-3/.gitkeep
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/.gitkeep
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-5/.gitkeep
  projects/PROJ-014-negative-prompting-research/work/.gitkeep
  projects/README.md
  uv.lock
Due: pytest

docs(GH-122): add Phase 1 research outputs and update orchestration state
  projects/PROJ-014-negative-prompting-research/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-findings-iter1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-findings-iter2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-findings-iter3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-findings-iter4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-gate.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-001-strategy-plan.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-execution-iter2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-execution-iter3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-execution-iter4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-execution-iter5.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-execution.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-gate.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-002-selection.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings-i5.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings-i6.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-executor-findings.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-gate.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i5.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-scorer-i6.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/agent-gates/ps-researcher-003-strategy-selection.md
  projects/PROJ-014-negative-prompting-research/research/academic-survey.md
  projects/PROJ-014-negative-prompting-research/research/context7-survey.md
  projects/PROJ-014-negative-prompting-research/research/industry-survey.md
  projects/PROJ-014-negative-prompting-research/research/source-extraction-index.md
Due: pytest

docs(GH-122): complete Barrier 1 cross-pollination synthesis (0.953, C4 PASS)
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-executor-findings-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-executor-findings-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-executor-findings-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-gate.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-scorer-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/adversary-selection.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/synthesis.md
Due: pytest

docs(GH-122): add supplemental vendor evidence report and orchestration plan (0.951, C4 PASS)
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-findings-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-findings-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-findings-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-gate.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-scorer-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-adversary-selection.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-1/supplemental-vendor-evidence.md
Due: pytest

docs(GH-122): complete Phase 2 analysis and Barrier 2 synthesis (C4 PASS)
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-2/adversary-synthesis-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-2/adversary-synthesis-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-2/adversary-synthesis-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-2/synthesis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-claim-validation-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-claim-validation-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-claim-validation-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-claim-validation-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-comparative-effectiveness-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-comparative-effectiveness-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-comparative-effectiveness-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-comparative-effectiveness-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/adversary-comparative-effectiveness-i5.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/claim-validation.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-2/comparative-effectiveness.md
Due: pytest

docs(GH-122): complete Phase 3 taxonomy and Barrier 3 quality gate (C4 PASS)
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-3/adversary-taxonomy-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-3/adversary-taxonomy-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-3/adversary-taxonomy-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-3/taxonomy-pattern-catalog.md
Due: pytest

docs(GH-122): complete Phase 4 framework application analysis and Barrier 4 synthesis (C4 PASS)
  projects/PROJ-014-negative-prompting-research/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/adversary-gate-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/adversary-gate-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/adversary-gate-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/adversary-gate-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-4/synthesis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-agents-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-agents-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-agents-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-patterns-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-patterns-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-patterns-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-patterns-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-patterns-i5.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-skills-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-skills-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-templates-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-templates-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/adversary-templates-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/agents-update-analysis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/patterns-update-analysis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/rules-update-analysis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/skills-update-analysis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-4/templates-update-analysis.md
Due: pytest

docs(GH-122): complete Phase 5 implementation planning and Barrier 5 synthesis (C4 PASS)
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-5/adversary-gate-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-5/adversary-gate-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/barrier-5/synthesis.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/ADR-001-npt014-elimination.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/ADR-002-constitutional-upgrades.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/ADR-003-routing-disambiguation.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/ADR-004-compaction-resilience.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr001-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr001-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr001-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr001-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr002-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr002-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr002-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr003-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr003-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr003-i3.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr003-i4.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr004-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr004-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/adversary-adr004-i3.md
Due: pytest

docs(GH-122): complete Phase 6 final synthesis and C4 tournament — PROJ-014 COMPLETE
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION.yaml
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-6/adversary-tournament-i1.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-6/adversary-tournament-i2.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-6/final-synthesis.md
Due: pytest

docs(GH-122): add ADR-001 implementation plan and NPT-014 inventory
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/adr001-implementation/ORCHESTRATION_PLAN.md
  projects/PROJ-014-negative-prompting-research/orchestration/adr001-implementation/phase-1-npt014-inventory.md
Due: pytest

feat(GH-122): implement ADR-001 NPT-014 elimination across framework
  .context/rules/agent-development-standards.md
  .context/rules/agent-routing-standards.md
  .context/rules/coding-standards.md
  .context/rules/mandatory-skill-usage.md
  .context/rules/project-workflow.md
  .context/rules/python-environment.md
  .context/rules/quality-enforcement.md
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  skills/nasa-se/agents/nse-configuration.md
  skills/nasa-se/agents/nse-explorer.md
  skills/nasa-se/agents/nse-integration.md
  skills/nasa-se/agents/nse-qa.md
  skills/nasa-se/agents/nse-requirements.md
  skills/nasa-se/agents/nse-reviewer.md
  skills/nasa-se/agents/nse-risk.md
  skills/nasa-se/agents/nse-verification.md
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/agents/orch-synthesizer.md
  skills/orchestration/agents/orch-tracker.md
  skills/problem-solving/agents/ps-analyst.md
  skills/problem-solving/agents/ps-architect.md
  skills/problem-solving/agents/ps-critic.md
  skills/problem-solving/agents/ps-investigator.md
  skills/problem-solving/agents/ps-reporter.md
  skills/problem-solving/agents/ps-researcher.md
  skills/problem-solving/agents/ps-reviewer.md
  skills/problem-solving/agents/ps-synthesizer.md
  skills/problem-solving/agents/ps-validator.md
  skills/saucer-boy-framework-voice/SKILL.md
  skills/saucer-boy/SKILL.md
  skills/transcript/agents/ts-extractor.md
  skills/transcript/agents/ts-formatter.md
  skills/transcript/agents/ts-mindmap-ascii.md
  skills/transcript/agents/ts-mindmap-mermaid.md
  skills/transcript/agents/ts-parser.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
Due: pytest

fix(GH-122): add missing worktracker entity files for EPIC-005/FEAT-001/TASK-021-024
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/EPIC-005-adr-implementation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/FEAT-001-implement-adr-001-npt-014-elimination.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-021-baseline-capture.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-022-rule-files-upgrade.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-023-agent-definitions-upgrade.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-024-skill-md-upgrade.md
Due: pytest

feat(GH-122): add EPIC-006 validation & publication work items (TASK-025-029)
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/EPIC-006-validation-and-publication.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/TASK-025-ab-testing.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/TASK-026-jerry-docs-article.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/TASK-027-medium-article.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/TASK-028-tweet-cross-post.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-006-validation-and-publication/TASK-029-slack-message.md
Due: pytest

feat(GH-122): add remaining ADR implementation work items and post-impl tasks
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/EPIC-005-adr-implementation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/FEAT-001-implement-adr-001-npt-014-elimination.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-030-npt014-diagnostic-scan.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-031-update-phase1-inventory.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-032-adr001-status-accepted.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/FEAT-002-implement-adr-002-constitutional-upgrades.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/TASK-033-guardrails-template-upgrade.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/TASK-034-governance-schema-update.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/TASK-035-phase5b-conditional-adoption.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-003-implement-adr-003-routing-disambiguation/FEAT-003-implement-adr-003-routing-disambiguation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-003-implement-adr-003-routing-disambiguation/TASK-036-routing-disambiguation-sections.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-003-implement-adr-003-routing-disambiguation/TASK-037-framing-vocabulary-standardization.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/FEAT-004-implement-adr-004-compaction-resilience.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-038-pg004-compaction-testing.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-039-l2-reinject-h04-h32.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-040-t004-failure-mode-docs.md
Due: pytest

feat(GH-122): upgrade guardrails template to NPT-009 format and add forbidden_action_format schema field
  .context/rules/agent-development-standards.md
  docs/schemas/agent-governance-v1.schema.json
Due: pytest

feat(GH-122): upgrade 8 residual NSE agent P-043 lines to NPT-013 format
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/diagnostic-scan-report.md
  skills/nasa-se/agents/nse-configuration.md
  skills/nasa-se/agents/nse-explorer.md
  skills/nasa-se/agents/nse-integration.md
  skills/nasa-se/agents/nse-qa.md
  skills/nasa-se/agents/nse-requirements.md
  skills/nasa-se/agents/nse-reviewer.md
  skills/nasa-se/agents/nse-risk.md
  skills/nasa-se/agents/nse-verification.md
Due: pytest

docs(GH-122): complete FEAT-001 (ADR-001), FEAT-002 Phase 5A; update worktracker
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/orchestration/adr001-implementation/phase-1-npt014-inventory.md
  projects/PROJ-014-negative-prompting-research/orchestration/neg-prompting-20260227-001/phase-5/ADR-001-npt014-elimination.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/EPIC-005-adr-implementation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/FEAT-001-implement-adr-001-npt-014-elimination.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-030-npt014-diagnostic-scan.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-031-update-phase1-inventory.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-001-implement-adr-001-npt-014-elimination/TASK-032-adr001-status-accepted.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/FEAT-002-implement-adr-002-constitutional-upgrades.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/TASK-033-guardrails-template-upgrade.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-002-implement-adr-002-constitutional-upgrades/TASK-034-governance-schema-update.md
Due: pytest

feat(GH-122): implement ADR-003 routing disambiguation and ADR-004 compaction resilience
  .context/rules/project-workflow.md
  .context/rules/quality-enforcement.md
  .context/rules/testing-standards.md
  .context/templates/worktracker/BUG.md
  .context/templates/worktracker/DECISION.md
  .context/templates/worktracker/DISCOVERY.md
  .context/templates/worktracker/ENABLER.md
  .context/templates/worktracker/EPIC.md
  .context/templates/worktracker/FEATURE.md
  .context/templates/worktracker/SPIKE.md
  .context/templates/worktracker/STORY.md
  .context/templates/worktracker/TASK.md
  skills/adversary/SKILL.md
  skills/architecture/SKILL.md
  skills/ast/SKILL.md
  skills/bootstrap/SKILL.md
  skills/eng-team/SKILL.md
  skills/nasa-se/SKILL.md
  skills/orchestration/SKILL.md
  skills/problem-solving/SKILL.md
  skills/red-team/SKILL.md
  skills/saucer-boy-framework-voice/SKILL.md
  skills/saucer-boy/SKILL.md
  skills/transcript/SKILL.md
  skills/worktracker/SKILL.md
Due: pytest

docs(GH-122): update worktracker for FEAT-003/004 completion
  projects/PROJ-014-negative-prompting-research/WORKTRACKER.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/EPIC-005-adr-implementation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-003-implement-adr-003-routing-disambiguation/FEAT-003-implement-adr-003-routing-disambiguation.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-003-implement-adr-003-routing-disambiguation/TASK-036-routing-disambiguation-sections.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/FEAT-004-implement-adr-004-compaction-resilience.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-038-pg004-compaction-testing.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-039-l2-reinject-h04-h32.md
  projects/PROJ-014-negative-prompting-research/work/EPIC-005-adr-implementation/FEAT-004-implement-adr-004-compaction-resilience/TASK-040-t004-failure-mode-docs.md
Due: pytest

fix(GH-124): register 6 diataxis agents in Claude Code plugin manifest
  .claude-plugin/plugin.json
Due: validate-plugin-manifests

docs(GH-99): add transparency report R4 and adversarial review artifacts
  projects/PROJ-013-diataxis/reports/transparency-report-proj-013.md
  projects/PROJ-013-diataxis/reviews/adversary-r1-premortem-fmea.md
  projects/PROJ-013-diataxis/reviews/adversary-r1-steelman-inversion.md
  projects/PROJ-013-diataxis/reviews/adversary-r1-transparency-report.md
  projects/PROJ-013-diataxis/reviews/adversary-r2-premortem-fmea.md
  projects/PROJ-013-diataxis/reviews/adversary-r2-steelman-inversion.md
  projects/PROJ-013-diataxis/reviews/adversary-r2-transparency-report.md
  projects/PROJ-013-diataxis/reviews/adversary-r3-arithmetic-audit.md
  projects/PROJ-013-diataxis/reviews/adversary-score-r1-transparency-report.md
  projects/PROJ-013-diataxis/reviews/adversary-score-r2-transparency-report.md
  projects/PROJ-013-diataxis/reviews/adversary-score-r3-transparency-report.md
  projects/PROJ-013-diataxis/reviews/adversary-score-r4-transparency-report.md
  src/domain/markdown_ast/document_type.py
Due: pyright, pytest

feat(gitattributes): add cross-platform line ending consistency
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/ci.yml
Due: none

fix(cname): add missing newline at end of file
  CNAME
Due: none

chore(ci): defer line-ending-check job pending workflow scope
  .github/workflows/ci.yml
Due: none
