Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

feat(proj-023): W5 complete — cross-skill output-side modifications (14 tasks, 31 files)
  docs/schemas/cfe-v1.schema.json
  docs/schemas/dge-v1.schema.json
  docs/schemas/emulation-manifest-v1.schema.json
  docs/schemas/rbee-v1.schema.json
  projects/PROJ-023-exploit-framework/work/analysis/d3fend-coverage-verification.md
  skills/blue-team/agents/blue-comply.governance.yaml
  skills/blue-team/agents/blue-comply.md
  skills/blue-team/agents/blue-d3fend.governance.yaml
  skills/blue-team/agents/blue-d3fend.md
  skills/blue-team/agents/blue-detect.governance.yaml
  skills/blue-team/agents/blue-intel.governance.yaml
  skills/blue-team/agents/blue-ioc.governance.yaml
  skills/blue-team/agents/blue-lead.governance.yaml
  skills/blue-team/agents/blue-lead.md
  skills/rainbow/templates/purple-team-orchestration-template.md
  skills/red-team/agents/red-exfil.governance.yaml
  skills/red-team/agents/red-exfil.md
  skills/red-team/agents/red-exploit.governance.yaml
  skills/red-team/agents/red-exploit.md
  skills/red-team/agents/red-lateral.governance.yaml
  skills/red-team/agents/red-lateral.md
  skills/red-team/agents/red-lead.governance.yaml
  skills/red-team/agents/red-lead.md
  skills/red-team/agents/red-persist.governance.yaml
  skills/red-team/agents/red-persist.md
  skills/red-team/agents/red-privesc.governance.yaml
  skills/red-team/agents/red-privesc.md
  skills/red-team/agents/red-reporter.governance.yaml
  skills/red-team/agents/red-reporter.md
  skills/red-team/agents/red-vuln.governance.yaml
  skills/red-team/agents/red-vuln.md
Due: pytest

fix(proj-023): B4 iter1 score 0.877 REVISE + iter2 remediation — CFE schema alignment
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b4/iter1/b4-iter1-composite-score.md
  skills/blue-team/agents/blue-comply.governance.yaml
  skills/blue-team/agents/blue-d3fend.md
  skills/red-team/agents/red-vuln.md
Due: pytest

fix(proj-023): B4 iter2 score 0.909 REVISE + iter3 fix — template taint_level alignment
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b4/iter2/b4-iter2-composite-score.md
  skills/rainbow/templates/purple-team-orchestration-template.md
Due: pytest

fix(proj-023): B4 iter3 score 0.917 REVISE + iter4 micro-fixes — taint_level alignment
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b4/iter3/b4-iter3-composite-score.md
  skills/rainbow/templates/purple-team-orchestration-template.md
Due: pytest

feat(proj-023): B4 quality gate PASS at 0.929 — 4 iterations
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b4/iter4/b4-iter4-composite-score.md
Due: pytest

chore(proj-023): Add W6 resume prompt checkpoint
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-7-w6-resume-prompt.md
Due: pytest

chore(proj-023): Update ORCHESTRATION.yaml SSOT — B1-B4 PASS, W2a-W5 COMPLETE
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

feat(proj-023): W6 complete — cross-skill input-side modifications (11 tasks, 18 files)
  skills/blue-team/agents/blue-d3fend.governance.yaml
  skills/blue-team/agents/blue-d3fend.md
  skills/blue-team/agents/blue-detect.governance.yaml
  skills/blue-team/agents/blue-detect.md
  skills/blue-team/agents/blue-ioc.governance.yaml
  skills/blue-team/agents/blue-ioc.md
  skills/eng-team/agents/eng-architect.governance.yaml
  skills/eng-team/agents/eng-architect.md
  skills/eng-team/agents/eng-devsecops.governance.yaml
  skills/eng-team/agents/eng-devsecops.md
  skills/eng-team/agents/eng-incident.governance.yaml
  skills/eng-team/agents/eng-incident.md
  skills/eng-team/agents/eng-security.governance.yaml
  skills/eng-team/agents/eng-security.md
  skills/red-team/agents/red-lead.governance.yaml
  skills/red-team/agents/red-lead.md
  skills/red-team/agents/red-vuln.governance.yaml
  skills/red-team/agents/red-vuln.md
Due: pytest

chore(proj-023): Update ORCHESTRATION.yaml SSOT — W6 COMPLETE
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): B5 iter1 score 0.908 REVISE + iter2 fix — DGE flat array alignment
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b5/iter1/b5-iter1-composite-score.md
  skills/red-team/agents/red-lead.md
Due: pytest

fix(proj-023): B5 iter2 score 0.912 REVISE + iter3 fix — DGE priority field in d3fend on_send
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b5/iter2/b5-iter2-composite-score.md
  skills/blue-team/agents/blue-d3fend.governance.yaml
Due: pytest

chore(proj-023): Update ORCHESTRATION.yaml SSOT — W6 COMPLETE, B5 ACCEPTED at 0.912
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

feat(proj-023): W7 complete — E2E testing + Diataxis documentation (14 tasks)
  .github/workflows/proj023-ci.yml
  docs/explanation/hybrid-bc-architecture.md
  docs/explanation/trust-boundary-purple-team.md
  docs/howto/tool-setup-by-tier.md
  docs/reference/agent-registry-rainbow-blue.md
  docs/reference/tool-cli-patterns.md
  docs/tutorials/getting-started-blue-team.md
  docs/tutorials/getting-started-rainbow.md
  projects/PROJ-023-exploit-framework/work/e2e-testing/container-e2e-verification.md
  projects/PROJ-023-exploit-framework/work/e2e-testing/credential-filter-regression.md
  projects/PROJ-023-exploit-framework/work/e2e-testing/cross-sub-skill-pipeline.md
  projects/PROJ-023-exploit-framework/work/e2e-testing/purple-team-dry-run.md
  projects/PROJ-023-exploit-framework/work/e2e-testing/stix-sandboxing-feasibility.md
Due: pytest

feat(orchestration): add Consensus Panel pattern for parallel Gemini/Codex/Claude CLI invocation
  skills/orchestration/PLAYBOOK.md
  skills/orchestration/SKILL.md
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/docs/MULTI_CLI_INTEGRATION.md
  skills/orchestration/docs/PATTERNS.md
Due: pytest

fix(proj-023): B6 iter1 score 0.856 + iter2 fixes — blue-lead cognitive mode, schema ref
  docs/reference/agent-registry-rainbow-blue.md
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b6/iter1/b6-iter1-composite-score.md
Due: pytest

fix(orchestration): harden Consensus Panel — C4 adversarial review findings F-001–F-009
  skills/orchestration/PLAYBOOK.md
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/docs/MULTI_CLI_INTEGRATION.md
  skills/orchestration/docs/PATTERNS.md
Due: pytest

feat(proj-023): ORCHESTRATION COMPLETE — all 8 waves delivered, 6 barriers passed
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

chore(proj-023): ORCHESTRATION.yaml — PR #211 created, lifecycle REVIEW
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(orchestration): patch Consensus Panel pre-flight — real-world test findings T-001–T-003
  skills/orchestration/docs/MULTI_CLI_INTEGRATION.md
Due: pytest

chore(proj-023): Final ORCHESTRATION.yaml SSOT checkpoint — all 8 waves COMPLETE, all 6 barriers PASS
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

docs(proj-023): Add COMPLETION_CHECKPOINT.md — final comprehensive status document
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/COMPLETION_CHECKPOINT.md
Due: pytest

feat(orchestration): first live Consensus Panel run — PROJ-006, 2-model partial panel
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/ORCHESTRATION.yaml
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-codex-critique-prompt.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-codex-critique.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-codex-draft.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-codex-prompt.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-gemini-critique-prompt.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-gemini-critique.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-gemini-draft.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-gemini-prompt.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-intent.md
  projects/PROJ-006-multi-instance/orchestration/consensus-panel-20260316-001/consensus/phase-1-draft-synthesis.md
  skills/orchestration/docs/MULTI_CLI_INTEGRATION.md
Due: pytest

chore(proj-023): Mark PROJ-023 COMPLETE in project registry
  projects/README.md
Due: pytest

fix(proj-023): Skill structure review — nested sub-skills MUST move to flat
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/analysis/agent-placement-research.md
  projects/PROJ-023-exploit-framework/work/analysis/skill-placement-architecture-review.md
  projects/PROJ-023-exploit-framework/work/analysis/skill-structure-devils-advocate.md
Due: pytest

chore(proj-023): Add W8 restructure resume prompt + memory-keeper checkpoint
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-7-w8-restructure-resume-prompt.md
Due: pytest

feat(proj-023): W8 COMPLETE, B7 PASS at 0.934 — ORCHESTRATION COMPLETE (final)
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b7/iter1/b7-iter1-composite-score.md
Due: pytest

fix(proj-023): DEF-001 rainbow-reporter PLANNED marker + DEF-004 blue-lead BDD
  AGENTS.md
  projects/PROJ-023-exploit-framework/work/analysis/final-sanity-check.md
  skills/blue-team/tests/bdd/test_blue_lead.feature
Due: pytest

chore(proj-023): Frontmatter integrity check — 24/24 PASS, zero sed corruption
  projects/PROJ-023-exploit-framework/work/analysis/frontmatter-integrity-check.md
Due: pytest

audit(proj-023): Container deliverables gap analysis — 5 tasks incomplete
  projects/PROJ-023-exploit-framework/work/analysis/container-deliverables-gap-analysis.md
Due: pytest

chore(proj-023): W9 container remediation planned — 9 tasks, B8 gate, B6 re-score
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-7-w9-container-remediation-resume-prompt.md
Due: pytest

feat(proj-023): W9 T9.1-T9.7 — real containers, canary fixtures, CI pipeline
  .github/workflows/proj023-ci.yml
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  skills/blue-team/tests/docker/docker-compose.yml
  skills/blue-team/tests/docker/e2e-test.sh
  skills/rainbow-cloud/tests/docker/cloud-auditor/Dockerfile
  skills/rainbow-cloud/tests/docker/docker-compose.yml
  skills/rainbow-cloud/tests/docker/e2e-test.sh
  skills/rainbow-exploit/tests/docker/PLACEHOLDER.md
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-exploit/tests/docker/e2e-test.sh
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-msf/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-ops/Dockerfile
  skills/rainbow-recon/tests/docker/docker-compose.yml
  skills/rainbow-recon/tests/docker/e2e-test.sh
  skills/rainbow-recon/tests/docker/recon-pipeline/Dockerfile
  skills/rainbow-runtime/tests/docker/PLACEHOLDER.md
  skills/rainbow-runtime/tests/docker/docker-compose.yml
  skills/rainbow-runtime/tests/docker/e2e-test.sh
  skills/rainbow-runtime/tests/docker/frida/Dockerfile
  skills/rainbow-runtime/tests/docker/mitmproxy/Dockerfile
  skills/rainbow/tests/credential-fixtures/README.md
  skills/rainbow/tests/credential-fixtures/generate_canaries.py
Due: pyright, pytest

fix(proj-023): B8 iter1 0.871 REVISE — supply-chain e2e + sigma-cli in detection
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b8/iter1/b8-iter1-composite-score.md
  skills/blue-team/tests/docker/detection/Dockerfile
  skills/rainbow-supply-chain/tests/docker/docker-compose.yml
  skills/rainbow-supply-chain/tests/docker/e2e-test.sh
Due: pytest

feat(proj-023): B8 quality gate PASS at 0.921 — W9 container remediation verified
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b8/iter2/b8-iter2-composite-score.md
Due: pytest

chore(proj-023): ORCHESTRATION.yaml — W9 COMPLETE, B8 PASS 0.921, workflow COMPLETE
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): B8 iter2 0.901 REVISE — 5 container hardening fixes
  skills/blue-team/tests/docker/detection/Dockerfile
  skills/rainbow-cloud/tests/docker/README.md
  skills/rainbow-cloud/tests/docker/cloud-auditor/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-msf/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-ops/Dockerfile
  skills/rainbow-recon/tests/docker/PLACEHOLDER.md
Due: pytest

fix(proj-023): B8 iter3 0.911 REVISE — add HEALTHCHECK to exploit-ops + exploit-c2
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b8/iter3/b8-iter3-composite-score.md
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-ops/Dockerfile
Due: pytest

feat(proj-023): B8 quality gate PASS at 0.9245 — container infrastructure verified
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b8/iter4/b8-iter4-composite-score.md
Due: pytest

chore(proj-023): ORCHESTRATION.yaml SSOT — B8 PASS 0.9245 (4 iters), workflow COMPLETE
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

audit(proj-023): Container-agent integration gap — completely undefined
  projects/PROJ-023-exploit-framework/work/analysis/container-agent-integration-gap.md
Due: pytest
