Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(proj-023): wt-auditor fixes — 3 errors + 4 warnings resolved
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-010-envoy-unified-path/EN-023-010-envoy-unified-path.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-011-e2e-security-c4-gate/EN-023-011-e2e-security-c4-gate.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/FEAT-023-014-real-e2e-lifecycle.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/STORY-023-035-ebpf-developer-docs.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/audit-report-2026-03-30.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/quality-score-17-entities-2026-03-30.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/quality-score-17-entities-iter2.md
Due: pytest

docs(proj-023): Option C session prompt — 97/100 quality score (EXEMPLARY)
  projects/PROJ-023-exploit-framework/critiques/session-prompt-option-c-quality-score.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompt-option-c.md
Due: pytest

docs(proj-023): Option C session prompt — pe-builder + pe-scorer 97.33/100
  projects/PROJ-023-exploit-framework/critiques/session-prompt-option-c-pe-scorer.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompt-option-c.md
Due: pytest

feat(EPIC-002): execute Phase 0-1 — 7 bug fixes across UC pipeline, orchestration, and output path triage
  docs/schemas/use-case-realization-v1.schema.json
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/work/BUG-006-skill-output-path-hardcoded.md
  projects/PROJ-030-bugs/work/BUG-007-tspec-generator-skip-extensions.md
  projects/PROJ-030-bugs/work/BUG-008-tspec-analyst-live-uc-denominator.md
  projects/PROJ-030-bugs/work/BUG-009-tspec-analyst-aggregate-coverage.md
  projects/PROJ-030-bugs/work/BUG-010-uc-slicer-duplicate-slice-id.md
  projects/PROJ-030-bugs/work/BUG-011-cd-generator-banned-term-false-positive.md
  projects/PROJ-030-bugs/work/TASK-006-eng-team-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-007-red-team-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-008-ux-skills-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-009-remove-eng-team-outputs.md
  projects/PROJ-030-bugs/work/TASK-010-output-path-standard.md
  projects/PROJ-030-bugs/work/TASK-011-gitignore-skill-output.md
  projects/PROJ-030-bugs/work/TASK-012-diataxis-naming-consistency.md
  skills/contract-design/agents/cd-generator.md
  skills/orchestration/agents/orch-planner.governance.yaml
  skills/orchestration/agents/orch-planner.md
  skills/test-spec/agents/tspec-analyst.governance.yaml
  skills/test-spec/agents/tspec-analyst.md
  skills/test-spec/agents/tspec-generator.md
  skills/test-spec/rules/clark-transformation-rules.md
  skills/use-case/SKILL.md
  skills/use-case/agents/uc-slicer.md
Due: pytest

docs(proj-023): 4 focused session prompts replacing monolith (UX improvement)
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-1-bpf-programs.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-2-architecture-unified.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-3-docs-e2e.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-4-security-c4-gate.md
Due: pytest

feat(EPIC-002): add ADR-EPIC002-001 Unified Output Path Resolution Protocol
  docs/design/ADR-EPIC002-001-unified-output-path-resolution.md
Due: pytest

feat(proj-023): EN-023-009 three-program BPF for unified Envoy architecture
  projects/PROJ-023-exploit-framework/research/bpf-sock-ops-api-byte-order.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/EN-023-009-three-program-bpf.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/TASK-023-169-sockops-bpf/TASK-023-169-sockops-bpf.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/TASK-023-170-getsockopt-bpf/TASK-023-170-getsockopt-bpf.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/TASK-023-171-modify-connect4/TASK-023-171-modify-connect4.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/adversarial-s003-s002-findings.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/adversarial-s004-s012-findings.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/adversarial-s007-findings.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/adversarial-s013-findings.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009-final.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009-final2.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009-iter2.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009-iter3.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009-iter4.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/quality-score-en023009.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/security-review-somark-bypass.md
  src/proxy_infra/ebpf_poc/Makefile
  src/proxy_infra/ebpf_poc/connect4.bpf.c
  src/proxy_infra/ebpf_poc/getsockopt.bpf.c
  src/proxy_infra/ebpf_poc/maps.h
  src/proxy_infra/ebpf_poc/sockops.bpf.c
  src/proxy_infra/infrastructure/bpf/Dockerfile.bpf-builder
  tests/unit/proxy_infra/infrastructure/bpf/test_connect4_envoy_redirect.py
  tests/unit/proxy_infra/infrastructure/bpf/test_getsockopt_bpf.py
  tests/unit/proxy_infra/infrastructure/bpf/test_sockops_bpf.py
Due: pyright, pytest

docs(BUG-006): persist audit detail files in research/ (not work/)
  projects/PROJ-030-bugs/research/BUG-006-eng-audit-detail.md
  projects/PROJ-030-bugs/research/BUG-006-red-audit-detail.md
  projects/PROJ-030-bugs/research/BUG-006-ux-audit-detail.md
  projects/PROJ-030-bugs/work/BUG-006-skill-output-path-hardcoded.md
  projects/PROJ-030-bugs/work/TASK-008-ux-skills-path-remediation.md
Due: pytest

fix(worktracker): sync entity statuses across all trackers
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/work/BUG-007-tspec-generator-skip-extensions.md
  projects/PROJ-030-bugs/work/BUG-008-tspec-analyst-live-uc-denominator.md
  projects/PROJ-030-bugs/work/BUG-009-tspec-analyst-aggregate-coverage.md
  projects/PROJ-030-bugs/work/BUG-010-uc-slicer-duplicate-slice-id.md
  projects/PROJ-030-bugs/work/BUG-011-cd-generator-banned-term-false-positive.md
Due: pytest

fix(worktracker): align Phase 2 task entities with ADR-EPIC002-001 migration guide
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/work/TASK-006-eng-team-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-007-red-team-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-008-ux-skills-path-remediation.md
  projects/PROJ-030-bugs/work/TASK-010-output-path-standard.md
  projects/PROJ-030-bugs/work/TASK-015-governance-schema-filename-pattern.md
Due: pytest

feat(proj-023): EN-023-010 unified Envoy path with SO_MARK + 3-program BpfManager
  src/proxy_infra/application/handlers/destroy_handler.py
  src/proxy_infra/application/handlers/engage_pipeline_orchestrator.py
  src/proxy_infra/application/handlers/gated_lifecycle_manager.py
  src/proxy_infra/domain/ports/bpf_bypass_port.py
  src/proxy_infra/domain/ports/bpf_lifecycle_port.py
  src/proxy_infra/infrastructure/bpf/bpf_manager.py
  src/proxy_infra/infrastructure/bpf/socks_bridge.py
  src/proxy_infra/infrastructure/persistence/pool_manifest_store.py
  src/proxy_infra/interface/cli/proxy_commands.py
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/architecture/test_bypass_map_removed.py
  tests/unit/proxy_infra/infrastructure/bpf/test_bpfmanager_three_program.py
  tests/unit/proxy_infra/test_bpf_lifecycle_integration.py
  tests/unit/proxy_infra/test_clm_integration.py
  tests/unit/proxy_infra/test_e2e_pipeline.py
  tests/unit/proxy_infra/test_ebpf_production.py
  tests/unit/tool_exec/envoy/test_envoy_somark_scope.py
Due: pyright, pytest

fix(enforcement): use regex word-boundary matching in check method (#234)
  src/infrastructure/internal/enforcement/security_enforcement_engine.py
  src/infrastructure/internal/enforcement/security_rules.py
  tests/unit/enforcement/test_security_enforcement_engine.py
Due: pyright, pytest

docs(EPIC-002): add Phase 2 session entry prompt via /prompt-engineering
  docs/prompts/EPIC-002-phase-2-session-prompt.md
Due: pytest

fix(ci): resolve lint, changelog, worktree exclusion, and lock sync for issue 234
  CHANGELOG.md
  tests/integration/test_document_type_regression.py
  tests/unit/enforcement/test_security_enforcement_engine.py
  uv.lock
Due: pyright, pytest

fix(deps): upgrade requests to 2.33.1 and remove unused aiohttp to resolve CVEs
  uv.lock
Due: none

chore: move BUG-006 review artifacts from work/ to reviews/
  projects/PROJ-030-bugs/reviews/BUG-006-adr-naming-evaluation.md
  projects/PROJ-030-bugs/reviews/BUG-006-artifact-directory-evaluation.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-group-ab.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-group-c.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-group-de.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-strategy-plan.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-tournament-review.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score-iter3.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score-iter4.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score-iter5.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score-iter6.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score-iter8.md
  projects/PROJ-030-bugs/reviews/BUG-006-quality-score.md
Due: pytest

docs(PROJ-030): track 3 output path consistency bugs found during BUG-006 audit
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/work/BUG-012-pm-pmm-output-path-repo-root.md
  projects/PROJ-030-bugs/work/BUG-013-prompt-engineering-project-id-variable.md
  projects/PROJ-030-bugs/work/BUG-014-agents-missing-governance-output-section.md
Due: pytest

feat(proj-023): Session 3 — unified BPF+Envoy docs, E2E tests, split-cgroup
  docs/playbooks/ebpf-tool-container.md
  docs/reference/ebpf-transparent-proxy.md
  docs/research/ebpf-architecture-decision.md
  docs/tutorials/ebpf-engagement-walkthrough.md
  mkdocs.yml
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/adversarial/s-003-steelman-execution-20260401.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-001-getsockopt-cgroup-scoping/BUG-023-001-getsockopt-cgroup-scoping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-002-scope-translator-sni-plain-tcp/BUG-023-002-scope-translator-sni-plain-tcp.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DEC-023-001-split-cgroup-attachment.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DEC-023-002-hybrid-rbac-tls-inspector.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DISC-023-001-bpf-cgroup-scoping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-182-ref-doc-split-cgroup/TASK-023-182-ref-doc-split-cgroup.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-183-ref-doc-hybrid-rbac/TASK-023-183-ref-doc-hybrid-rbac.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-184-tutorial-unified-stack/TASK-023-184-tutorial-unified-stack.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-185-howto-split-cgroup/TASK-023-185-howto-split-cgroup.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-186-fix-test-count/TASK-023-186-fix-test-count.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/STORY-023-036-socks5-proxy-e2e.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/TASK-023-187-fix-dec-pin-paths/TASK-023-187-fix-dec-pin-paths.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/TASK-023-188-scope-translator-unit-tests/TASK-023-188-scope-translator-unit-tests.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/TASK-023-189-bpfmanager-split-cgroup-tests/TASK-023-189-bpfmanager-split-cgroup-tests.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/barrier-3-quality-gate-final-v2.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/barrier-3-quality-gate-final.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/barrier-3-quality-gate-rescore.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/barrier-3-quality-gate.md
  projects/PROJ-023-exploit-framework/work/adversarial/s002-s004-s001-s007-s011-consolidated-20260401.md
  projects/PROJ-023-exploit-framework/work/adversarial/s010-self-refine-execution-20260401.md
  projects/PROJ-023-exploit-framework/work/adversarial/s012-s013-fmea-inversion-20260401.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-008-bpf-vs-iptables.md
  src/proxy_infra/domain/ports/bpf_lifecycle_port.py
  src/proxy_infra/infrastructure/bpf/bpf_manager.py
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/e2e/proxy_infra/Dockerfile.unified-bpf
  tests/e2e/proxy_infra/docker-compose.unified-bpf.yml
  tests/e2e/proxy_infra/entrypoint-bpf-init.sh
  tests/e2e/proxy_infra/entrypoint-unified-bpf.sh
  tests/e2e/proxy_infra/envoy-unified-bpf-test.yaml
  tests/e2e/proxy_infra/test_unified_envoy_bpf.py
  tests/e2e/proxy_infra/tls-target.conf
  tests/unit/tool_exec/envoy/test_envoy_somark_scope.py
Due: pyright, pytest

docs(EPIC-002): add Phase 3 for BUG-012/013/014 output path follow-on
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
Due: pytest

fix(BUG-006): C4 iter-3 remediations — ADR naming consistency, Step 0/6, verification
  .context/rules/agent-development-standards.md
  .context/rules/agent-routing-standards.md
  docs/design/ADR-agent-design-001.md
  docs/design/ADR-output-path-resolution-001.md
  docs/design/ADR-routing-triggers-001.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-rescore-iter2.md
  skills/user-experience/SKILL.md
Due: pytest

fix(BUG-006): C4 iter-4 remediations — SSOT traceability, H-31 fallback, prompt templates
  .context/rules/prompt-templates.md
  .context/rules/quality-enforcement.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-rescore-iter3.md
  skills/eng-team/agents/eng-architect.md
  skills/eng-team/agents/eng-backend.md
  skills/eng-team/agents/eng-devsecops.md
  skills/eng-team/agents/eng-frontend.md
  skills/eng-team/agents/eng-incident.md
  skills/eng-team/agents/eng-infra.md
  skills/eng-team/agents/eng-lead.md
  skills/eng-team/agents/eng-qa.md
  skills/eng-team/agents/eng-reviewer.md
  skills/eng-team/agents/eng-security.md
  skills/red-team/agents/red-exfil.md
  skills/red-team/agents/red-exploit.md
  skills/red-team/agents/red-infra.md
  skills/red-team/agents/red-lateral.md
  skills/red-team/agents/red-lead.md
  skills/red-team/agents/red-persist.md
  skills/red-team/agents/red-privesc.md
  skills/red-team/agents/red-recon.md
  skills/red-team/agents/red-reporter.md
  skills/red-team/agents/red-social.md
  skills/red-team/agents/red-vuln.md
  skills/user-experience/agents/ux-orchestrator.md
  skills/ux-ai-first-design/agents/ux-ai-design-guide.md
  skills/ux-atomic-design/agents/ux-atomic-architect.md
  skills/ux-behavior-design/agents/ux-behavior-diagnostician.md
  skills/ux-design-sprint/agents/ux-sprint-facilitator.md
  skills/ux-heart-metrics/agents/ux-heart-analyst.md
  skills/ux-heuristic-eval/agents/ux-heuristic-evaluator.md
  skills/ux-inclusive-design/agents/ux-inclusive-evaluator.md
  skills/ux-jtbd/agents/ux-jtbd-analyst.md
  skills/ux-kano-model/agents/ux-kano-analyst.md
  skills/ux-lean-ux/agents/ux-lean-ux-facilitator.md
Due: pytest

fix(BUG-006): C4 iter-5 — context rot resilience, UX audit clarification
  projects/PROJ-030-bugs/research/BUG-006-ux-audit-detail.md
  projects/PROJ-030-bugs/reviews/BUG-006-c4-rescore-iter4.md
  skills/eng-team/agents/eng-architect.md
  skills/eng-team/agents/eng-backend.md
  skills/eng-team/agents/eng-devsecops.md
  skills/eng-team/agents/eng-frontend.md
  skills/eng-team/agents/eng-incident.md
  skills/eng-team/agents/eng-infra.md
  skills/eng-team/agents/eng-lead.md
  skills/eng-team/agents/eng-qa.md
  skills/eng-team/agents/eng-reviewer.md
  skills/eng-team/agents/eng-security.md
  skills/red-team/agents/red-exfil.md
  skills/red-team/agents/red-exploit.md
  skills/red-team/agents/red-infra.md
  skills/red-team/agents/red-lateral.md
  skills/red-team/agents/red-lead.md
  skills/red-team/agents/red-persist.md
  skills/red-team/agents/red-privesc.md
  skills/red-team/agents/red-recon.md
  skills/red-team/agents/red-reporter.md
  skills/red-team/agents/red-social.md
  skills/red-team/agents/red-vuln.md
  skills/user-experience/agents/ux-orchestrator.md
  skills/ux-ai-first-design/agents/ux-ai-design-guide.md
  skills/ux-atomic-design/agents/ux-atomic-architect.md
  skills/ux-behavior-design/agents/ux-behavior-diagnostician.md
  skills/ux-design-sprint/agents/ux-sprint-facilitator.md
  skills/ux-heart-metrics/agents/ux-heart-analyst.md
  skills/ux-heuristic-eval/agents/ux-heuristic-evaluator.md
  skills/ux-inclusive-design/agents/ux-inclusive-evaluator.md
  skills/ux-jtbd/agents/ux-jtbd-analyst.md
  skills/ux-kano-model/agents/ux-kano-analyst.md
  skills/ux-lean-ux/agents/ux-lean-ux-facilitator.md
Due: pytest

docs(BUG-006): C4 tournament PASS — 0.955 >= 0.95 threshold (5 iterations)
  projects/PROJ-030-bugs/reviews/BUG-006-c4-rescore-iter5.md
Due: pytest

chore(deps): upgrade 4 packages to resolve CVEs
  pyproject.toml
  uv.lock
Due: none

docs(proj-023): mark 6 worktracker entities completed with delivery evidence
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-001-getsockopt-cgroup-scoping/BUG-023-001-getsockopt-cgroup-scoping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-002-scope-translator-sni-plain-tcp/BUG-023-002-scope-translator-sni-plain-tcp.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-008-ebpf-transparent-proxy/EN-023-008-ebpf-transparent-proxy.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-009-three-program-bpf/EN-023-009-three-program-bpf.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-010-envoy-unified-path/EN-023-010-envoy-unified-path.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/STORY-023-035-ebpf-developer-docs.md
Due: pytest

fix(EPIC-002): Phase 3 complete — BUG-012/013/014, TASK-003/004 resolved
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
  projects/PROJ-030-bugs/WORKTRACKER.md
  projects/PROJ-030-bugs/work/BUG-012-pm-pmm-output-path-repo-root.md
  projects/PROJ-030-bugs/work/BUG-013-prompt-engineering-project-id-variable.md
  projects/PROJ-030-bugs/work/BUG-014-agents-missing-governance-output-section.md
  projects/PROJ-030-bugs/work/TASK-003-consolidate-pre-tool-use.md
  projects/PROJ-030-bugs/work/TASK-004-claude-code-permission-syntax.md
  skills/adversary/agents/adv-executor.governance.yaml
  skills/adversary/agents/adv-scorer.governance.yaml
  skills/adversary/agents/adv-selector.governance.yaml
  skills/pm-pmm/QUALITY_GATE.md
  skills/pm-pmm/SKILL.md
  skills/pm-pmm/agents/pm-business-analyst.governance.yaml
  skills/pm-pmm/agents/pm-business-analyst.md
  skills/pm-pmm/agents/pm-competitive-analyst.governance.yaml
  skills/pm-pmm/agents/pm-competitive-analyst.md
  skills/pm-pmm/agents/pm-customer-insight.governance.yaml
  skills/pm-pmm/agents/pm-customer-insight.md
  skills/pm-pmm/agents/pm-market-strategist.governance.yaml
  skills/pm-pmm/agents/pm-market-strategist.md
  skills/pm-pmm/agents/pm-product-strategist.governance.yaml
  skills/pm-pmm/agents/pm-product-strategist.md
  skills/prompt-engineering/agents/pe-builder.governance.yaml
  skills/prompt-engineering/agents/pe-builder.md
  skills/prompt-engineering/agents/pe-constraint-gen.governance.yaml
  skills/prompt-engineering/agents/pe-constraint-gen.md
  skills/saucer-boy-framework-voice/agents/sb-calibrator.governance.yaml
  skills/saucer-boy-framework-voice/agents/sb-reviewer.governance.yaml
  skills/saucer-boy-framework-voice/agents/sb-rewriter.governance.yaml
  skills/transcript/agents/ts-extractor.governance.yaml
  skills/transcript/agents/ts-formatter.governance.yaml
  skills/transcript/agents/ts-mindmap-ascii.governance.yaml
  skills/transcript/agents/ts-mindmap-mermaid.governance.yaml
  skills/transcript/agents/ts-parser.governance.yaml
  skills/worktracker/agents/wt-auditor.governance.yaml
Due: pytest

fix(BUG-014): check acceptance criteria boxes — status was completed but ACs unchecked
  projects/PROJ-030-bugs/reviews/BUG-012-013-014-c4-score.md
  projects/PROJ-030-bugs/work/BUG-014-agents-missing-governance-output-section.md
Due: pytest

fix(BUG-014): add file paths to Affected Agents table + validation evidence
  projects/PROJ-030-bugs/reviews/BUG-012-013-014-c4-rescore-iter2.md
  projects/PROJ-030-bugs/work/BUG-014-agents-missing-governance-output-section.md
Due: pytest

docs(BUG-012/013/014): C4 tournament PASS — 0.952 >= 0.95 (3 iterations)
  projects/PROJ-030-bugs/reviews/BUG-012-013-014-c4-rescore-iter3.md
Due: pytest

fix(proj-023): worktracker audit — fix 22 findings across 35 files
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-022-jerry-cli-proxy-namespace/STORY-023-022-jerry-cli-proxy-namespace.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/STORY-023-024-terraform-adapter-do.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-100-terraform-provisioner-adapter/TASK-023-100-terraform-provisioner-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-101-hcl-generator-do-template/TASK-023-101-hcl-generator-do-template.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-102-terraform-runner-state-parser/TASK-023-102-terraform-runner-state-parser.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-103-state-encryption-age/TASK-023-103-state-encryption-age.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-104-bootstrap-cli-integration/TASK-023-104-bootstrap-cli-integration.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-105-test-migration-pydo-to-subprocess/TASK-023-105-test-migration-pydo-to-subprocess.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-004-hands-free-pipeline/STORY-023-024-terraform-adapter-do/TASK-023-106-opsec-controls/TASK-023-106-opsec-controls.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/EPIC-023-010-e2e-engagement-validation.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-004-getsockopt-cgroup-scoping/BUG-023-004-getsockopt-cgroup-scoping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/BUG-023-005-scope-translator-sni-plain-tcp/BUG-023-005-scope-translator-sni-plain-tcp.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DEC-023-001-split-cgroup-attachment.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DEC-023-002-hybrid-rbac-tls-inspector.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/DISC-023-001-bpf-cgroup-scoping.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/EN-023-011-e2e-security-c4-gate/EN-023-011-e2e-security-c4-gate.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/FEAT-023-014-real-e2e-lifecycle.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/STORY-023-035-ebpf-developer-docs.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-175-reference-doc/TASK-023-175-reference-doc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-176-howto-guide/TASK-023-176-howto-guide.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-177-explanation/TASK-023-177-explanation.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-035-ebpf-developer-docs/TASK-023-178-tutorial-mkdocs/TASK-023-178-tutorial-mkdocs.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/barrier-3-quality-gate-final-v2.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-2-architecture-unified.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-3-docs-e2e.md
  projects/PROJ-023-exploit-framework/work/audit-report-session3-20260413.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-008-bpf-vs-iptables.md
  src/proxy_infra/domain/ports/bpf_lifecycle_port.py
  src/proxy_infra/infrastructure/bpf/bpf_manager.py
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/e2e/proxy_infra/docker-compose.unified-bpf.yml
  tests/e2e/proxy_infra/entrypoint-bpf-init.sh
  tests/e2e/proxy_infra/test_unified_envoy_bpf.py
  tests/unit/tool_exec/envoy/test_envoy_somark_scope.py
Due: pyright, pytest

docs: H-32 parity — create GH issues #245/#246/#247, cross-reference all entities
  projects/PROJ-024-tactical-work/work/EPIC-002-issue-triage-batch/EPIC-002-issue-triage-batch.md
  projects/PROJ-030-bugs/work/BUG-012-pm-pmm-output-path-repo-root.md
  projects/PROJ-030-bugs/work/BUG-013-prompt-engineering-project-id-variable.md
  projects/PROJ-030-bugs/work/BUG-014-agents-missing-governance-output-section.md
Due: pytest

docs: consolidated GH #144 issue — CLI resolver, closed #192/#231 as dupes
  projects/PROJ-030-bugs/reviews/gh-144-consolidated-issue-draft.md
  projects/PROJ-030-bugs/reviews/gh-144-consolidation-analysis.md
  projects/PROJ-030-bugs/reviews/gh-144-issue-quality-rescore-iter2.md
  projects/PROJ-030-bugs/reviews/gh-144-issue-quality-rescore-iter3.md
  projects/PROJ-030-bugs/reviews/gh-144-issue-quality-rescore-iter4.md
  projects/PROJ-030-bugs/reviews/gh-144-issue-quality-score.md
  projects/PROJ-030-bugs/reviews/gh-144-use-cases.md
Due: pytest

chore(deps): bump pytest 9.0.2 -> 9.0.3 (CVE-2025-71176)
  pyproject.toml
  uv.lock
Due: none

docs: add CHANGELOG.md entries for EPIC-002 Phase 2-3
  CHANGELOG.md
Due: pytest

docs(proj-023): ADR-009 HTTP CONNECT upstream + Session 4 prompt + STORY-036 rewrite
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/STORY-023-036-socks5-proxy-e2e.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/session-prompts/session-4-http-connect-proxy.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-009-envoy-http-connect-upstream.md
Due: pytest

docs(proj-023): ADR-009 DRAFT, add TASK-195/196 governance prerequisites
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/STORY-023-036-socks5-proxy-e2e.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/TASK-023-195-harden-adr-009/TASK-023-195-harden-adr-009.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/TASK-023-196-session4-prompt/TASK-023-196-session4-prompt.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-009-envoy-http-connect-upstream.md
Due: pytest

fix(proj-023): TASK-196 AC actor prefixes + STORY-036 effort 8->14
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-010-e2e-engagement-validation/FEAT-023-014-real-e2e-lifecycle/STORY-023-036-socks5-proxy-e2e/TASK-023-196-session4-prompt/TASK-023-196-session4-prompt.md
Due: pytest

fix(deps): regenerate uv.lock after dependabot pip updates
  uv.lock
Due: none

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
