Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(proj-024): resolve all 7 pre-merge audit consistency findings
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-001-context-monitoring-1m/BUG-001-context-monitoring-1m.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-002-pygments-cve/BUG-002-pygments-cve.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-003-scripts-tests-isolation/BUG-003-scripts-tests-isolation.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/EPIC-004-security-scan-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/TASK-035-confirm-dependabot-settings.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/audit-report-20260805-premerge.md
Due: pytest

docs(changelog): add entries for ruff 0.16.1 reformat and dev-tool bumps
  CHANGELOG.md
Due: pytest

docs(proj-024): track ruff 0.16.1 formatting alignment (EN-010/TASK-036, #339)
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/EN-010-ruff-016-formatting-alignment.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/TASK-036-reformat-ruff-016.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EPIC-003-ci-pipeline-optimization.md
Due: pytest

docs(proj-024): correct EN-010/TASK-036 evidence — exclusion shortcut rejected and reverted
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/EN-010-ruff-016-formatting-alignment.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/TASK-036-reformat-ruff-016.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EPIC-003-ci-pipeline-optimization.md
Due: pytest

docs(changelog): add entry for PROJ-024 ruff-alignment traceability
  CHANGELOG.md
Due: pytest

docs(proj-024): sync Phase-4 completion dates to 2026-08-06 + PR-340 pre-merge audit report
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/EN-010-ruff-016-formatting-alignment.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EN-010-ruff-016-formatting-alignment/TASK-036-reformat-ruff-016.md
  projects/PROJ-024-tactical-work/work/EPIC-003-ci-pipeline-optimization/EPIC-003-ci-pipeline-optimization.md
  projects/PROJ-024-tactical-work/work/audit-report-20260806-pr340.md
Due: pytest

fix(cli): anchor jerry ast path containment to the user's project root (BUG-010)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/BUG-010-ast-project-root.md
  src/interface/cli/adapter.py
  src/interface/cli/ast_commands.py
  src/interface/cli/project_root.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

fix(nuclear-sop): repair SKILL.md frontmatter — quote description, tools -> allowed-tools
  skills/nuclear-sop/SKILL.md
Due: pytest

docs(proj-024): close BUG-009 — already resolved 2026-08-06, verified via pipeline evidence
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/EPIC-004-security-scan-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/BUG-009-click-command-injection/BUG-009-click-command-injection.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-028-owner-alerting-github-issue/STORY-028-owner-alerting-github-issue.md
Due: pytest

chore(nuclear-sop): register 4 agents in plugin.json + changelog entry
  .claude-plugin/plugin.json
  CHANGELOG.md
Due: pytest, validate-plugin-manifests

docs(changelog): entry for BUG-009 closure — use the changelog gate, not the skip marker
  CHANGELOG.md
Due: pytest

docs(proj-032): scaffold nuclear-sop review project (PR #269 review + remediation)
  CHANGELOG.md
  projects/PROJ-032-nuclear-sop-review/PLAN.md
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/research/session-prompt.md
  projects/PROJ-032-nuclear-sop-review/work/.gitkeep
  projects/README.md
Due: pytest

docs(proj-032): worktracker decomposition EPIC-001/FEAT-001..002/STORY-001..005 with GH parity #345-#349
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/EPIC-001-pr269-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/FEAT-001-independent-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/STORY-001-standards-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-002-engineering-review/STORY-002-engineering-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/STORY-003-c4-tournament.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/FEAT-002-remediation-verdict.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-004-remediation/STORY-004-remediation.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-005-verdict/STORY-005-verdict.md
Due: pytest

docs(proj-032): Phase 1 standards report — 32 findings (6C/15M/11m), STORY-001 complete
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/FEAT-001-independent-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/STORY-001-standards-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/agent-sop-brief-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/agent-sop-capture-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/agent-sop-executor-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/agent-sop-verifier-compliance.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/det-validation.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/phase-1-standards-report.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-001-standards-compliance/skill-structure-compliance.md
Due: pytest

docs(proj-032): Phase 2 eng-review — 30 findings (4C/16M/10m), NO-GO at bda64202, STORY-002 complete
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/FEAT-001-independent-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-002-engineering-review/STORY-002-engineering-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-002-engineering-review/phase-2-eng-review.md
Due: pytest

docs(proj-032): Phase 3 C4 tournament — S-014 composite 0.52 REJECTED, STORY-003 + FEAT-001 complete
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/FEAT-001-independent-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/STORY-003-c4-tournament.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/s-014-tournament-score.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-001-red-team.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-002-devils-advocate.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-003-steelman.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-004-pre-mortem.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-007-constitutional-ai.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-010-self-refine.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-011-cove.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-012-fmea.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategies/s-013-inversion.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/STORY-003-c4-tournament/strategy-selection-plan.md
Due: pytest

docs(proj-032): remediation register (14 clusters) + BUG-001..014 entities with GH parity #350-#363
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-001-qg-hold-delegation-topology/BUG-001-qg-hold-delegation-topology.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-002-user-hold-runtime-model/BUG-002-user-hold-runtime-model.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-003-trust-boundary-state-tamper/BUG-003-trust-boundary-state-tamper.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-004-qg-e4-validation-evidence/BUG-004-qg-e4-validation-evidence.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-005-h36-governance-ruling/BUG-005-h36-governance-ruling.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-006-oe-feedback-loop-design/BUG-006-oe-feedback-loop-design.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-007-executor-command-gating/BUG-007-executor-command-gating.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-008-registration-status-truth/BUG-008-registration-status-truth.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-009-registration-enforcement-surfaces/BUG-009-registration-enforcement-surfaces.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-010-agent-schema-conformance/BUG-010-agent-schema-conformance.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-011-oe-artifact-contract/BUG-011-oe-artifact-contract.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-012-state-machine-contract/BUG-012-state-machine-contract.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-013-composition-drift/BUG-013-composition-drift.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-014-navigation-tables/BUG-014-navigation-tables.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-004-remediation/remediation-register.md
Due: pytest

fix(nuclear-sop): PROJ-032 maintainer remediation — FIX-NOW clusters REM-08..14
  .context/rules/mandatory-skill-usage.md
  AGENTS.md
  projects/PROJ-0039-nuclear-engineer/orchestration/nuclear-sop-build-20260325-001/eng/phase-6/eng-reviewer-001/registration-trigger-map-row.md
  skills/nuclear-sop/PLAYBOOK.md
  skills/nuclear-sop/SKILL.md
  skills/nuclear-sop/agents/sop-brief.governance.yaml
  skills/nuclear-sop/agents/sop-brief.md
  skills/nuclear-sop/agents/sop-capture.governance.yaml
  skills/nuclear-sop/agents/sop-capture.md
  skills/nuclear-sop/agents/sop-executor.governance.yaml
  skills/nuclear-sop/agents/sop-executor.md
  skills/nuclear-sop/agents/sop-verifier.governance.yaml
  skills/nuclear-sop/agents/sop-verifier.md
  skills/nuclear-sop/behavioral-baselines/bb-003-oe-feedback-loop-integrity.md
  skills/nuclear-sop/composition/sop-brief.agent.yaml
  skills/nuclear-sop/composition/sop-brief.prompt.md
  skills/nuclear-sop/composition/sop-capture.agent.yaml
  skills/nuclear-sop/composition/sop-capture.prompt.md
  skills/nuclear-sop/composition/sop-executor.agent.yaml
  skills/nuclear-sop/composition/sop-executor.prompt.md
  skills/nuclear-sop/composition/sop-verifier.agent.yaml
  skills/nuclear-sop/composition/sop-verifier.prompt.md
  skills/nuclear-sop/docs/reference.md
  skills/nuclear-sop/examples/c3-adr-workflow-definition.md
  skills/nuclear-sop/rules/nuclear-sop-behavior-rules.md
  skills/nuclear-sop/templates/HOLD_POINT_LOG.template.md
  skills/nuclear-sop/templates/POST_JOB_BRIEF.template.md
  skills/nuclear-sop/templates/PROCEDURE_STATE.template.yaml
  skills/nuclear-sop/templates/WORKFLOW_DEFINITION.template.md
Due: pytest

docs(proj-032): Phase 4-5 closure — REWORK verdict delivered to PR #269
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-008-registration-status-truth/BUG-008-registration-status-truth.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-009-registration-enforcement-surfaces/BUG-009-registration-enforcement-surfaces.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-010-agent-schema-conformance/BUG-010-agent-schema-conformance.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-011-oe-artifact-contract/BUG-011-oe-artifact-contract.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-012-state-machine-contract/BUG-012-state-machine-contract.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-013-composition-drift/BUG-013-composition-drift.md
  projects/PROJ-032-nuclear-sop-review/work/BUG-014-navigation-tables/BUG-014-navigation-tables.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/EPIC-001-pr269-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/FEAT-002-remediation-verdict.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-004-remediation/STORY-004-remediation.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-004-remediation/remediation-log.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-005-verdict/STORY-005-verdict.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-005-verdict/pr269-verdict.md
Due: pytest

fix(ci): populate CVE alert issue body + date (STORY-028 AC-4)
  .github/actions/security-audit/action.yml
  .github/workflows/security-scan.yml
  CHANGELOG.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-028-owner-alerting-github-issue/STORY-028-owner-alerting-github-issue.md
Due: pytest

docs(proj-032): sync verdict doc with plain-language PR comment revision
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-005-verdict/pr269-verdict.md
Due: pytest

docs(proj-024): close EPIC-004 — STORY-028 alerting runtime-proven
  CHANGELOG.md
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/EPIC-004-security-scan-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-028-owner-alerting-github-issue/STORY-028-owner-alerting-github-issue.md
Due: pytest

chore(BUG-010): checkpoint ast widening + C4 tournament (REVISE 0.64, DO NOT MERGE)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/BUG-010-ast-project-root.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s001-red-team.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s002-devils-advocate.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s003-steelman.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s004-pre-mortem.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s007-constitutional.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s010-self-refine.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s011-chain-of-verification.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s012-fmea.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s013-inversion.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s014-tournament-score.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-tournament-plan.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/eng-lead-implementation-plan.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/eng-reviewer-gate-report.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/red-lead-scope-and-attack-plan.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/red-vuln-findings.md
  src/interface/cli/ast_commands.py
  src/interface/cli/main.py
  src/interface/cli/parser.py
  src/interface/cli/project_root.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

docs(proj-032): STORY-006 complete — rounds 5-6 bring all 14 issues to PASS >= 0.92
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/STORY-006-issue-quality.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/issue-quality-rollup.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r5/edit-plan.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r5/s-014-score-judge1.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r5/s-014-score-judge2.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r5/s-014-score-judge3.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r6/edit-plan.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r6/s-014-score-judge1.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r6/s-014-score-judge2.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-354-r6/s-014-score-judge3.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-361-r5/edit-plan.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-361-r5/s-014-score-judge1.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-361-r5/s-014-score-judge2.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-361-r5/s-014-score-judge3.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-363-r5/edit-plan.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-363-r5/s-014-score-judge1.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-363-r5/s-014-score-judge2.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/reviews/issue-363-r5/s-014-score-judge3.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/revised/issue-354.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/revised/issue-361.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/revised/issue-363.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/snapshots/published/issue-354.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/snapshots/published/issue-361.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/STORY-006-issue-quality/snapshots/published/issue-363.md
Due: pytest

fix(cli): redesign jerry ast containment to user-declared trusted roots (BUG-010)
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/eng-lead-option-c-plan.md
  src/interface/cli/adapter.py
  src/interface/cli/ast_commands.py
  src/interface/cli/containment_policy.py
  src/interface/cli/main.py
  src/interface/cli/parser.py
  src/interface/cli/project_root.py
  tests/integration/cli/test_ast_subprocess.py
  tests/unit/infrastructure/adapters/configuration/test_layered_config_adapter.py
  tests/unit/interface/cli/test_adapter_config.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/interface/cli/test_containment_policy.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

fix(cli): harden ast.trusted_roots config input hygiene (BUG-010 red-team findings)
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/red-lead-option-c-attack-plan.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/red-vuln-option-c-findings.md
  src/interface/cli/project_root.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

fix(cli): apply C4 tournament fixes + reconcile BUG-010 governance (Option C)
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/BUG-010-ast-project-root.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/DECISIONS-and-threat-model.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s001-red-team-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s002-devils-advocate-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s003-steelman-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s004-pre-mortem-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s007-constitutional-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s010-self-refine-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s011-chain-of-verification-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s012-fmea-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s013-inversion-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-tournament-consolidated-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/eng-reviewer-optionc-gate-report.md
  src/interface/cli/ast_commands.py
  src/interface/cli/parser.py
  src/interface/cli/project_root.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

fix(cli): close S-014 re-score gaps for BUG-010 Option C
  CHANGELOG.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s014-tournament-score-optionc.md
  src/interface/cli/ast_commands.py
  tests/unit/interface/cli/test_ast_commands.py
Due: pyright, pytest

fix(cli): route jerry ast errors to stderr (#371) + worktracker tidy (BUG-010)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/BUG-010-ast-project-root.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s014-final-score-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/wt-audit-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/FEAT-001-claude-code-schema-validation.md
  src/interface/cli/ast_commands.py
  tests/unit/interface/cli/test_ast_commands.py
Due: pyright, pytest

fix(cli): finish #371 stderr routing across the ast router + reconcile docs (BUG-010)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/DECISIONS-and-threat-model.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s014-final-score-18ce85de.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-tournament-consolidated-optionc.md
  src/interface/cli/main.py
  tests/unit/interface/cli/test_ast_commands.py
Due: pyright, pytest

docs(proj-024): record BUG-010 S-014 PASS 0.9335 + disposition RT-004/RT-005
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/BUG-010-ast-project-root.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/RESUME-HERE.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s014-final-score-888c94a8.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-tournament-consolidated-optionc.md
Due: pytest

fix(cli): make ast.trusted_roots config tests Windows-portable + ruff-format docs (BUG-010 CI)
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s001-red-team.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/adv-s007-constitutional-optionc.md
  projects/PROJ-024-tactical-work/work/EPIC-001-schema-validation/FEAT-001-claude-code-schema-validation/BUG-010-ast-project-root/eng-lead-option-c-plan.md
  src/interface/cli/adapter.py
  src/interface/cli/project_root.py
  tests/unit/interface/cli/test_project_root.py
Due: pyright, pytest

docs(proj-032): GH issue graph cleanup — epic/feature parity issues #374-#376, sub-issue tree, labels
  projects/PROJ-032-nuclear-sop-review/WORKTRACKER.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/EPIC-001-pr269-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-001-independent-review/FEAT-001-independent-review.md
  projects/PROJ-032-nuclear-sop-review/work/EPIC-001-pr269-review/FEAT-002-remediation-verdict/FEAT-002-remediation-verdict.md
Due: pytest

docs(proj-024): orchestration plan + graph for #377 adversary Bash grant [checkpoint]
  projects/PROJ-024-tactical-work/orchestration/adversary-bash-377/ORCHESTRATION_PLAN.md
  projects/PROJ-024-tactical-work/orchestration/adversary-bash-377/RESUME-HERE.md
  projects/PROJ-024-tactical-work/orchestration/adversary-bash-377/graph.dot
  projects/PROJ-024-tactical-work/orchestration/adversary-bash-377/graph.png
  projects/PROJ-024-tactical-work/orchestration/adversary-bash-377/graph.svg
Due: pytest

fix(cli): remove dead json_output param from ast_parse/ast_query (#378)
  src/interface/cli/ast_commands.py
  src/interface/cli/main.py
  tests/unit/interface/cli/test_ast_commands.py
Due: pyright, pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
