Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(PROJ-001): add EN-108 version bumping enabler, slim WORKTRACKER.md
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/EN-108-version-bumping-strategy.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-001-research-version-bumping-tools.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-002-analyze-current-version-locations.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-003-design-version-bumping-process.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-004-implement-version-bumping.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-005-validate-end-to-end.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-006-create-orchestration-plan.md
Due: pytest

fix: cross-platform CRLF handling, UTF-8 encoding, and architecture tests
  .claude/statusline.py
  scripts/check_agent_conformance.py
  scripts/compose_agent_template.py
  scripts/patterns/loader.py
  scripts/subagent_stop.py
  src/infrastructure/adapters/serialization/toon_serializer.py
  src/transcript/application/handlers/commands/parse_transcript_command_handler.py
  src/transcript/application/services/chunker.py
  tests/architecture/test_cross_platform.py
Due: pyright, pytest

fix: add Windows platform guards to migration scripts and CI pipeline
  .github/workflows/ci.yml
  scripts/migration/verify-platform.sh
  scripts/migration/verify-symlinks.sh
Due: none

fix: detect stale pre-commit hook Python path and improve worktree docs
  CONTRIBUTING.md
  docs/INSTALLATION.md
  scripts/session_start_hook.py
Due: pyright, pytest

chore(EN-108): update TASK-006 with orchestration location and feedback loops
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-006-create-orchestration-plan.md
Due: pytest

feat(EN-108): add orchestration plan for version bumping strategy
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION_WORKTRACKER.md
Due: pytest

fix(ci): add shell: bash to uv test steps for Windows runners
  .github/workflows/ci.yml
Due: none

fix: add explicit UTF-8 encoding to test file I/O for Windows compat
  tests/integration/test_atomic_file_adapter.py
  tests/integration/test_filesystem_local_context_adapter.py
  tests/project_validation/architecture/test_path_conventions.py
  tests/project_validation/system/test_grep_validation.py
Due: pyright, pytest

feat(EN-108): complete Phase 0 research with adversarial review (QG-0 passed)
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/EN-108-version-bumping-strategy.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-001-research-version-bumping-tools.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-002-analyze-current-version-locations.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-006-create-orchestration-plan.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/analysis-version-locations.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/critiques/task-001-iter1-critique.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/critiques/task-001-iter2-critique.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/critiques/task-002-iter1-critique.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/critiques/task-002-iter2-critique.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/research-version-bumping-tools.md
Due: pytest

style: apply ruff format to test file
  tests/integration/test_filesystem_local_context_adapter.py
Due: pyright, pytest

feat(EN-108): complete Phase 1 design with adversarial review (QG-1 passed)
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/EN-108-version-bumping-strategy.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-003-design-version-bumping-process.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/design/design-version-bumping-process.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/research/critiques/task-003-iter1-critique.md
Due: pytest

feat(EN-108): implement version bumping automation (TASK-004)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .github/workflows/ci.yml
  .github/workflows/version-bump.yml
  .pre-commit-config.yaml
  CLAUDE.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
  pyproject.toml
  scripts/sync_versions.py
  src/__init__.py
  src/interface/cli/parser.py
  src/transcript/__init__.py
  tests/interface/cli/unit/test_main_v2.py
Due: pyright, pytest, validate-plugin-manifests

chore(EN-108): update orchestration state - Phase 2 complete, CP-003 approved
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
Due: none

chore(EN-108): complete Phase 3 validation - workflow complete
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/quality-gates/qg-2/task-004-validation-report.md
Due: pytest

fix(EN-108): address 3 validation gaps from TASK-005 review
  .github/workflows/pat-monitor.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

chore(EN-108): record validation gap remediation in orchestration state
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
Due: none

chore(EN-108): close CP-004 - EN-108 complete
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/orchestration/ORCHESTRATION.yaml
Due: none

chore(worktracker): fix audit warnings and close EN-108
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/EN-108-version-bumping-strategy.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-004-implement-version-bumping.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/EN-108-version-bumping-strategy/TASK-005-validate-end-to-end.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/FEAT-002-research-and-preparation.md
Due: pytest

fix(worktracker): reconcile state drift across PROJ-001 hierarchy
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/EPIC-001-oss-release.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-002-research-and-preparation/FEAT-002-research-and-preparation.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-003-claude-md-optimization/FEAT-003-claude-md-optimization.md
Due: pytest

feat(context): add bootstrap integration tests and documentation
  docs/BOOTSTRAP.md
  tests/integration/test_bootstrap_context.py
Due: pyright, pytest

feat(docs): complete FEAT-003 and close EPIC-001
  docs/CLAUDE-MD-GUIDE.md
  docs/INSTALLATION.md
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/EPIC-001-oss-release.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-003-claude-md-optimization/EN-204-validation-testing/EN-204-validation-testing.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-003-claude-md-optimization/EN-205-documentation-update/EN-205-documentation-update.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-003-claude-md-optimization/EN-206-context-distribution-strategy/EN-206-context-distribution-strategy.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-003-claude-md-optimization/FEAT-003-claude-md-optimization.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/audit-report-2026-02-12.md
Due: pytest

feat(epic-002): establish quality enforcement worktracker decomposition
  .claude/settings.local.json
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/EPIC-001-oss-release.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/EPIC-002-quality-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/EN-301-deep-research-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/EN-302-strategy-selection-framework.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/EN-303-situational-applicability-mapping.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/EN-304-problem-solving-skill-enhancement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/EN-305-nasa-se-skill-enhancement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-306-integration-testing-validation/EN-306-integration-testing-validation.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/EN-307-orchestration-skill-enhancement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/FEAT-004-adversarial-strategy-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/research-15-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/EN-401-deep-research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/EN-402-enforcement-priority-analysis.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/EN-403-hook-based-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/EN-404-rule-based-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/EN-405-session-context-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-406-integration-testing-validation/EN-406-integration-testing-validation.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/FEAT-005-enforcement-mechanisms.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/ORCHESTRATION_PLAN.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-006-epic001-retroactive-review/FEAT-006-epic001-retroactive-review.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/FEAT-007-advanced-adversarial-capabilities.md
Due: pytest

feat(epic-002): add task entity files for EN-301/EN-401 and FEAT-007 enablers
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/EN-301-deep-research-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-001-academic-literature-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-002-industry-practices-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-003-emerging-approaches-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-004-synthesis-unified-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-005-adversarial-review-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-006-creator-revision.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-007-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-008-final-validation.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/EN-401-deep-research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-001-claude-code-hooks-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-002-guardrail-frameworks-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-003-rules-enforcement-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-004-prompt-engineering-enforcement-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-005-alternative-enforcement-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-006-platform-portability-assessment.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-007-synthesis-unified-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-008-adversarial-review-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-009-creator-revision.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-010-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-011-final-validation.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/EN-601-research-automated-strategy-selection/EN-601-research-automated-strategy-selection.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/EN-602-research-effectiveness-metrics/EN-602-research-effectiveness-metrics.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/EN-603-automated-strategy-selector/EN-603-automated-strategy-selector.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/EN-604-custom-strategy-tooling/EN-604-custom-strategy-tooling.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-007-advanced-adversarial-capabilities/EN-605-metrics-and-ab-testing/EN-605-metrics-and-ab-testing.md
Due: pytest

feat(epic-002): complete EN-301/EN-401 phase 1 research with 5 agent artifacts
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/EN-301-deep-research-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-001-academic-adversarial-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-002-industry-adversarial-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-003-emerging-adversarial-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-001-academic-literature-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-002-industry-adversarial-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-002-industry-practices-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/EN-401-deep-research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-001-claude-code-hooks-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-002-guardrail-frameworks-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-001-claude-code-hooks-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-002-guardrail-frameworks-research.md
Due: pytest

chore(epic-002): update task statuses for phase 2 research wave
  projects/PROJ-001-oss-release/WORKTRACKER.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/EN-301-deep-research-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-004-synthesis-unified-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/EN-401-deep-research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-003-rules-enforcement-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-004-prompt-engineering-enforcement-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-005-alternative-enforcement-research.md
Due: pytest

feat(epic-002): complete EN-301/EN-401 phase 2 research wave
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-005-adversarial-review-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-005-adversarial-review-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-006-platform-portability-assessment.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-007-unified-enforcement-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-008-adversarial-review-iter1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-006-platform-portability-assessment.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-007-synthesis-unified-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-008-adversarial-review-iter1.md
Due: pytest

feat(epic-002): complete EN-301 and EN-401 research pipelines
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-006-revised-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-007-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-008-final-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-006-creator-revision.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-007-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/tasks/TASK-008-final-validation.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-009-revised-enforcement-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-010-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/TASK-011-final-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-009-creator-revision.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-010-adversarial-review-iter2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/tasks/TASK-011-final-validation.md
Due: pytest

feat(epic-002): close EN-301 and EN-401 with user ratification
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/EN-301-deep-research-adversarial-strategies.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-301-deep-research-adversarial-strategies/TASK-006-revised-catalog.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/FEAT-004-adversarial-strategy-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-401-deep-research-enforcement-vectors/EN-401-deep-research-enforcement-vectors.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/FEAT-005-enforcement-mechanisms.md
Due: pytest

feat(epic-002): create cross-pollinated orchestration plan for FEAT-004/005
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION_PLAN.md
Due: pytest

feat(epic-002): ratify ADRs and start Phase 2 execution
  .claude/settings.local.json
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/EN-302-strategy-selection-framework.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-001-evaluation-criteria.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-002-risk-assessment.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-003-trade-study.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-004-scoring-and-selection.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-005-selection-ADR.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-006-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-006-critique-iteration-2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-007-revision-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/TASK-008-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/tasks/TASK-001-define-evaluation-criteria.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/tasks/TASK-002-risk-assessment-strategy-adoption.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-302-strategy-selection-framework/tasks/TASK-003-architecture-trade-study.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/FEAT-004-adversarial-strategy-research.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/EN-402-enforcement-priority-analysis.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-001-evaluation-criteria.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-002-risk-assessment.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-003-trade-study.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-004-priority-matrix.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-005-enforcement-ADR.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-006-execution-plans.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-007-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-008-revision-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-009-critique-iteration-2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/TASK-010-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-402-enforcement-priority-analysis/tasks/TASK-001-define-evaluation-criteria.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/FEAT-005-enforcement-mechanisms.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/orchestration/epic002-crosspoll-20260213-001/cross-pollination/barrier-1/adv-to-enf/barrier-1-adv-to-enf-handoff.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/orchestration/epic002-crosspoll-20260213-001/cross-pollination/barrier-1/enf-to-adv/barrier-1-enf-to-adv-handoff.md
Due: pytest

feat(epic-002): complete Phase 2 creator artifacts for EN-303, EN-403, EN-404
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/EN-303-situational-applicability-mapping.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-001-context-taxonomy.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-002-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-003-strategy-profiles.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-004-decision-tree.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/EN-403-hook-based-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-001-hook-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-002-userpromptsubmit-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-003-pretooluse-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-004-sessionstart-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/EN-404-rule-based-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-001-rule-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-002-rule-audit.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-003-tiered-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-004-hard-language-patterns.md
Due: pytest

feat(epic-002): complete Phase 2 adversarial iteration 1 (critique + revision)
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-001-context-taxonomy.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-002-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-003-strategy-profiles.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-004-decision-tree.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-005-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-006-revision-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-001-hook-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-002-userpromptsubmit-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-003-pretooluse-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-004-sessionstart-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-005-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-006-revision-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-001-rule-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-002-rule-audit.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-003-tiered-enforcement.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-404-rule-based-enforcement/TASK-004-hard-language-patterns.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
Due: pytest

feat(epic-002): complete Phase 2 adversarial iteration 2 critiques (PASS)
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-007-critique-iteration-2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-007-critique-iteration-2.md
Due: pytest

feat(epic-002): complete Phase 2 validation and close adversarial review cycles
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-303-situational-applicability-mapping/TASK-008-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-403-hook-based-enforcement/TASK-008-validation-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
Due: pytest

feat(epic-002): complete Barrier 2 cross-pollination handoffs
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/orchestration/epic002-crosspoll-20260213-001/cross-pollination/barrier-2/adv-to-enf/barrier-2-adv-to-enf-handoff.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/orchestration/epic002-crosspoll-20260213-001/cross-pollination/barrier-2/enf-to-adv/barrier-2-enf-to-adv-handoff.md
Due: pytest

feat(epic-002): complete Phase 3 creator artifacts for EN-304/305/307/405
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-002-adversarial-mode-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-003-invocation-protocol.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-004-agent-spec-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-005-skill-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-006-playbook-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-002-nse-verification-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-003-nse-reviewer-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-004-review-gate-mapping.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-005-nse-verification-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-006-nse-reviewer-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-007-skill-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-002-orch-planner-adversarial-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-003-orch-tracker-quality-gate-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-004-orch-planner-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-005-orch-tracker-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-006-orch-synthesizer-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-007-skill-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-008-playbook-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-009-template-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-002-preamble-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-003-hook-enhancement-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-004-integration-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-005-implementation-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-006-preamble-content.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
Due: pytest

feat(epic-002): complete Group 13 iteration 1 critic-revision cycle
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-002-adversarial-mode-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-003-invocation-protocol.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-004-agent-spec-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-007-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-008-revision-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-006-nse-reviewer-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-305-nasa-se-skill-enhancement/TASK-007-skill-md-updates.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-002-orch-planner-adversarial-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-307-orchestration-skill-enhancement/TASK-003-orch-tracker-quality-gate-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-001-requirements.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-002-preamble-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-003-hook-enhancement-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-004-integration-design.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-005-implementation-spec.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-006-preamble-content.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-007-critique-iteration-1.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-008-revision-report.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/orchestration/epic002-crosspoll-20260213-001/session-transcript-20260214.md
Due: pytest

feat(epic-002): complete Group 13 iteration 2 critics with PASS verdicts
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-004-adversarial-strategy-research/EN-304-problem-solving-skill-enhancement/TASK-009-critique-iteration-2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/FEAT-005-enforcement-mechanisms/EN-405-session-context-enforcement/TASK-009-critique-iteration-2.md
  projects/PROJ-001-oss-release/work/EPIC-002-quality-enforcement/ORCHESTRATION.yaml
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
