Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

feat(proj-009): QG-2 C4 adversarial tournament -- 10 strategy reports
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-001-red-team-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-002-devils-advocate-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-003-steelman-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-004-pre-mortem-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-007-constitutional-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-010-self-refine-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-011-cove-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-012-fmea-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-013-inversion-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2/s-014-llm-as-judge-report.md
Due: pytest

fix(proj-009): correct all composite scores in Phase 2 comparative analysis
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-2-ab-test/ps-analyst-002/ps-analyst-002-output.md
Due: pytest

fix: reconcile version drift — 0.10.0 → 0.11.0 to match tag [skip-bump]
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CLAUDE.md
  pyproject.toml
  uv.lock
Due: pytest, validate-plugin-manifests

feat(proj-009): QG-2 R2 C4 tournament PASS (0.92) -- Phase 2 deliverable approved
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-2-ab-test/ps-analyst-002/ps-analyst-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-001-red-team-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-002-devils-advocate-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-003-steelman-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-004-pre-mortem-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-007-constitutional-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-010-self-refine-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-011-cove-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-012-fmea-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-013-inversion-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-2-r2/s-014-llm-as-judge-report.md
Due: pytest

fix(ci): restore Codecov, --cov-branch, and HARD Rule Ceiling job
  .github/workflows/ci.yml
Due: none

fix(ci): restore check_hard_rule_ceiling.py and pre-commit hook
  .pre-commit-config.yaml
  scripts/check_hard_rule_ceiling.py
  tests/unit/enforcement/test_hard_rule_ceiling.py
Due: pyright, pytest

fix: reconcile EN-002 governance changes lost in PR #52 merge
  .context/guides/architecture-layers.md
  .context/guides/coding-practices.md
  .context/guides/skill-development.md
  .context/guides/testing-practices.md
  .context/patterns/README.md
  .context/rules/mandatory-skill-usage.md
  .context/rules/project-workflow.md
  .context/rules/quality-enforcement.md
  .context/rules/skill-standards.md
  .context/templates/adversarial/s-007-constitutional-ai.md
  .context/templates/adversarial/s-014-llm-as-judge.md
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-002-skill-routing-invocation.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-020-eng-skill-routing/FEAT-020-eng-skill-routing.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-054-framework-registration/framework-registration-report.md
  scripts/check_hard_rule_ceiling.py
  skills/architecture/SKILL.md
  skills/eng-team/templates/engagement-playbook.md
  skills/eng-team/templates/security-test-plan.md
  skills/shared/README.md
  tests/architecture/test_ast_enforcement.py
  tests/architecture/test_context_monitoring_boundaries.py
  tests/e2e/test_context_monitoring_e2e.py
  tests/e2e/test_quality_framework_e2e.py
  tests/integration/test_userpromptsubmit_hook_integration.py
  tests/system/test_context_monitoring_system.py
  tests/unit/enforcement/test_hard_rule_ceiling.py
  uv.lock
Due: pyright, pytest

feat(proj-009): QG-3/4/5 C4 adversarial tournaments -- QG-5 PASS (0.93), QG-3 REJECTED (0.82), QG-4 REVISE (0.90)
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-3-synthesis/ps-synthesizer-002/ps-synthesizer-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-4-content/sb-voice-006/sb-voice-006-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-5-final-review/ps-reporter-002/ps-reporter-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-5-final-review/ps-reviewer-002/ps-reviewer-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-001-red-team-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-002-devils-advocate-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-003-steelman-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-004-pre-mortem-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-007-constitutional-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-010-self-refine-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-011-cove-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-012-fmea-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-013-inversion-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-014-llm-as-judge-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-001-red-team-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-002-devils-advocate-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-003-steelman-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-004-pre-mortem-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-007-constitutional-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-010-self-refine-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-011-cove-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-012-fmea-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-013-inversion-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-014-llm-as-judge-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-001-red-team-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-002-devils-advocate-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-003-steelman-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-004-pre-mortem-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-007-constitutional-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-010-self-refine-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-011-cove-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-012-fmea-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-013-inversion-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-5/s-014-llm-as-judge-report.md
Due: pytest

fix(proj-009): correct 30+ numerical errors across workflow-002 deliverables
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ORCHESTRATION.yaml
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/nse/phase-4-qa/nse-qa-002/nse-qa-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-3-synthesis/ps-architect-002/ps-architect-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-3-synthesis/ps-synthesizer-002/ps-synthesizer-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-4-content/sb-voice-004/sb-voice-004-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-4-content/sb-voice-005/sb-voice-005-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-4-content/sb-voice-006/sb-voice-006-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-5-final-review/ps-reporter-002/ps-reporter-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-5-final-review/ps-reviewer-002/ps-reviewer-002-output.md
Due: pytest

feat(proj-009): QG-3 R2 PASS (0.92) + QG-4 R2 PASS (0.94) -- all 5 quality gates confirmed
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ORCHESTRATION.yaml
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/ps/phase-5-final-review/ps-reporter-002/ps-reporter-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-3/s-014-llm-as-judge-r2-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260222-002/quality-gates/qg-4/s-014-llm-as-judge-r2-report.md
Due: pytest

fix: restore BUG-002 AST CLI fix lost in PR #52 merge
  scripts/st007_migration_comparison.py
  skills/adversary/agents/adv-executor.md
  skills/adversary/agents/adv-scorer.md
  skills/ast/SKILL.md
  skills/ast/scripts/ast_ops.py
  skills/nasa-se/agents/nse-requirements.md
  skills/nasa-se/agents/nse-reviewer.md
  skills/problem-solving/agents/ps-critic.md
  skills/problem-solving/agents/ps-reviewer.md
  skills/problem-solving/agents/ps-validator.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
  src/interface/cli/ast_commands.py
  src/interface/cli/main.py
  src/interface/cli/parser.py
  tests/architecture/test_ast_enforcement.py
  tests/integration/cli/test_ast_subprocess.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/scripts/test_st007_migration.py
  tests/unit/scripts/test_st010_remaining_migrations.py
  tests/unit/skills/ast/test_ast_ops.py
  uv.lock
Due: pyright, pytest

test: add coverage for ast_validate schema+nav and valid-doc paths
  tests/unit/interface/cli/test_ast_commands.py
Due: pyright, pytest

fix: restore EN-002 enforcement engine and harden C-06 injection protection
  projects/PROJ-005-markdown-ast/analysis/adversary-c06-quality-score.md
  projects/PROJ-005-markdown-ast/analysis/eng-security-c06-hardening-review.md
  projects/PROJ-005-markdown-ast/analysis/pr52-merge-damage-forensic-investigation.md
  projects/PROJ-005-markdown-ast/analysis/red-team-c06-bypass-assessment.md
  src/infrastructure/internal/enforcement/prompt_reinforcement_engine.py
  tests/unit/enforcement/test_prompt_reinforcement_engine.py
  uv.lock
Due: pyright, pytest

test: close Codecov coverage gaps for prompt reinforcement engine
  tests/unit/enforcement/test_prompt_reinforcement_engine.py
Due: pyright, pytest

fix: restore EN-002 changes reverted by PR #52 merge
  .context/rules/architecture-standards.md
  .context/rules/coding-standards.md
  .context/rules/mandatory-skill-usage.md
  .context/rules/markdown-navigation-standards.md
  .context/rules/mcp-tool-standards.md
  .context/rules/python-environment.md
  .context/rules/testing-standards.md
  CLAUDE.md
  projects/PROJ-005-markdown-ast/analysis/pr52-comprehensive-forensic-diff.md
  projects/PROJ-005-markdown-ast/analysis/pr52-damage-repair-adversary-review.md
  src/infrastructure/internal/enforcement/enforcement_rules.py
  tests/e2e/test_quality_framework_e2e.py
  uv.lock
Due: pyright, pytest

chore: add BUG-003 worktracker entity and GitHub Issue #75
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-003-pr52-en002-reversion/BUG-003-pr52-en002-reversion.md
Due: pytest

fix: refine PR #43 content quality rules (WTI-008/WTI-009)
  .context/rules/project-workflow.md
  .context/templates/worktracker/BUG.md
  .context/templates/worktracker/DOD.md
  .context/templates/worktracker/STORY.md
  .context/templates/worktracker/TASK.md
  docs/knowledge/agent-pattern-taxonomy.md
  skills/worktracker/SKILL.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/rules/worktracker-behavior-rules.md
  skills/worktracker/rules/worktracker-content-standards.md
Due: pytest

feat(proj-009): create 16 v2 worktracker entities + update QG scores with C4 tournament results
  projects/PROJ-009-llm-deception-research/WORKTRACKER.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/EPIC-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/EN-002-research-question-design-v2/EN-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/EN-003-ab-test-vv-v2/EN-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/FEAT-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-004-ground-truth/STORY-004.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-005-agent-a-internal-v2/STORY-005.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-006-agent-b-external-v2/STORY-006.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-007-comparative-analysis-v2/STORY-007.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/EN-002-technical-review-v2/EN-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/FEAT-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/STORY-003-unified-synthesis-v2/STORY-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/STORY-004-architectural-analysis-v2/STORY-004.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/EN-002-content-qa-v2/EN-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/FEAT-004.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-004-linkedin-post-v2/STORY-004.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-005-twitter-thread-v2/STORY-005.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-006-blog-article-v2/STORY-006.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/EN-002-final-vv-v2/EN-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/FEAT-005.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/STORY-003-citation-crosscheck-v2/STORY-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/STORY-004-publication-readiness-v2/STORY-004.md
Due: pytest

feat(worktracker): add content quality rules WTI-007/WTI-008 and creation guides
  .context/templates/worktracker/BUG.md
  .context/templates/worktracker/DOD.md
  .context/templates/worktracker/STORY.md
  .context/templates/worktracker/TASK.md
  skills/worktracker/SKILL.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/rules/worktracker-behavior-rules.md
  skills/worktracker/rules/worktracker-content-standards.md
Due: pytest

fix: refine content quality rules — WTI-008/WTI-009 (shoring pass)
  .context/rules/project-workflow.md
  .context/templates/worktracker/BUG.md
  .context/templates/worktracker/DOD.md
  .context/templates/worktracker/STORY.md
  .context/templates/worktracker/TASK.md
  docs/knowledge/agent-pattern-taxonomy.md
  skills/worktracker/SKILL.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/rules/worktracker-behavior-rules.md
  skills/worktracker/rules/worktracker-content-standards.md
  uv.lock
Due: pytest

fix(ast): resolve CI/CD lint errors and Windows test failures (BUG-003)
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-003-pr76-cicd-failures/BUG-003-pr76-cicd-failures.md
  src/domain/markdown_ast/document_type.py
  src/interface/cli/ast_commands.py
  tests/regression/test_golden_files.py
  tests/security/test_adversarial_parsers.py
  tests/security/test_redos_patterns.py
  tests/unit/domain/markdown_ast/test_document_type.py
  tests/unit/domain/markdown_ast/test_html_comment.py
  tests/unit/domain/markdown_ast/test_schema_registry.py
  tests/unit/domain/markdown_ast/test_universal_document.py
  tests/unit/domain/markdown_ast/test_xml_section.py
  tests/unit/domain/markdown_ast/test_yaml_frontmatter.py
Due: pyright, pytest

style(ast): apply ruff format to Phase 3 source and test files (BUG-003)
  src/domain/markdown_ast/document_type.py
  src/domain/markdown_ast/html_comment.py
  src/domain/markdown_ast/schema_definitions.py
  src/domain/markdown_ast/universal_document.py
  src/domain/markdown_ast/xml_section.py
  src/domain/markdown_ast/yaml_frontmatter.py
  src/interface/cli/ast_commands.py
  tests/regression/test_golden_files.py
  tests/security/test_adversarial_parsers.py
  tests/security/test_redos_patterns.py
  tests/unit/domain/markdown_ast/test_document_type.py
  tests/unit/domain/markdown_ast/test_html_comment.py
  tests/unit/domain/markdown_ast/test_universal_document.py
  tests/unit/domain/markdown_ast/test_xml_section.py
  tests/unit/domain/markdown_ast/test_yaml_frontmatter.py
Due: pyright, pytest

docs(worktracker): mark BUG-003 fully resolved — all CI jobs green
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-003-pr76-cicd-failures/BUG-003-pr76-cicd-failures.md
Due: pytest

feat: add PROJ-011 saucer-boy-articles project structure
  projects/PROJ-011-saucer-boy-articles/PLAN.md
  projects/PROJ-011-saucer-boy-articles/WORKTRACKER.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-001-red-team.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-002-devils-advocate.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-003-steelman.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-004-pre-mortem.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-007-constitutional.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-010-self-refine.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-011-chain-of-verification.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-012-fmea.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-013-inversion.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-1/S-014-baseline-score.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-2/S-002-re-check.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-2/S-011-re-verify.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-2/S-014-iter2-score.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/adversary-critiques/iteration-3/S-014-iter3-score.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/citations.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/drafts/draft-1-original.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/drafts/draft-3-quality-gated.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/drafts/draft-4-human-rewrite.md
  projects/README.md
  uv.lock
Due: pytest

fix: add --frozen to all uv run pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: add LLM-tell detection patterns to saucer-boy voice skills
  skills/saucer-boy-framework-voice/SKILL.md
  skills/saucer-boy-framework-voice/agents/sb-calibrator.md
  skills/saucer-boy-framework-voice/agents/sb-reviewer.md
  skills/saucer-boy-framework-voice/agents/sb-rewriter.md
  skills/saucer-boy-framework-voice/references/llm-tell-patterns.md
  skills/saucer-boy-framework-voice/references/vocabulary-reference.md
  skills/saucer-boy/agents/sb-voice.md
  skills/saucer-boy/references/ambient-persona.md
Due: pytest

fix: use $CLAUDE_PROJECT_DIR for portable hook paths in settings.local.json
  .claude/settings.local.json
Due: none

fix: remove redundant SubagentStop hook from settings.local.json
  .claude/settings.local.json
Due: none

feat(proj-006): complete multi-instance strategy assessment orchestration
  projects/PROJ-006-multi-instance/ORCHESTRATION.yaml
  projects/PROJ-006-multi-instance/ORCHESTRATION_PLAN.md
  projects/PROJ-006-multi-instance/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-006-multi-instance/analysis/.gitkeep
  projects/PROJ-006-multi-instance/design/.gitkeep
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/convergent/phase-3-decision/agent-c-001/agent-c-001-adr.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/cross-pollination/barrier-1/spike-001-to-spike-002/handoff.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/cross-pollination/barrier-1/spike-002-to-spike-001/handoff.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/cross-pollination/barrier-2/spike-001-to-spike-002/handoff.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/cross-pollination/barrier-2/spike-002-to-spike-001/handoff.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/spike-001/phase-1-research/agent-a-001/agent-a-001-research.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/spike-001/phase-2-analysis/agent-a-002/agent-a-002-analysis.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/spike-002/phase-1-research/agent-b-001/agent-b-001-research.md
  projects/PROJ-006-multi-instance/orchestration/multi-instance-20260220-001/spike-002/phase-2-analysis/agent-b-002/agent-b-002-analysis.md
  projects/PROJ-006-multi-instance/research/SPIKE-001-002-research-index.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/FEAT-001-instance-strategy.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/SPIKE-001-sdk-vs-cli.md
  projects/PROJ-006-multi-instance/work/EPIC-001-multi-instance/FEAT-001-instance-strategy/SPIKE-002-worktree-lifecycle.md
  uv.lock
Due: pytest

feat: add blog section and Saucer Boy site theme (PROJ-011)
  .github/workflows/docs.yml
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/blog/posts/why-structured-prompting-works-citations.md
  docs/blog/posts/why-structured-prompting-works.md
  docs/stylesheets/saucer-boy.css
  mkdocs.yml
  overrides/main.html
Due: pytest

feat(proj-009): publish LLM deception research to docs site (4 pages)
  docs/research/index.md
  docs/research/llm-deception/architecture.md
  docs/research/llm-deception/index.md
  docs/research/llm-deception/methodology.md
  docs/research/llm-deception/the-85-problem.md
  mkdocs.yml
Due: pytest

fix(blog): merge citations into main article with inline hyperlinks
  docs/blog/posts/why-structured-prompting-works-citations.md
  docs/blog/posts/why-structured-prompting-works.md
  uv.lock
Due: pytest

fix(blog): improve dark theme readability for structured prompting post
  docs/blog/posts/why-structured-prompting-works.md
  docs/stylesheets/saucer-boy.css
Due: pytest

fix(theme): add missing dark mode CSS variables from Material slate
  docs/stylesheets/saucer-boy.css
Due: none

feat(blog): add marketing deliverables with C4 adversarial quality review
  docs/blog/posts/why-structured-prompting-works.md
  work/marketing/adversary/s-001-red-team.md
  work/marketing/adversary/s-002-devils-advocate.md
  work/marketing/adversary/s-003-steelman.md
  work/marketing/adversary/s-004-pre-mortem.md
  work/marketing/adversary/s-007-constitutional-ai-critique.md
  work/marketing/adversary/s-010-self-refine.md
  work/marketing/adversary/s-011-chain-of-verification.md
  work/marketing/adversary/s-012-fmea.md
  work/marketing/adversary/s-013-inversion.md
  work/marketing/adversary/s-014-scoring-iteration-1.md
  work/marketing/adversary/s-014-scoring-iteration-2.md
  work/marketing/adversary/s-014-scoring-iteration-3.md
  work/marketing/adversary/s-014-scoring-iteration-4.md
  work/marketing/adversary/s-014-scoring-iteration-5.md
  work/marketing/adversary/s-014-scoring-iteration-6.md
  work/marketing/adversary/tournament-summary.md
  work/marketing/medium-article.md
  work/marketing/slack-message.md
Due: pytest

refactor(blog): move marketing deliverables to PROJ-011-saucer-boy-articles
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-001-red-team.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-002-devils-advocate.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-003-steelman.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-004-pre-mortem.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-007-constitutional-ai-critique.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-010-self-refine.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-011-chain-of-verification.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-012-fmea.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-013-inversion.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-1.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-2.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-3.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-4.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-5.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/s-014-scoring-iteration-6.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/adversary/tournament-summary.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/medium-article.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/marketing/slack-message.md
Due: pytest

docs(worktracker): add STORY-001 marketing deliverables entities for ART-001
  projects/PROJ-011-saucer-boy-articles/WORKTRACKER.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/STORY-001-marketing-deliverables.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/TASK-001-medium-article.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/TASK-002-slack-message.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/TASK-003-c4-tournament.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/TASK-004-targeted-revisions.md
  projects/PROJ-011-saucer-boy-articles/work/articles/ART-001-structured-prompting/STORY-001-marketing-deliverables/TASK-005-blog-citation-fix.md
Due: pytest
