Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(theme): add code syntax highlighting variables to saucer-boy-dark
  docs/stylesheets/saucer-boy.css
Due: none

test(proj-010): add 388 tests for src/agents/ bounded context, coverage 75.92% → 87.49%
  docs/security/security-test-cases-agents-bounded-context.md
  tests/unit/agents/__init__.py
  tests/unit/agents/application/__init__.py
  tests/unit/agents/application/handlers/__init__.py
  tests/unit/agents/application/handlers/commands/__init__.py
  tests/unit/agents/application/handlers/commands/test_build_agents_command_handler.py
  tests/unit/agents/application/handlers/queries/__init__.py
  tests/unit/agents/application/handlers/queries/test_list_agents_query_handler.py
  tests/unit/agents/application/handlers/queries/test_validate_agents_query_handler.py
  tests/unit/agents/conftest.py
  tests/unit/agents/domain/__init__.py
  tests/unit/agents/domain/entities/__init__.py
  tests/unit/agents/domain/entities/test_canonical_agent.py
  tests/unit/agents/domain/services/__init__.py
  tests/unit/agents/domain/services/test_prompt_transformer.py
  tests/unit/agents/domain/services/test_tool_mapper.py
  tests/unit/agents/domain/value_objects/__init__.py
  tests/unit/agents/domain/value_objects/test_body_format.py
  tests/unit/agents/domain/value_objects/test_model_tier.py
  tests/unit/agents/domain/value_objects/test_tool_tier.py
  tests/unit/agents/domain/value_objects/test_vendor_target.py
  tests/unit/agents/infrastructure/__init__.py
  tests/unit/agents/infrastructure/adapters/__init__.py
  tests/unit/agents/infrastructure/adapters/test_claude_code_adapter.py
  tests/unit/agents/infrastructure/persistence/__init__.py
  tests/unit/agents/infrastructure/persistence/test_filesystem_agent_repository.py
Due: pyright, pytest

feat(PROJ-012): Agent config extraction, schema enforcement, and CLI tooling
  .github/workflows/jerry-agent-schema-validation.yml
  TOOL_REGISTRY.yaml
  docs/schemas/SCHEMA_VERSIONING.md
  docs/schemas/agent-definition-v1.schema.json
  docs/schemas/jerry-claude-agent-defaults.yaml
  docs/schemas/jerry-claude-agent-definition-v1.schema.json
  projects/PROJ-012-agent-optimization/PLAN.md
  projects/PROJ-012-agent-optimization/WORKTRACKER.md
  projects/README.md
  scripts/jerry-validate-agent-schemas.py
  skills/transcript/agents/ts-extractor.md
  skills/transcript/agents/ts-formatter.md
  skills/transcript/agents/ts-mindmap-ascii.md
  skills/transcript/agents/ts-mindmap-mermaid.md
  skills/transcript/agents/ts-parser.md
  src/application/handlers/queries/__init__.py
  src/application/handlers/queries/agent_config_query_handlers.py
  src/application/queries/__init__.py
  src/application/queries/agent_config_queries.py
  src/bootstrap.py
  src/infrastructure/adapters/configuration/agent_config_resolver.py
  src/interface/cli/adapter.py
  src/interface/cli/main.py
  src/interface/cli/parser.py
  tests/integration/test_all_agents_validate.py
  tests/integration/test_cli_agents.py
  tests/unit/application/handlers/queries/__init__.py
  tests/unit/application/handlers/queries/test_agent_config_query_handlers.py
  tests/unit/infrastructure/adapters/configuration/test_agent_config_resolver.py
  uv.lock
Due: pyright, pytest

feat(proj-005): harden document type ontology + fix H-33 composition prompts
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-004-document-type-detection-misclassification/BUG-004-document-type-detection-misclassification.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/EN-002-document-type-ontology-hardening.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/evidence/coverage-en002.xml
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/evidence/technical-approach.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-1/eng-qa-test-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-1/eng-security-review.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-2/red-lead-scope.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-2/red-vuln-cwe843-analysis.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-3/eng-reviewer-gate.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-3/red-reporter-findings.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-5/adv-scorer-independent.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-5/adv-scorer-rescore.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/EN-002-document-type-ontology-hardening/iteration-5/eng-reviewer-independent.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  skills/worktracker/composition/wt-auditor.prompt.md
  skills/worktracker/composition/wt-verifier.prompt.md
  skills/worktracker/composition/wt-visualizer.prompt.md
  src/domain/markdown_ast/document_type.py
  src/domain/markdown_ast/schema_definitions.py
  src/domain/markdown_ast/universal_document.py
  src/infrastructure/internal/enforcement/pre_tool_enforcement_engine.py
  tests/integration/test_document_type_regression.py
  tests/unit/domain/markdown_ast/test_document_type.py
  tests/unit/domain/markdown_ast/test_schema_registry.py
  uv.lock
Due: pyright, pytest

fix(proj-005): replace fnmatch.fnmatch with fnmatchcase for cross-platform path matching
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-004-document-type-detection-misclassification/BUG-004-document-type-detection-misclassification.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-005-windows-fnmatch-path-matching/BUG-005-windows-fnmatch-path-matching.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  src/domain/markdown_ast/document_type.py
  tests/unit/domain/markdown_ast/test_document_type.py
Due: pyright, pytest

test(proj-005): add coverage for EN-002 Enum/dataclass exemptions and path normalization
  tests/unit/domain/markdown_ast/test_document_type.py
  tests/unit/enforcement/test_pre_tool_enforcement_engine.py
Due: pyright, pytest

chore(PROJ-012): Add GitHub issue cross-link to EN-006 worktracker entry
  projects/PROJ-012-agent-optimization/WORKTRACKER.md
Due: pytest

fix(PROJ-012): Add .gitkeep for work/ and decisions/ directories
  projects/PROJ-012-agent-optimization/decisions/.gitkeep
  projects/PROJ-012-agent-optimization/work/.gitkeep
Due: none

docs: rewrite INSTALLATION.md for GitHub-first plugin installation
  .claude-plugin/marketplace.json
  docs/INSTALLATION.md
  projects/PROJ-001-oss-documentation/research/claude-code-plugin-system-research-20260225.md
  projects/PROJ-001-oss-documentation/reviews/EN-001-e-002-iter1-critique.md
  projects/PROJ-001-oss-documentation/reviews/EN-001-e-003-iter2-critique.md
  projects/PROJ-001-oss-documentation/reviews/PM-INSTALLATION-20260225.md
  projects/PROJ-001-oss-documentation/reviews/adv-s002-devils-advocate-install-docs.md
  projects/PROJ-001-oss-documentation/reviews/adv-s002-devils-advocate-installation-c4.md
  projects/PROJ-001-oss-documentation/reviews/adv-s003-steelman-install-docs.md
  projects/PROJ-001-oss-documentation/reviews/adv-s007-constitutional-install-docs.md
  projects/PROJ-001-oss-documentation/reviews/adv-s014-score-install-docs-iter2.md
  projects/PROJ-001-oss-documentation/reviews/adv-s014-score-install-docs-iter3.md
  projects/PROJ-001-oss-documentation/reviews/adv-s014-score-install-docs-iter4.md
  projects/PROJ-001-oss-documentation/reviews/adv-s014-score-install-docs.md
  projects/PROJ-001-oss-documentation/reviews/iteration-1-s001-red-team.md
  projects/PROJ-001-oss-documentation/reviews/iteration-1-s002-devils-advocate.md
  projects/PROJ-001-oss-documentation/reviews/iteration-1-s007-constitutional.md
  projects/PROJ-001-oss-documentation/reviews/iteration-1-s014-scorer.md
  projects/PROJ-001-oss-documentation/reviews/iteration-1-saucer-boy-voice.md
  projects/PROJ-001-oss-documentation/reviews/iteration-2-s001-red-team.md
  projects/PROJ-001-oss-documentation/reviews/iteration-2-s002-devils-advocate.md
  projects/PROJ-001-oss-documentation/reviews/iteration-2-s007-constitutional.md
  projects/PROJ-001-oss-documentation/reviews/iteration-2-s014-scorer.md
  projects/PROJ-001-oss-documentation/reviews/iteration-2-saucer-boy-voice.md
  projects/PROJ-001-oss-documentation/reviews/iteration-3-s001-red-team.md
  projects/PROJ-001-oss-documentation/reviews/iteration-3-s002-devils-advocate.md
  projects/PROJ-001-oss-documentation/reviews/iteration-3-s007-constitutional.md
  projects/PROJ-001-oss-documentation/reviews/iteration-3-s014-scorer.md
  projects/PROJ-001-oss-documentation/reviews/iteration-3-saucer-boy-voice.md
  projects/PROJ-001-oss-documentation/reviews/iteration-4-s014-scorer.md
  projects/PROJ-001-oss-documentation/reviews/iteration-4-saucer-boy-voice.md
  projects/PROJ-001-oss-documentation/reviews/iteration-5-s014-scorer.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s001-iter1.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s002-iter1.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s007-iter1.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s014-iter1.md
  projects/PROJ-001-oss-documentation/reviews/voice/.gitkeep
  projects/PROJ-001-oss-documentation/reviews/voice/test-sb-reviewer-001.md
  src/domain/markdown_ast/document_type.py
  uv.lock
Due: pyright, pytest, validate-plugin-manifests

docs: add explicit SSH URL option to install table
  docs/INSTALLATION.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s014-iter3.md
  projects/PROJ-001-oss-documentation/reviews/pr-description-s014-iter4.md
Due: pytest

feat(PROJ-012): Add merge regression case study + analysis
  docs/experience/CASESTUDY-PROJ012-merge-regression.md
  projects/PROJ-012-agent-optimization/analysis/merge-regression-analysis.md
Due: pytest

chore: add BUG-003 worktracker entity and GitHub Issue #75
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-003-pr52-en002-reversion/BUG-003-pr52-en002-reversion.md
Due: pytest

refactor: move prompt runbooks to .context/rules/ for auto-loading
  .context/rules/prompt-quality.md
  .context/rules/prompt-templates.md
Due: pytest

docs(runbooks): add prompt quality guide and templates
  docs/runbooks/prompt-quality.md
  docs/runbooks/prompt-templates.md
Due: pytest

docs(runbooks): add Template 6 Batch Isolated Research
  docs/runbooks/prompt-templates.md
Due: pytest

feat(PROJ-006): add jerry prompt effectiveness research
  projects/PROJ-006-jerry-prompt/ORCHESTRATION.yaml
  projects/PROJ-006-jerry-prompt/ORCHESTRATION_PLAN.md
  projects/PROJ-006-jerry-prompt/PLAN.md
  projects/PROJ-006-jerry-prompt/WORKTRACKER.md
  projects/PROJ-006-jerry-prompt/analysis/prompt-pattern-analysis.md
  projects/PROJ-006-jerry-prompt/analysis/prompt-quality-rubric-taxonomy.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-1/gate-1-ps-critic-challenge.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-1/gate-1-ps-reviewer-review.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-1/gate-1-result.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-2/gate-2-combined-review.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-2/gate-2-result.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-3/gate-3-combined-review.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/gates/gate-3/gate-3-result.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-1-discovery/ps-investigator/ps-investigator-investigation.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-1-discovery/ps-researcher/ps-researcher-survey.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-2-analysis/ps-analyst/ps-analyst-analysis.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-2-analysis/ps-architect/ps-architect-rubric-taxonomy.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-3-synthesis/ps-reporter/ps-reporter-deliverables.md
  projects/PROJ-006-jerry-prompt/orchestration/prompt-research-20260218-001/ps/phase-3-synthesis/ps-synthesizer/ps-synthesizer-guide.md
  projects/PROJ-006-jerry-prompt/requirements/proj-006-e-002-prompt-quality-requirements.md
  projects/PROJ-006-jerry-prompt/research/external-prompt-engineering-survey.md
  projects/PROJ-006-jerry-prompt/research/jerry-internals-investigation.md
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-best-practices-guide.md
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-executive-summary.md
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-quality-rubric-card.md
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-template-library.md
  projects/PROJ-006-jerry-prompt/verification/proj-006-e-003-en001-deliverable-verification.md
  projects/PROJ-006-jerry-prompt/work/EN-001-prompt-effectiveness-research.md
  projects/README.md
Due: pytest

docs(runbooks): add prompt quality guide and templates
  docs/runbooks/prompt-quality.md
  docs/runbooks/prompt-templates.md
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-template-library.md
Due: pytest

feat(PROJ-006): add findings report
  projects/PROJ-006-jerry-prompt/reports/proj-006-findings-report.md
Due: pytest

fix(PROJ-006): add quality threshold to research spike template
  projects/PROJ-006-jerry-prompt/synthesis/jerry-prompt-template-library.md
Due: pytest

fix: cross-platform CRLF handling, UTF-8 encoding, and architecture tests
  .claude/statusline.py
  scripts/check_agent_conformance.py
  scripts/compose_agent_template.py
  scripts/patterns/loader.py
  scripts/subagent_stop.py
  src/infrastructure/adapters/serialization/toon_serializer.py
  src/transcript/application/handlers/commands/parse_transcript_command_handler.py
  src/transcript/application/services/chunker.py
  tests/architecture/test_cross_platform.py
Due: pyright, pytest

fix: add Windows platform guards to migration scripts and CI pipeline
  scripts/migration/verify-platform.sh
  scripts/migration/verify-symlinks.sh
Due: none

fix: detect stale pre-commit hook Python path and improve worktree docs
  CONTRIBUTING.md
  docs/INSTALLATION.md
  scripts/session_start_hook.py.retired
Due: pytest

fix: add explicit UTF-8 encoding to test file I/O for Windows compat
  tests/integration/test_atomic_file_adapter.py
  tests/integration/test_filesystem_local_context_adapter.py
  tests/project_validation/architecture/test_path_conventions.py
  tests/project_validation/system/test_grep_validation.py
Due: pyright, pytest

style: apply ruff format to test file
  tests/integration/test_filesystem_local_context_adapter.py
Due: pyright, pytest

feat(oss-prep): file 4 GitHub issues for OSS release preparation
  uv.lock
  work/gh-issues/adversary-iteration-1.md
  work/gh-issues/adversary-iteration-2.md
  work/gh-issues/adversary-iteration-3.md
  work/gh-issues/adversary-iteration-4.md
  work/gh-issues/adversary-iteration-5.md
  work/gh-issues/diataxis-adversary-iteration-1.md
  work/gh-issues/diataxis-adversary-iteration-2.md
  work/gh-issues/diataxis-adversary-iteration-3.md
  work/gh-issues/diataxis-adversary-iteration-4.md
  work/gh-issues/diataxis-adversary-iteration-5.md
  work/gh-issues/diataxis-issue-body.md
  work/gh-issues/issue-agent-definition-optimization.md
  work/gh-issues/issue-body.md
  work/gh-issues/issue-claude-code-pr-automation.md
  work/gh-issues/issue-diataxis-skill.md
  work/gh-issues/issue-project-tracker-extraction.md
  work/gh-issues/issue-readme-accuracy.md
  work/gh-issues/pr-automation-adversary-iteration-1.md
  work/gh-issues/pr-automation-adversary-iteration-2.md
  work/gh-issues/pr-automation-adversary-iteration-3.md
  work/gh-issues/pr-automation-adversary-iteration-4.md
  work/gh-issues/pr-automation-adversary-iteration-5.md
  work/gh-issues/pr-automation-issue-body.md
  work/gh-issues/pt-adversary-iteration-1.md
  work/gh-issues/pt-adversary-iteration-2.md
  work/gh-issues/pt-adversary-iteration-3.md
  work/gh-issues/pt-adversary-iteration-4.md
  work/gh-issues/readme-accuracy-issue-body.md
  work/gh-issues/readme-adversary-iteration-1.md
  work/gh-issues/readme-adversary-iteration-2.md
  work/gh-issues/readme-adversary-iteration-3.md
  work/gh-issues/readme-adversary-iteration-4.md
  work/gh-issues/readme-adversary-iteration-5.md
Due: pytest

docs: restore historical knowledge and transcripts from orphan branch
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/blackboard-agent-orchestration-design.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-c4-context-diagram.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-deployment-diagram.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-disaster-recovery-runbook.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-119-context7-mcp-integration-patterns.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-121-option-a-skill-trigger-phrase.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-122-option-b-sdk-orchestrator.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-123-option-c-hook-trigger.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-130-alternative-agent-triggering-patterns.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-156-cli-blackboard-integration-architecture.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-162-blackboard-e2e-proof.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-e-165-documentation-audit.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/blackboard/phase-38.17-signal-dispatcher-design.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/self-healing/e-058-self-healing-hook.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/self-healing/self-healing-architecture.md
  docs/archive/knowledge/dragonsbelurkin/aspirations/self-healing/self-healing-guide.md
  docs/archive/knowledge/dragonsbelurkin/glimmering-brewing-lake-v2.md
  docs/archive/knowledge/dragonsbelurkin/glimmering-brewing-lake-v3.md
  docs/archive/knowledge/dragonsbelurkin/glimmering-brewing-lake.md
  docs/archive/knowledge/dragonsbelurkin/history/REVISED-ARCHITECTURE-v3.0.md
  docs/archive/scripts/session_start_hook.py
  docs/archive/transcripts/001-oss-release/Jerry-Framework-Open-Source-Release_transcript.txt
  docs/archive/transcripts/001-oss-release/canonical-transcript.json
  docs/archive/transcripts/001-oss-release/chunks/chunk-000.json
  docs/archive/transcripts/001-oss-release/extraction-report.json
  docs/archive/transcripts/001-oss-release/index.json
  docs/archive/transcripts/001-oss-release/packet/00-index.md
  docs/archive/transcripts/001-oss-release/packet/01-summary.md
  docs/archive/transcripts/001-oss-release/packet/02-transcript.md
  docs/archive/transcripts/001-oss-release/packet/03-speakers.md
  docs/archive/transcripts/001-oss-release/packet/04-action-items.md
  docs/archive/transcripts/001-oss-release/packet/05-decisions.md
  docs/archive/transcripts/001-oss-release/packet/06-questions.md
  docs/archive/transcripts/001-oss-release/packet/07-topics.md
  docs/archive/transcripts/001-oss-release/packet/08-mindmap/mindmap.ascii.txt
  docs/archive/transcripts/001-oss-release/packet/08-mindmap/mindmap.mmd
  docs/archive/transcripts/001-oss-release/packet/_anchors.json
  docs/archive/transcripts/001-oss-release/quality-review.md
  mkdocs.yml
  src/domain/markdown_ast/document_type.py
Due: pyright, pytest

feat(oss-prep): file use case capability GitHub issue #109
  work/gh-issues/issue-use-case-skill.md
  work/gh-issues/use-case-adversary-iteration-1.md
  work/gh-issues/use-case-adversary-iteration-2.md
  work/gh-issues/use-case-adversary-iteration-3.md
  work/gh-issues/use-case-adversary-iteration-4.md
  work/gh-issues/use-case-adversary-iteration-5.md
Due: pytest

docs: restore worktracker ontology project with vendor model analysis
  docs/archive/PROJ-006-worktracker-ontology/ORCHESTRATION_PLAN.md
  docs/archive/PROJ-006-worktracker-ontology/PLAN.md
  docs/archive/PROJ-006-worktracker-ontology/WORKTRACKER.md
  docs/archive/PROJ-006-worktracker-ontology/analysis/ADO-SCRUM-MODEL.md
  docs/archive/PROJ-006-worktracker-ontology/analysis/JIRA-MODEL.md
  docs/archive/PROJ-006-worktracker-ontology/analysis/SAFE-MODEL.md
  docs/archive/PROJ-006-worktracker-ontology/bugs/BUG-001-incorrect-artifact-paths.md
  docs/archive/PROJ-006-worktracker-ontology/discoveries/disc-004-critic-loops.md
  docs/archive/PROJ-006-worktracker-ontology/reports/WI-003-final-approval.md
  docs/archive/PROJ-006-worktracker-ontology/research/ADO-SCRUM-RAW.md
  docs/archive/PROJ-006-worktracker-ontology/research/JIRA-RAW.md
  docs/archive/PROJ-006-worktracker-ontology/research/SAFE-RAW.md
  docs/archive/PROJ-006-worktracker-ontology/reviews/CL-003-synthesis-review.md
  docs/archive/PROJ-006-worktracker-ontology/reviews/CL-004-ontology-review.md
  docs/archive/PROJ-006-worktracker-ontology/reviews/CL-005-templates-review.md
  docs/archive/PROJ-006-worktracker-ontology/reviews/REVIEW-TEMPLATE.md
  docs/archive/PROJ-006-worktracker-ontology/synthesis/CROSS-DOMAIN-SYNTHESIS.md
  docs/archive/PROJ-006-worktracker-ontology/synthesis/ONTOLOGY-v1.md
  docs/archive/PROJ-006-worktracker-ontology/templates/BUG.md
  docs/archive/PROJ-006-worktracker-ontology/templates/ENABLER.md
  docs/archive/PROJ-006-worktracker-ontology/templates/EPIC.md
  docs/archive/PROJ-006-worktracker-ontology/templates/FEATURE.md
  docs/archive/PROJ-006-worktracker-ontology/templates/SPIKE.md
  docs/archive/PROJ-006-worktracker-ontology/templates/STORY.md
  docs/archive/PROJ-006-worktracker-ontology/templates/TASK.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/FEATURE-WORKTRACKER.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/ORCHESTRATION.yaml
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/en-001.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/en-002.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/en-003.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/en-004.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/en-005.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/wi-001.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/wi-002.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/FT-001/wi-003.md
  docs/archive/PROJ-006-worktracker-ontology/work/SE-001/SOLUTION-WORKTRACKER.md
  mkdocs.yml
  src/domain/markdown_ast/document_type.py
  tests/e2e/test_quality_framework_e2e.py
Due: pyright, pytest

fix: detect stale pre-commit hook Python path and improve worktree docs
  CONTRIBUTING.md
  docs/INSTALLATION.md
  docs/archive/scripts/session_start_hook.py
Due: pyright, pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
