Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(proj-040-wave2): Batch 1 — W2-03/10/11/12 with mkdocs nav registration
  CONTRIBUTING.md
  docs/reference/jerry-vs-claude-agent-sdk.md
  docs/runbooks/getting-started.md
  mkdocs.yml
Due: pytest

feat(proj-040-wave2): Batches 2 & 3 — W2-04/05/06/07/08/09 README + docs/index.md content
  README.md
  docs/index.md
Due: pytest

feat: register e2e-testing skill agents
  .claude-plugin/plugin.json
  .context/rules/mandatory-skill-usage.md
  AGENTS.md
  CLAUDE.md
Due: pytest, validate-plugin-manifests

chore(proj-041): drop /orchestration scaffold; add agent assignments to all entities
  projects/PROJ-041-transcript-hardening/WORKTRACKER.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/EN-004-red-team-threat-model.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-005-user-experience-exploration/EN-005-user-experience-exploration.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-006-diataxis-docs/EN-006-diataxis-docs.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-007-orchestration-plan/EN-007-orchestration-plan.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-008-final-adversary-tournament/EN-008-final-adversary-tournament.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EPIC-001-transcript-hardening.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/STORY-001-vendor-adr-007.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-002-promote-adr-007-accepted/STORY-002-promote-adr-007-accepted.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-001-token-caps/BUG-001-token-caps.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-002-chunk-id-regex/BUG-002-chunk-id-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-003-domain-regex/BUG-003-domain-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-004-seg-nnn-regex/BUG-004-seg-nnn-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-005-backlinks-format/BUG-005-backlinks-format.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-001-ddd-scaffolding/EN-001-ddd-scaffolding.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-002-test-harness/EN-002-test-harness.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-003-subprocess-sandbox/EN-003-subprocess-sandbox.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-003-file-validators/STORY-003-file-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-004-content-validators/STORY-004-content-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/STORY-005-anchor-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-006-schema-validators/STORY-006-schema-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/STORY-007-cli-verify.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/STORY-008-cli-update-anchors.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-009-wire-verify-hook/STORY-009-wire-verify-hook.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-010-wire-update-anchors-pipeline/STORY-010-wire-update-anchors-pipeline.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-011-update-ts-critic/STORY-011-update-ts-critic.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-013-editorial-conventions/STORY-013-editorial-conventions.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-014-arithmetic-invariants/STORY-014-arithmetic-invariants.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-015-discussions-entity/STORY-015-discussions-entity.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-016-audit-basis/STORY-016-audit-basis.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-005-mindmap-hardening/BUG-006-mindmap-bracket-escape/BUG-006-mindmap-bracket-escape.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-005-mindmap-hardening/BUG-007-mindmap-false-self-claim/BUG-007-mindmap-false-self-claim.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/plans/PLAN-001-orchestration.md
Due: pytest

chore(proj-041): apply ps-architect advisories; revert Blocker 1 (validator conflict); add sample Tasks
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/DEC-001-decomposition-review.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-005-user-experience-exploration/EN-005-user-experience-exploration.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-006-diataxis-docs/EN-006-diataxis-docs.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/TASK-001-copy-adr-007-from-jerry-core.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-002-promote-adr-007-accepted/STORY-002-promote-adr-007-accepted.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-002-chunk-id-regex/BUG-002-chunk-id-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-003-domain-regex/BUG-003-domain-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-004-seg-nnn-regex/BUG-004-seg-nnn-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-005-backlinks-format/BUG-005-backlinks-format.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/DEC-001-hook-mechanism.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-002-test-harness/EN-002-test-harness.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-002-test-harness/TASK-003-build-clean-packet-golden.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-003-subprocess-sandbox/TASK-002-implement-sandbox-adapter.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-011-update-ts-critic/STORY-011-update-ts-critic.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-015-discussions-entity/STORY-015-discussions-entity.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-005-mindmap-hardening/DEC-001-bug-007-capability-or-claim-honesty.md
Due: pytest

fix(proj-041): add ## Summary to 13 stories; fix audit report absolute path
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-003-file-validators/STORY-003-file-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-004-content-validators/STORY-004-content-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/STORY-005-anchor-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-006-schema-validators/STORY-006-schema-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/STORY-007-cli-verify.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/STORY-008-cli-update-anchors.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-009-wire-verify-hook/STORY-009-wire-verify-hook.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-010-wire-update-anchors-pipeline/STORY-010-wire-update-anchors-pipeline.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-013-editorial-conventions/STORY-013-editorial-conventions.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-014-arithmetic-invariants/STORY-014-arithmetic-invariants.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-015-discussions-entity/STORY-015-discussions-entity.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-016-audit-basis/STORY-016-audit-basis.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/audit-report-20260429.md
Due: pytest

docs(proj-041): add wt-visualizer Mermaid diagrams (hierarchy, deps, status)
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/diagrams/dependencies.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/diagrams/hierarchy.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/diagrams/status-overview.md
Due: pytest

chore(proj-041): close all wt-auditor warnings + finalize Children Tasks tables
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/EN-004-red-team-threat-model.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-005-user-experience-exploration/EN-005-user-experience-exploration.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-006-diataxis-docs/EN-006-diataxis-docs.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-008-final-adversary-tournament/EN-008-final-adversary-tournament.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/STORY-001-vendor-adr-007.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-002-promote-adr-007-accepted/STORY-002-promote-adr-007-accepted.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-001-token-caps/BUG-001-token-caps.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-002-chunk-id-regex/BUG-002-chunk-id-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-003-domain-regex/BUG-003-domain-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-004-seg-nnn-regex/BUG-004-seg-nnn-regex.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-002-contradictions-cleanup/BUG-005-backlinks-format/BUG-005-backlinks-format.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-001-ddd-scaffolding/EN-001-ddd-scaffolding.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-002-test-harness/EN-002-test-harness.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/EN-003-subprocess-sandbox/EN-003-subprocess-sandbox.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-003-file-validators/STORY-003-file-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-004-content-validators/STORY-004-content-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/STORY-005-anchor-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-006-schema-validators/STORY-006-schema-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/STORY-007-cli-verify.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/STORY-008-cli-update-anchors.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-009-wire-verify-hook/STORY-009-wire-verify-hook.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-010-wire-update-anchors-pipeline/STORY-010-wire-update-anchors-pipeline.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-011-update-ts-critic/STORY-011-update-ts-critic.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-013-editorial-conventions/STORY-013-editorial-conventions.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-014-arithmetic-invariants/STORY-014-arithmetic-invariants.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-015-discussions-entity/STORY-015-discussions-entity.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-016-audit-basis/STORY-016-audit-basis.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-005-mindmap-hardening/BUG-006-mindmap-bracket-escape/BUG-006-mindmap-bracket-escape.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-005-mindmap-hardening/BUG-007-mindmap-false-self-claim/BUG-007-mindmap-false-self-claim.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/audit-report-20260430.md
Due: pytest

docs(proj-041): wt-auditor verification — PASS, zero findings
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/audit-report-20260430.md
Due: pytest

chore(proj-041): session checkpoint (context EMERGENCY tier)
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/session-checkpoint-20260430.md
Due: pytest

docs(proj-041): add complete dependency graph (Option C)
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/diagrams/dependencies-full.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/diagrams/dependencies.md
Due: pytest

docs(proj-041): close cosmetic story-audit warnings (W-001, W-006, I-001)
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-003-file-validators/STORY-003-file-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-004-content-validators/STORY-004-content-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/STORY-005-anchor-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-006-schema-validators/STORY-006-schema-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/STORY-007-cli-verify.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/STORY-008-cli-update-anchors.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-009-wire-verify-hook/STORY-009-wire-verify-hook.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-010-wire-update-anchors-pipeline/STORY-010-wire-update-anchors-pipeline.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-013-editorial-conventions/STORY-013-editorial-conventions.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-014-arithmetic-invariants/STORY-014-arithmetic-invariants.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-015-discussions-entity/STORY-015-discussions-entity.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-004-schema-extensions/STORY-016-audit-basis/STORY-016-audit-basis.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/audit-report-stories-only-20260430.md
Due: pytest

fix(proj-041): add 5 missing closure Tasks (W-002, W-003, W-005)
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/STORY-005-anchor-validators.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-005-anchor-validators/TASK-211-validate-ac-and-close-story-005.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/STORY-007-cli-verify.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/TASK-212-run-adversary-c4-review.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-007-cli-verify/TASK-213-validate-ac-and-close-story-007.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/STORY-008-cli-update-anchors.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-008-cli-update-anchors/TASK-214-validate-ac-and-close-story-008.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/STORY-012-ci-workflow.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-003-deterministic-validation/STORY-012-ci-workflow/TASK-215-validate-ac-and-close-story-012.md
Due: pytest

feat(proj-041): add MASTER-DRIVER.md + register doctype path pattern
  projects/PROJ-041-transcript-hardening/MASTER-DRIVER.md
  src/domain/markdown_ast/document_type.py
Due: pyright, pytest

feat(proj-041): EN-004 Phase 1 recon + STORY-001 cross-ref updates (Wave 0)
  docs/adrs/ADR-007-output-template-specification.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/EN-004-red-team-threat-model.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/recon-existing-surface.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/recon-new-surface.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/scope-document.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/STORY-001-vendor-adr-007.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/ci-check-spec.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/cross-reference-recon.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/task-001-delivery-evidence.md
  skills/transcript/SKILL.md
  skills/transcript/agents/ts-formatter.md
  skills/transcript/composition/ts-formatter.prompt.md
  skills/transcript/docs/PLAYBOOK.md
Due: pytest

feat(proj-041): EN-004 Phase 1 STRIDE+handoff + STORY-001 verify+CI (Wave 0)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/attack-paths.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/phase-1-handoff-to-eng-team.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/work/red-team/stride-threat-model.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/task-007-verification-report.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/task-008-delivery-evidence.md
  scripts/check_skill_adr_references.py
  tests/unit/scripts/test_check_skill_adr_references.py
Due: pyright, pytest

chore(proj-041): session checkpoint #02 — Wave 0 first execution
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/EN-004-red-team-threat-model/EN-004-red-team-threat-model.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/STORY-001-vendor-adr-007.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/ci-check-spec.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/cross-reference-recon.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/FEAT-001-adr-007-foundation/STORY-001-vendor-adr-007/work/task-009-adversary-c2-scoring.md
  projects/PROJ-041-transcript-hardening/work/EPIC-001-transcript-hardening/session-checkpoint-20260430-02.md
Due: pytest

feat(eng-team): port /eng-team skill to Codex CLI skill format
  .agents/skills/eng-team/SKILL.md
  .agents/skills/eng-team/references/eng-architect.md
  .agents/skills/eng-team/references/eng-backend.md
  .agents/skills/eng-team/references/eng-devsecops.md
  .agents/skills/eng-team/references/eng-frontend.md
  .agents/skills/eng-team/references/eng-incident.md
  .agents/skills/eng-team/references/eng-infra.md
  .agents/skills/eng-team/references/eng-lead.md
  .agents/skills/eng-team/references/eng-qa.md
  .agents/skills/eng-team/references/eng-reviewer.md
  .agents/skills/eng-team/references/eng-security.md
Due: pytest

feat(adversary): port /adversary skill to Codex CLI skill format
  .agents/skills/adversary/SKILL.md
  .agents/skills/adversary/references/adv-executor.md
  .agents/skills/adversary/references/adv-scorer.md
  .agents/skills/adversary/references/adv-selector.md
Due: pytest

refactor(codex-skills): make eng-team and adversary fully self-contained
  .agents/skills/adversary/SKILL.md
  .agents/skills/adversary/agents/openai.yaml
  .agents/skills/adversary/references/adv-executor.md
  .agents/skills/adversary/references/adv-selector.md
  .agents/skills/adversary/references/strategies/TEMPLATE-FORMAT.md
  .agents/skills/adversary/references/strategies/s-001-red-team.md
  .agents/skills/adversary/references/strategies/s-002-devils-advocate.md
  .agents/skills/adversary/references/strategies/s-003-steelman.md
  .agents/skills/adversary/references/strategies/s-004-pre-mortem.md
  .agents/skills/adversary/references/strategies/s-007-constitutional-ai.md
  .agents/skills/adversary/references/strategies/s-010-self-refine.md
  .agents/skills/adversary/references/strategies/s-011-cove.md
  .agents/skills/adversary/references/strategies/s-012-fmea.md
  .agents/skills/adversary/references/strategies/s-013-inversion.md
  .agents/skills/adversary/references/strategies/s-014-llm-as-judge.md
  .agents/skills/eng-team/SKILL.md
  .agents/skills/eng-team/agents/openai.yaml
Due: pytest

chore(codex-skills): version Codex ports independently (codex-1.0.0)
  .agents/skills/adversary/SKILL.md
  .agents/skills/adversary/agents/openai.yaml
  .agents/skills/eng-team/SKILL.md
  .agents/skills/eng-team/agents/openai.yaml
Due: pytest

fix(adversary): remove angle bracket from description for Codex validator
  .agents/skills/adversary/SKILL.md
Due: pytest

feat(codex-skills): deterministic installer + validator script
  .agents/install-codex-skills.sh
Due: none

ci: harden dependency security-scan pipeline (#301)
  .github/CODEOWNERS
  .github/actions/security-audit/action.yml
  .github/security/audit-allowlist.yml
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  CHANGELOG.md
  scripts/security/audit_allowlist.py
  tests/security/test_audit_allowlist.py
Due: pyright, pytest

fix: remediate transitive dependency CVEs (#301)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: pytest

docs(proj-024): security-scan hardening analysis, ADR, and worktracker (#301)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/decisions/ADR-secscan-hardening-001.md
  projects/PROJ-024-tactical-work/research/README.md
  projects/PROJ-024-tactical-work/research/dependabot-merge-analysis-20260622/PR-298-and-ci-rootcause.md
  projects/PROJ-024-tactical-work/research/dependabot-merge-analysis-20260622/PR-299-291-precommit.md
  projects/PROJ-024-tactical-work/research/dependabot-merge-analysis-20260622/PR-300-uv-group.md
  projects/PROJ-024-tactical-work/research/dependabot-merge-analysis-20260622/RECOMMENDATION.md
  projects/PROJ-024-tactical-work/research/dependabot-merge-analysis-20260622/adversarial-review.md
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/adversarial-review.md
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/github-issue-body.md
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/worktracker-audit.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/EPIC-004-security-scan-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/BUG-008-scheduled-scan-false-green.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/TASK-035-confirm-dependabot-settings.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-026-unify-ci-scheduled-scan/STORY-026-unify-ci-scheduled-scan.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-027-cve-accept-list/STORY-027-cve-accept-list.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-028-owner-alerting-github-issue/STORY-028-owner-alerting-github-issue.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-029-fix-silent-failure-guard/STORY-029-fix-silent-failure-guard.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/STORY-030-remediate-transitive-cves/STORY-030-remediate-transitive-cves.md
Due: pytest

fix(deps): resolve 10 pip-audit vulnerabilities in 6 packages
  uv.lock
Due: none

docs(proj-024): commit security-scan hardening proposal research record
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/CODEOWNERS.addition
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/README.md
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/VERIFY.md
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/action.yml
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/audit-allowlist.yml
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/ci.yml.security-job.draft
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/scripts/security/audit_allowlist.py
  projects/PROJ-024-tactical-work/research/security-scan-hardening-20260622/proposal/security-scan.yml.draft
Due: pyright, pytest

fix(deps): constrain click>=8.3.3 to remediate PYSEC-2026-2132 (BUG-009, #336)
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/BUG-009-click-command-injection/BUG-009-click-command-injection.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
  pyproject.toml
  uv.lock
Due: pytest

docs(proj-024): revert BUG-009 premature closure — fix pending merge to main
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/BUG-009-click-command-injection/BUG-009-click-command-injection.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
Due: pytest

docs: add changelog entries (PR gate) + close TASK-035 (Dependabot enabled by owner)
  CHANGELOG.md
  projects/PROJ-024-tactical-work/WORKTRACKER.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/EN-007-security-scan-pipeline-hardening/TASK-035-confirm-dependabot-settings.md
  projects/PROJ-024-tactical-work/work/EPIC-004-security-scan-hardening/FEAT-002-security-scan-pipeline-hardening/FEAT-002-security-scan-pipeline-hardening.md
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
