Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(proj-023): W12 B11 PASS — adv-scorer 0.956 >= 0.95 threshold
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-loop3-s014-adv-scorer.md
Due: pytest

feat(proj-023): W12 STORY-W12-004 — 119 BDD step definitions for tool_exec
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/STORY-W12-004.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-022.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-023.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-024.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-025.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-026.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-027.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/TASK-028.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/WORKTRACKER.md
  pyproject.toml
  skills/eng-team/output/W12-BDD/eng-qa-bdd-strategy.md
  skills/red-team/output/RED-W12-BDD/red-vuln-bdd-security-guidance.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
  tests/bdd/tool_exec/__init__.py
  tests/bdd/tool_exec/conftest.py
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-001.feature
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-002.feature
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-003.feature
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-004.feature
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-005.feature
  tests/bdd/tool_exec/features/test-UC-TOOLEXEC-006.feature
  tests/bdd/tool_exec/test_uc001_auto_detect.py
  tests/bdd/tool_exec/test_uc002_explicit_family.py
  tests/bdd/tool_exec/test_uc003_engagement_init.py
  tests/bdd/tool_exec/test_uc004_list_families.py
  tests/bdd/tool_exec/test_uc005_credential_filter.py
  tests/bdd/tool_exec/test_uc006_health_check.py
  uv.lock
Due: pyright, pytest

fix(docs): replace AstFrontmatterReader with YamlFrontmatterReader for SKILL.md parsing
  .context/templates/docs/skill-examples.yaml
  README.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/ORCHESTRATION.yaml
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/ORCHESTRATION_PLAN.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/STRATEGY_SELECTION_PLAN.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/adversary-devils-advocate.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/adversary-strategy-plan.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/phase-3/e2e-validation-report.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/quality-score-plan-r2.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/quality-score-plan-r3.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/quality-score-plan-r4.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/quality-score-plan-r5.md
  projects/PROJ-0037-doc-module/orchestration/bugfix-20260312-001/impl/quality-score-plan.md
  projects/PROJ-0037-doc-module/work/EPIC-001-documentation/FEAT-001-readme-doc-module/ST-001-update-readme/ST-001-update-readme.md
  projects/PROJ-0037-doc-module/work/EPIC-001-documentation/FEAT-001-readme-doc-module/ST-002-auto-doc-module/BUG-001-frontmatter-reader-mismatch.md
  projects/PROJ-0037-doc-module/work/EPIC-001-documentation/FEAT-001-readme-doc-module/ST-002-auto-doc-module/ST-002-auto-doc-module.md
  src/bootstrap.py
  src/docs/domain/ports/frontmatter_reader.py
  src/docs/infrastructure/adapters/yaml_frontmatter_reader.py
  tests/integration/docs/test_end_to_end.py
  tests/integration/docs/test_yaml_frontmatter_reader.py
Due: pyright, pytest

feat(docs): add pre-commit hook for README documentation drift detection
  .pre-commit-config.yaml
Due: none

refactor(proj-023): W12 reclassify BDD as integration + create E2E story
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-004-bdd-steps/STORY-W12-004.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/STORY-W12-005.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-029.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-030.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-031.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-032.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-033.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-034.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-035.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/WORKTRACKER.md
  tests/integration/tool_exec/__init__.py
  tests/integration/tool_exec/conftest.py
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-001.feature
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-002.feature
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-003.feature
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-004.feature
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-005.feature
  tests/integration/tool_exec/features/test-UC-TOOLEXEC-006.feature
  tests/integration/tool_exec/test_uc001_auto_detect.py
  tests/integration/tool_exec/test_uc002_explicit_family.py
  tests/integration/tool_exec/test_uc003_engagement_init.py
  tests/integration/tool_exec/test_uc004_list_families.py
  tests/integration/tool_exec/test_uc005_credential_filter.py
  tests/integration/tool_exec/test_uc006_health_check.py
Due: pyright, pytest

feat(proj-023): W12 STORY-W12-005 — 37 E2E tests against live Docker
  .github/workflows/proj023-ci.yml
  skills/rainbow-supply-chain/tests/docker/scanner/Dockerfile
  tests/e2e/tool_exec/__init__.py
  tests/e2e/tool_exec/conftest.py
  tests/e2e/tool_exec/test_engagement_lifecycle.py
  tests/e2e/tool_exec/test_error_paths.py
  tests/e2e/tool_exec/test_management_commands.py
  tests/e2e/tool_exec/test_zone1_tools.py
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211128117199Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211251448749Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211508582606Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211619766074Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211804477376Z.json
  work/engagements/E2E-TEST-PROBE1/.engagement-meta.json
  work/security-events/no-filter-audit-20260318T211037Z.json
  work/security-events/no-filter-audit-20260318T211251Z.json
  work/security-events/no-filter-audit-20260318T211508Z.json
  work/security-events/no-filter-audit-20260318T211619Z.json
  work/security-events/no-filter-audit-20260318T211803Z.json
Due: pyright, pytest

chore(proj-023): remove E2E test artifacts + add to gitignore
  .gitignore
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211128117199Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211251448749Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211508582606Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211619766074Z.json
  work/.zone3-audit/zone3-approval-no-engagement-20260318T211804477376Z.json
  work/engagements/E2E-TEST-PROBE1/.engagement-meta.json
  work/security-events/no-filter-audit-20260318T211037Z.json
  work/security-events/no-filter-audit-20260318T211251Z.json
  work/security-events/no-filter-audit-20260318T211508Z.json
  work/security-events/no-filter-audit-20260318T211619Z.json
  work/security-events/no-filter-audit-20260318T211803Z.json
Due: none

fix(proj-023): W12 argparse tool_command nargs=? for management commands
  src/interface/cli/parser.py
Due: pyright, pytest

chore(proj-023): W12 extend E2E story — 6 new tasks for all container families
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/STORY-W12-005.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-036.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-037.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-038.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-039.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-040.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-041.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/WORKTRACKER.md
Due: pytest

feat(proj-023): W12 TASK-036-041 — E2E tests for all 6 container families
  tests/e2e/tool_exec/test_blue_team.py
  tests/e2e/tool_exec/test_cloud_auditor.py
  tests/e2e/tool_exec/test_exploit.py
  tests/e2e/tool_exec/test_recon.py
  tests/e2e/tool_exec/test_runtime.py
  tests/e2e/tool_exec/test_verifier.py
Due: pyright, pytest

fix(proj-023): blue-team containers — versioned rule bundles + plaso stub
  skills/blue-team/tests/docker/detection/Dockerfile
  skills/blue-team/tests/docker/detection/test-detection.sh
  skills/blue-team/tests/docker/forensics/Dockerfile
  skills/blue-team/tests/docker/forensics/test-forensics.sh
Due: none

fix(proj-023): sigma-cli offline — bundled MITRE ATT&CK JSON + usercustomize.py
  skills/blue-team/tests/docker/detection/Dockerfile
Due: none

feat(proj-023): ADR-PROJ023-003 v2 — Envoy forward proxy network isolation
  projects/PROJ-023-exploit-framework/work/design/network-isolation-analysis.md
  skills/eng-team/output/W12-ENVOY/eng-infra-envoy-implementation-plan.md
Due: pytest

chore(proj-023): FEAT-W13 worktracker — Envoy network isolation
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/FEAT-W13.md
Due: pytest

chore(proj-023): FEAT-W13 full worktracker decomposition — 29 entity files
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/STORY-W13-001.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/T13-001.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/T13-002.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/T13-003.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/T13-004.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-001-envoy-base/T13-005.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/STORY-W13-002.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-006.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-007.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-008.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-009.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-010.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-002-compose-integration/T13-011.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-003-scope-translator/STORY-W13-003.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-003-scope-translator/T13-012.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-003-scope-translator/T13-013.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-003-scope-translator/T13-014.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-003-scope-translator/T13-015.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/STORY-W13-004.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/T13-016.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/T13-017.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/T13-018.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/T13-019.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-004-e2e-proxy-tests/T13-020.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-005-cli-integration/STORY-W13-005.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-005-cli-integration/T13-021.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-005-cli-integration/T13-022.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/STORY-W13-005-cli-integration/T13-023.md
  projects/PROJ-023-exploit-framework/work/FEAT-W13-envoy-network-isolation/WORKTRACKER.md
Due: pytest

fix: add trailing newline to settings-json-schema-validation.json
  projects/PROJ-030-bugs/reviews/settings-json-schema-validation.json
Due: none

feat(proj-023): FEAT-W13 Envoy forward proxy — configs, compose, translator, tests
  projects/PROJ-023-exploit-framework/investigations/envoy-forward-proxy-research.md
  skills/blue-team/tests/docker/docker-compose.yml
  skills/eng-team/output/W13-ENVOY/eng-architect-threat-model.md
  skills/rainbow-cloud/tests/docker/docker-compose.yml
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-recon/tests/docker/docker-compose.yml
  skills/rainbow-runtime/tests/docker/docker-compose.yml
  skills/rainbow-supply-chain/tests/docker/docker-compose.yml
  skills/rainbow/config/envoy/envoy-zone1-update.yaml
  skills/rainbow/config/envoy/envoy-zone2-active.yaml
  skills/rainbow/config/envoy/envoy-zone3-exploit.yaml
  skills/rainbow/config/tool-exec.yaml
  skills/red-team/output/RED-W13-001/red-vuln-envoy-bypass-assessment.md
  src/interface/cli/parser.py
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/infrastructure/envoy/__init__.py
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/unit/tool_exec/envoy/__init__.py
  tests/unit/tool_exec/envoy/test_envoy_config_validation.py
  tests/unit/tool_exec/envoy/test_scope_translator.py
Due: pyright, pytest

fix(proj-023): Envoy admin bind to 127.0.0.1 — V10 mitigation
  skills/rainbow/config/envoy/envoy-zone1-update.yaml
  skills/rainbow/config/envoy/envoy-zone2-active.yaml
  skills/rainbow/config/envoy/envoy-zone3-exploit.yaml
  tests/unit/tool_exec/envoy/test_envoy_config_validation.py
Due: pyright, pytest

feat(proj-023): STORY-W13-004 E2E proxy validation — 19 live Docker tests
  skills/rainbow-supply-chain/tests/docker/docker-compose.yml
  skills/rainbow/config/envoy/envoy-zone1-update.yaml
  skills/rainbow/config/envoy/envoy-zone2-active.yaml
  skills/rainbow/config/envoy/envoy-zone3-exploit.yaml
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/e2e/tool_exec/test_envoy_proxy.py
  tests/unit/tool_exec/envoy/test_envoy_config_validation.py
Due: pyright, pytest

fix(proj-023): Fix 4 broken container entrypoints — all tools now start and stay alive
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-msf/Dockerfile
  skills/rainbow-runtime/tests/docker/frida/Dockerfile
  skills/rainbow-runtime/tests/docker/mitmproxy/Dockerfile
Due: none

feat(proj-023): STORY-W13-005 ContainerExecutor proxy wiring + healthcheck fixes
  skills/blue-team/tests/docker/docker-compose.yml
  skills/rainbow-cloud/tests/docker/docker-compose.yml
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-recon/tests/docker/docker-compose.yml
  skills/rainbow-runtime/tests/docker/docker-compose.yml
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  tests/unit/tool_exec/envoy/test_proxy_wiring.py
Due: pyright, pytest

fix(proj-023): VULN-002 exec_flags injection + VULN-003 fail-closed proxy gate
  skills/eng-team/output/W13-PATHS/eng-security-path-audit.md
  skills/red-team/output/RED-W13-002/red-vuln-proxy-wiring-review.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  tests/unit/tool_exec/envoy/test_proxy_wiring.py
Due: pyright, pytest

chore(proj-023): E2E full run investigation — 33 tests, 5 discoveries
  projects/PROJ-023-exploit-framework/investigations/E2E-FULL-RUN-2026-03-19.md
Due: pytest

feat(proj-023): E2E gap fixes — cloud zones, fail-closed test, Zone 3 PTY
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-042.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-043.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-044.md
  skills/eng-team/output/W12-E2E-FIXES/eng-backend-e2e-fixes.md
  skills/rainbow/config/tool-exec.yaml
  skills/red-team/output/RED-W12-PTY/red-vuln-pty-testing-review.md
  tests/e2e/tool_exec/test_envoy_proxy.py
  tests/e2e/tool_exec/test_zone3_approval.py
Due: pyright, pytest

feat(proj-023): Zone 3 approval hardening — confirmation phrase + audit forensics
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-045.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-046.md
  skills/eng-team/output/W12-ZONE3/eng-backend-zone3-hardening.md
  skills/red-team/output/RED-W12-CONFIRM/red-vuln-confirmation-phrase-review.md
  src/interface/cli/tool_exec_commands.py
  tests/e2e/tool_exec/test_zone3_approval.py
  tests/unit/tool_exec/test_r3_fixes.py
  tests/unit/tool_exec/test_zone3_approval_logic.py
Due: pyright, pytest

feat(proj-023): E2E infra — all 6 clusters, container-mode coverage, fixes
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-047.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-048.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-049.md
  skills/eng-team/output/W12-E2E-FULL/eng-qa-e2e-full-coverage.md
  skills/red-team/output/RED-W12-E2E/red-vuln-e2e-infra-review.md
  tests/e2e/tool_exec/conftest.py
  tests/e2e/tool_exec/test_cloud_auditor.py
  tests/e2e/tool_exec/test_container_mode.py
  tests/e2e/tool_exec/test_envoy_proxy.py
  tests/e2e/tool_exec/test_zone3_approval.py
Due: pyright, pytest

fix(proj-023): E2E test fixes — scope mismatch, assertion strings, stale cleanup
  tests/e2e/tool_exec/conftest.py
  tests/e2e/tool_exec/test_container_mode.py
Due: pyright, pytest

feat(proj-023): TASK-050 E2E proof Zone 2/3 traffic flows through Envoy
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-005-e2e-tests/TASK-050.md
  tests/e2e/tool_exec/test_envoy_zone2_zone3.py
Due: pyright, pytest

feat(proj-023): E2E real-work tests + Dockerfile tool setup + context window research
  projects/PROJ-023-exploit-framework/work/analysis/context-window-detection-analysis.md
  projects/PROJ-023-exploit-framework/work/analysis/context-window-premortem.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-006-context-window-detection.md
  projects/PROJ-023-exploit-framework/work/research/claude-code-hook-events-research.md
  projects/PROJ-023-exploit-framework/work/research/model-command-tool-execution-research.md
  skills/blue-team/tests/docker/compliance/Dockerfile
  skills/blue-team/tests/docker/detection/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-msf/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-ops/Dockerfile
  skills/rainbow-recon/tests/docker/recon-pipeline/Dockerfile
  skills/rainbow-supply-chain/tests/docker/scanner/Dockerfile
  skills/rainbow/config/envoy/envoy-zone1-update.yaml
  tests/e2e/tool_exec/fixtures/test-engagement-scope.yaml
  tests/e2e/tool_exec/test_tools_through_envoy.py
  work/ORCHESTRATION.yaml
Due: pyright, pytest

chore(proj-023): checkpoint Phase 4 — container lifecycle design complete
  projects/PROJ-023-exploit-framework/work/analysis/orchestrator-lifecycle-premortem.md
  projects/PROJ-023-exploit-framework/work/analysis/orchestrator-lifecycle-security-review.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-007-orchestrator-container-lifecycle.md
  projects/PROJ-023-exploit-framework/work/research/orchestrator-container-lifecycle-research.md
  work/ORCHESTRATION.yaml
Due: pytest

feat(proj-023): implement ContainerLifecycleManager (CLM-001 through CLM-007)
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/STORY-023-001-container-lifecycle-manager/STORY-023-001-container-lifecycle-manager.md
  projects/PROJ-023-exploit-framework/work/STORY-023-001-container-lifecycle-manager/TASK-023-007-test-standards-remediation/TASK-023-007-test-standards-remediation.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-007-orchestrator-container-lifecycle.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/ORCHESTRATION_PLAN.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/phase1-orientation-summary.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/phase2-clm004-fix-summary.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/phase3-clm-implementation-summary.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/phase4-remaining-fixes-summary.md
  projects/PROJ-023-exploit-framework/work/orchestration/phase4-clm-20260320-001/phase5-integration-test-summary.md
  projects/PROJ-023-exploit-framework/work/prompts/phase4-resumption-prompt.md
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-exploit/tests/docker/exploit-msf/Dockerfile
  skills/rainbow/SKILL.md
  skills/rainbow/agents/rainbow-orchestrator.md
  src/tool_exec/infrastructure/container_lifecycle/__init__.py
  src/tool_exec/infrastructure/container_lifecycle/cluster_state.py
  src/tool_exec/infrastructure/container_lifecycle/cluster_status.py
  src/tool_exec/infrastructure/container_lifecycle/container_lifecycle_manager.py
  src/tool_exec/infrastructure/container_lifecycle/docker_compose_adapter.py
  src/tool_exec/infrastructure/container_lifecycle/service_status.py
  src/tool_exec/infrastructure/container_lifecycle/session_state.py
  src/tool_exec/infrastructure/container_lifecycle/teardown_result.py
  src/tool_exec/infrastructure/container_lifecycle/worktree_isolation.py
  src/tool_exec/infrastructure/envoy/scope_translator.py
  tests/architecture/test_container_lifecycle_boundaries.py
  tests/contract/test_container_lifecycle_contracts.py
  tests/e2e/tool_exec/test_container_lifecycle_e2e.py
  tests/integration/tool_exec/test_container_lifecycle_integration.py
  tests/unit/tool_exec/container_lifecycle/__init__.py
  tests/unit/tool_exec/container_lifecycle/test_container_lifecycle_manager.py
  tests/unit/tool_exec/container_lifecycle/test_docker_compose_adapter.py
  tests/unit/tool_exec/container_lifecycle/test_worktree_isolation.py
  tests/unit/tool_exec/envoy/test_scope_translator.py
  work/ORCHESTRATION.yaml
Due: pyright, pytest

feat(proj-023): add EN-023-001 eBPF container PoC enabler — Go/No-Go gate
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/EN-023-001-ebpf-container-poc.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-041-bpf-connect4-minimal/TASK-023-041-bpf-connect4-minimal.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-042-docker-bpf-entrypoint/TASK-023-042-docker-bpf-entrypoint.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/EN-023-001-ebpf-container-poc/TASK-023-043-connect-rewrite-test/TASK-023-043-connect-rewrite-test.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-003-ebpf-transparent-socks-routing/FEAT-023-003-ebpf-transparent-socks-routing.md
Due: pytest

feat(proj-023): sync worktracker with design — 5 new tasks, AC updates, H-20 enforcement
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-025-implement-proxy-status-rotate-destroy/TASK-023-025-implement-proxy-status-rotate-destroy.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/TASK-023-045-proxy-gc-command/TASK-023-045-proxy-gc-command.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-027-design-provisioner-port/TASK-023-027-design-provisioner-port.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-028-digitalocean-adapter/TASK-023-028-digitalocean-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-029-vultr-adapter/TASK-023-029-vultr-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-030-hetzner-adapter/TASK-023-030-hetzner-adapter.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-046-audit-logging/TASK-023-046-audit-logging.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/TASK-023-048-apikey-preflight-check/TASK-023-048-apikey-preflight-check.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-006-clm-proxy-pool-integration/TASK-023-039-clm-engagement-teardown/TASK-023-039-clm-engagement-teardown.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-044-sidecar-json-logging/TASK-023-044-sidecar-json-logging.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/TASK-023-047-sidecar-connection-limits/TASK-023-047-sidecar-connection-limits.md
Due: pytest

fix(proj-023): resolve all 11 worktracker audit errors — full integrity pass
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-001-orchestration-prompt-plan/TASK-023-001-prompt-engineering/TASK-023-001-prompt-engineering.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-001-orchestration-prompt-plan/TASK-023-002-orchestration-plan/TASK-023-002-orchestration-plan.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infra-automation/README.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-003-cli-proxy-management/STORY-023-003-cli-proxy-management.md
  projects/PROJ-023-exploit-framework/work/EPIC-023-007-proxy-infrastructure/FEAT-023-002-vendor-agnostic-proxy-provisioner/STORY-023-004-cloud-vendor-adapter-layer/STORY-023-004-cloud-vendor-adapter-layer.md
  projects/PROJ-023-exploit-framework/work/STORY-023-001-container-lifecycle-manager/STORY-023-001-container-lifecycle-manager.md
  projects/PROJ-023-exploit-framework/work/STORY-023-002-socks-proxy-envoy/STORY-023-002-socks-proxy-envoy.md
  projects/PROJ-023-exploit-framework/work/TASK-023-003-phase1-catalog-research/TASK-023-003-phase1-catalog-research.md
  projects/PROJ-023-exploit-framework/work/TASK-023-004-phase1-catalog-synthesis/TASK-023-004-phase1-catalog-synthesis.md
  projects/PROJ-023-exploit-framework/work/TASK-023-005-phase1-c4-tournament/TASK-023-005-phase1-c4-tournament.md
  projects/PROJ-023-exploit-framework/work/TASK-023-006-container-gap-analysis/TASK-023-006-container-gap-analysis.md
  projects/PROJ-023-exploit-framework/work/audit/worktracker-audit-20260324.md
Due: pytest

feat(proj-023): complete dependency chain — full cross-story execution graph
  projects/PROJ-023-exploit-framework/WORKTRACKER.md
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
