Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

feat(GH-130): PROJ-015 user-facing documentation audit & gap analysis
  docs/blog/posts/structured-negation-constraint-enforcement.md
  docs/research/negative-prompting.md
  projects/PROJ-015-documentation-audit/PLAN.md
  projects/PROJ-015-documentation-audit/WORKTRACKER.md
  projects/PROJ-015-documentation-audit/reports/user-facing-docs-audit.md
  projects/PROJ-015-documentation-audit/reports/user-facing-docs-classification.md
  projects/PROJ-015-documentation-audit/research/remediation-report.md
  projects/PROJ-015-documentation-audit/research/skill-documentation-inventory.md
  projects/PROJ-015-documentation-audit/work/.gitkeep
  projects/README.md
  uv.lock
Due: pytest

fix(ci): version bump regex rejects uppercase scopes like GH-NNN
  .github/workflows/version-bump.yml
Due: none

chore(PROJ-012): remove throwaway vendor YAML comment script
  scripts/add_vendor_yaml_comments.py
Due: pyright, pytest

fix(PROJ-012): normalize path separators in document type regression test
  tests/integration/test_document_type_regression.py
Due: pyright, pytest

fix(PROJ-012): change Anthropic skill schema to additionalProperties: true
  docs/schemas/anthropic-skill-frontmatter-v1.schema.json
  tests/unit/agents/domain/services/test_skill_compose_validator.py
Due: pyright, pytest

fix(PROJ-012): harden check_skill_schemas.py against silent failures
  scripts/check_skill_schemas.py
Due: pyright, pytest

feat(PROJ-012): run skill compose pipeline on all 15 skills + fix frontmatter parsing
  skills/adversary/SKILL.md
  skills/architecture/SKILL.md
  skills/ast/SKILL.md
  skills/bootstrap/SKILL.md
  skills/diataxis/SKILL.md
  skills/eng-team/SKILL.md
  skills/nasa-se/SKILL.md
  skills/orchestration/SKILL.md
  skills/problem-solving/SKILL.md
  skills/prompt-engineering/SKILL.md
  skills/red-team/SKILL.md
  skills/saucer-boy-framework-voice/SKILL.md
  skills/saucer-boy/SKILL.md
  skills/transcript/SKILL.md
  skills/worktracker/SKILL.md
  src/agents/application/handlers/commands/compose_skills_command_handler.py
  src/agents/domain/services/skill_compose_validator.py
  src/agents/infrastructure/persistence/filesystem_skill_repository.py
  tests/unit/agents/domain/services/test_skill_compose_validator.py
Due: pyright, pytest

docs(PROJ-012): persist S-014 iteration 5 quality score report (0.933 PASS)
  projects/PROJ-012-agent-optimization/reviews/s-014-quality-score-iteration-5.md
Due: pytest

docs(PROJ-012): persist S-012 FMEA analysis for skill composition pipeline
  projects/PROJ-012-agent-optimization/reviews/s-012-fmea-skill-pipeline.md
Due: pytest

fix: correct BlockquoteFrontmatter attribute access in regression test
  skills/nasa-se/reference/nse-architecture-dar-template.md
  skills/nasa-se/reference/nse-architecture-fad-template.md
  skills/nasa-se/reference/nse-architecture-tra-template.md
  skills/nasa-se/reference/nse-architecture-tsr-template.md
  skills/nasa-se/reference/nse-configuration-templates.md
  skills/nasa-se/reference/nse-explorer-alternative-analysis-template.md
  skills/nasa-se/reference/nse-explorer-concept-exploration-template.md
  skills/nasa-se/reference/nse-explorer-state-schema.md
  skills/nasa-se/reference/nse-explorer-trade-study-template.md
  skills/nasa-se/reference/nse-integration-templates.md
  skills/nasa-se/reference/nse-reporter-dashboard-template.md
  skills/nasa-se/reference/nse-reporter-readiness-template.md
  skills/nasa-se/reference/nse-reporter-status-report-template.md
  skills/nasa-se/reference/nse-reviewer-templates.md
  skills/problem-solving/reference/ps-critic-circuit-breaker.md
  skills/problem-solving/reference/ps-critic-output-templates.md
  skills/problem-solving/reference/ps-critic-scoring-rubric.md
  skills/problem-solving/reference/ps-critic-tool-examples.md
  skills/transcript/reference/ts-extractor-chunk-strategies.md
  skills/transcript/reference/ts-extractor-chunked-processing.md
  skills/transcript/reference/ts-extractor-output-schema.md
  skills/transcript/reference/ts-formatter-anchor-registry.md
  skills/transcript/reference/ts-formatter-file-templates.md
  skills/transcript/reference/ts-mindmap-ascii-examples.md
  skills/transcript/reference/ts-mindmap-mermaid-examples.md
  skills/transcript/reference/ts-parser-error-handling.md
  skills/transcript/reference/ts-parser-output-schema.md
  skills/transcript/reference/ts-parser-parsing-rules.md
  skills/worktracker/reference/wt-auditor-audit-checks.md
  skills/worktracker/reference/wt-auditor-invocation-example.md
  skills/worktracker/reference/wt-auditor-report-template.md
  skills/worktracker/reference/wt-verifier-invocation-example.md
  skills/worktracker/reference/wt-verifier-output-schema.md
  skills/worktracker/reference/wt-verifier-workflow-diagram.md
  skills/worktracker/reference/wt-visualizer-diagram-examples.md
  skills/worktracker/reference/wt-visualizer-invocation-example.md
  tests/regression/test_golden_files.py
Due: pyright, pytest

refactor(PROJ-035): optimize 40 agent definitions — Pattern A removal
  skills/adversary/agents/adv-executor.md
  skills/adversary/agents/adv-scorer.md
  skills/adversary/agents/adv-selector.md
  skills/nasa-se/agents/nse-architecture.md
  skills/nasa-se/agents/nse-configuration.md
  skills/nasa-se/agents/nse-explorer.md
  skills/nasa-se/agents/nse-integration.md
  skills/nasa-se/agents/nse-qa.md
  skills/nasa-se/agents/nse-reporter.md
  skills/nasa-se/agents/nse-requirements.md
  skills/nasa-se/agents/nse-reviewer.md
  skills/nasa-se/agents/nse-risk.md
  skills/nasa-se/agents/nse-verification.md
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/agents/orch-synthesizer.md
  skills/orchestration/agents/orch-tracker.md
  skills/problem-solving/agents/ps-analyst.md
  skills/problem-solving/agents/ps-architect.md
  skills/problem-solving/agents/ps-critic.md
  skills/problem-solving/agents/ps-investigator.md
  skills/problem-solving/agents/ps-reporter.md
  skills/problem-solving/agents/ps-researcher.md
  skills/problem-solving/agents/ps-reviewer.md
  skills/problem-solving/agents/ps-synthesizer.md
  skills/problem-solving/agents/ps-validator.md
  skills/prompt-engineering/agents/pe-builder.md
  skills/prompt-engineering/agents/pe-constraint-gen.md
  skills/prompt-engineering/agents/pe-scorer.md
  skills/saucer-boy-framework-voice/agents/sb-calibrator.md
  skills/saucer-boy-framework-voice/agents/sb-reviewer.md
  skills/saucer-boy-framework-voice/agents/sb-rewriter.md
  skills/saucer-boy/agents/sb-voice.md
  skills/transcript/agents/ts-extractor.md
  skills/transcript/agents/ts-formatter.md
  skills/transcript/agents/ts-mindmap-ascii.md
  skills/transcript/agents/ts-mindmap-mermaid.md
  skills/transcript/agents/ts-parser.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
Due: pytest

fix(PROJ-035): close pre-existing constitutional compliance gaps in ts-extractor and wt-verifier
  skills/transcript/agents/ts-extractor.md
  skills/worktracker/agents/wt-verifier.governance.yaml
Due: pytest

fix(PROJ-035): add navigation table and P-010 to ts-extractor header
  skills/transcript/agents/ts-extractor.md
Due: pytest

fix(PROJ-035): add P-010 row to ts-extractor constitutional compliance table
  skills/transcript/agents/ts-extractor.md
Due: pytest

fix(PROJ-035): align P-004 enforcement level in ts-extractor compliance table
  skills/transcript/agents/ts-extractor.md
Due: pytest

fix(PROJ-035): upgrade ts-extractor governance YAML to NPT-009 format
  skills/transcript/agents/ts-extractor.governance.yaml
Due: none

docs(PROJ-035): add regression score reports and leash analysis artifacts
  docs/pm-pmm/leash-analysis/01-leash-product-analysis.md
  docs/pm-pmm/leash-analysis/02-competitive-analysis.md
  docs/pm-pmm/leash-analysis/02-kernel-security-landscape.md
  docs/pm-pmm/leash-analysis/03-competitive-analysis-top5.md
  docs/pm-pmm/leash-analysis/ORCHESTRATION.yaml
  docs/pm-pmm/leash-analysis/ORCHESTRATION_PLAN.md
  docs/pm-pmm/leash-analysis/kernel-security/ORCHESTRATION.yaml
  docs/pm-pmm/leash-analysis/kernel-security/ORCHESTRATION_PLAN.md
  docs/pm-pmm/leash-analysis/quality-score-03-competitive-analysis-iteration2.md
Due: pytest

feat(PROJ-017): complete 8-phase quality framework analysis pipeline
  projects/PROJ-017-llm-skill-testing/analysis/cross-pollination-synthesis.md
  projects/PROJ-017-llm-skill-testing/analysis/risk-assessment.md
  projects/PROJ-017-llm-skill-testing/analysis/synthesized-findings.md
  projects/PROJ-017-llm-skill-testing/analysis/trade-study.md
  projects/PROJ-017-llm-skill-testing/analysis/verification-report.md
  projects/PROJ-017-llm-skill-testing/decisions/ADR-001-framework-architecture.md
  projects/PROJ-017-llm-skill-testing/decisions/ADR-002-quality-framework-selection.md
  projects/PROJ-017-llm-skill-testing/decisions/adv/adv-6-score-v2.md
  projects/PROJ-017-llm-skill-testing/decisions/adv/adv-6-score-v3.md
  projects/PROJ-017-llm-skill-testing/decisions/adv/adv-6-score-v4.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/ORCHESTRATION_PLAN.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1a-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1a-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1b-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1b-score-v3-rescore.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1b-score-v3.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1b-score-v4.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1b-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1c-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1c-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1d-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-1d-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-2-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-2-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3a-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3a-score-v3.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3a-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3b-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3b-score-v3.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-3b-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-4-score-v2.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-4-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-5-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/adv-6-score.md
  projects/PROJ-017-llm-skill-testing/orchestration/promptfoo-deep-analysis-20260303/adv/nse-rev-report.md
  projects/PROJ-017-llm-skill-testing/research/competitive-landscape.md
  projects/PROJ-017-llm-skill-testing/research/evaluation-criteria.md
  projects/PROJ-017-llm-skill-testing/research/industry-standards-v2.md
  projects/PROJ-017-llm-skill-testing/research/jerry-integration-analysis.md
Due: pytest

docs(PROJ-0036): add Leash kernel-level security research phases 1-3
  docs/pm-pmm/leash-analysis/01-leash-product-analysis.md
  docs/pm-pmm/leash-analysis/02-competitive-analysis.md
  docs/pm-pmm/leash-analysis/02-kernel-security-landscape.md
  docs/pm-pmm/leash-analysis/03-competitive-analysis-top5.md
  docs/pm-pmm/leash-analysis/ORCHESTRATION.yaml
  docs/pm-pmm/leash-analysis/ORCHESTRATION_PLAN.md
  docs/pm-pmm/leash-analysis/kernel-security/ORCHESTRATION.yaml
  docs/pm-pmm/leash-analysis/kernel-security/ORCHESTRATION_PLAN.md
Due: pytest

docs(PROJ-0036): add session handoff for workflow resumption
  docs/pm-pmm/leash-analysis/HANDOFF.md
  projects/PROJ-017-llm-skill-testing/HANDOFF.md
Due: pytest

feat(PROJ-035): add agent optimization adversarial score reports
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/eng-security-review.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-architecture-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-reporter-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-reporter-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ps-critic-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v3.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v4.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v5.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v6.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/wt-verifier-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/wt-verifier-score.md
  tests/regression/test_golden_files.py
Due: pyright, pytest

feat(PROJ-035): add agent optimization adversarial score reports
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/eng-security-review.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-architecture-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-reporter-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/nse-reporter-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ps-critic-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v3.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v4.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v5.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score-v6.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/ts-extractor-score.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/wt-verifier-score-v2.md
  projects/PROJ-035-skill-optimization/work/agent-optimization/scores/wt-verifier-score.md
Due: pytest

docs(PROJ-017): add session handoff document and test allowlist update
  projects/PROJ-017-llm-skill-testing/HANDOFF.md
  tests/integration/test_document_type_regression.py
Due: pyright, pytest

test(PROJ-036): harden project validation for untracked WIP directories
  .gitignore
  tests/integration/test_document_type_regression.py
  tests/project_validation/architecture/test_path_conventions.py
  tests/project_validation/conftest.py
Due: pyright, pytest

feat(PROJ-036): add project structure and work item hierarchy
  projects/PROJ-036-prompt-regression-harness/EXECUTION-PROMPT.md
  projects/PROJ-036-prompt-regression-harness/PLAN.md
  projects/PROJ-036-prompt-regression-harness/WORKTRACKER.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/EPIC-036-001-test-harness.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/FEAT-036-001-implementation/FEAT-036-001-implementation.md
  projects/PROJ-036-prompt-regression-harness/work/EPIC-036-001-test-harness/audit-report-2026-03-06.md
  projects/README.md
Due: pytest

docs(PROJ-036): add design artifacts for Four-Layer Composite Test Harness
  projects/PROJ-036-prompt-regression-harness/design/harness-requirements.md
  projects/PROJ-036-prompt-regression-harness/design/security-assessment.md
  projects/PROJ-036-prompt-regression-harness/design/system-design.md
Due: pytest

feat(PROJ-036): add orchestration plan for harness implementation
  projects/PROJ-036-prompt-regression-harness/orchestration/harness-impl-20260306-001/ORCHESTRATION.yaml
  projects/PROJ-036-prompt-regression-harness/orchestration/harness-impl-20260306-001/ORCHESTRATION_PLAN.md
Due: pytest
