Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$

feat(proj-023): ADR-PROJ023-001 — foundational architecture decision (911 lines)
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-001-skill-architecture.md
Due: pytest

chore(proj-023): W10 tool executor implementation planned — 10 tasks, B9 gate
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

chore(proj-023): W10 resume prompt checkpoint
  projects/PROJ-023-exploit-framework/work/orchestration/checkpoints/phase-7-w10-tool-executor-resume-prompt.md
Due: pytest

audit(proj-023): ADR-PROJ023-001 C4 tournament iter1 — 0.79 REVISE (17 findings)
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/adr-001-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-011-cove-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter1/s-014-llm-as-judge-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/strategy-selection.md
Due: pytest

fix(proj-023): ADR-PROJ023-001 iter2 revision — all 5 C4 priorities addressed
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-001-skill-architecture.md
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-recon/tests/docker/docker-compose.yml
Due: pytest

audit(proj-023): ADR-PROJ023-001 C4 iter2 — 0.84 REVISE (+0.05)
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/adr-001-iter2-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-011-cove-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter2/s-014-llm-as-judge-findings.md
Due: pytest

fix(proj-023): ADR-PROJ023-001 v1.2.0 — iter3 revision (3 top + 8 additional)
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-001-skill-architecture.md
Due: pytest

audit(proj-023): ADR-PROJ023-001 C4 iter3 — 0.87 REVISE (+0.03)
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/adr-001-iter3-composite-score.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-001-red-team-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-002-devils-advocate-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-003-steelman-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-004-pre-mortem-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-007-constitutional-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-010-self-refine-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-011-cove-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-012-fmea-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-013-inversion-findings.md
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter3/s-014-llm-as-judge-findings.md
Due: pytest

fix(proj-023): ADR-PROJ023-001 v1.3.0 — iter4 revision (4 targeted fixes)
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-001-skill-architecture.md
Due: pytest

feat(proj-023): ADR-PROJ023-001 iter4 — 0.919 + footer fix -> projected 0.929 PASS
  projects/PROJ-023-exploit-framework/work/adversary/adr-001-review/iter4/adr-001-iter4-composite-score.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-001-skill-architecture.md
Due: pytest

fix(orchestration): correct stale Codex CLI command in orch-planner + clean branch
  skills/orchestration/agents/orch-planner.md
  skills/orchestration/docs/MULTI_CLI_INTEGRATION.md
  skills/orchestration/templates/consensus-panel.sh
Due: pytest

chore(proj-023): ORCHESTRATION.yaml SSOT — ADR C4 ACCEPTED, W10 UNBLOCKED
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): B9 iter1 0.874 + iter2 fixes + T10.9 E2E test
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b9/iter1/b9-iter1-composite-score.md
  skills/rainbow-recon/tests/docker/docker-compose.yml
  skills/rainbow/bin/rainbow-tool-exec
  skills/rainbow/config/tool-exec.yaml
  skills/rainbow/tests/bdd/test_tool_exec.feature
  skills/rainbow/tests/docker/test-tool-exec.sh
Due: pytest

feat(proj-023): B9 iter2 0.902 — W10 tool executor implementation scored
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b9/iter2/b9-iter2-composite-score.md
Due: pytest

chore(proj-023): ORCHESTRATION.yaml SSOT FINAL — W10 COMPLETE, B9 PASS, workflow DONE
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): Recon Dockerfile + e2e fixes — verified 6/6 tools on Docker arm64
  skills/rainbow-recon/tests/docker/e2e-test.sh
  skills/rainbow-recon/tests/docker/recon-pipeline/Dockerfile
Due: none

chore(proj-023): W11 Docker fix wave planned — 5 build failures + 3 e2e bugs
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): W11 Docker fixes — all 9 images build on arm64
  skills/blue-team/tests/docker/compliance/Dockerfile
  skills/blue-team/tests/docker/detection/Dockerfile
  skills/rainbow-cloud/tests/docker/cloud-auditor/Dockerfile
  skills/rainbow-exploit/tests/docker/e2e-test.sh
  skills/rainbow-exploit/tests/docker/exploit-c2/Dockerfile
  skills/rainbow-runtime/tests/docker/e2e-test.sh
  skills/rainbow-supply-chain/tests/docker/e2e-test.sh
Due: none

test(proj-023): W11 T11.8 full E2E report — 4/6 PASS, 19/24 tools verified
  projects/PROJ-023-exploit-framework/work/e2e-testing/container-e2e-report-w11.md
Due: pytest

feat(proj-023): W11 COMPLETE — 6/6 Docker E2E suites PASS on arm64
  skills/blue-team/tests/docker/e2e-test.sh
  skills/rainbow-cloud/tests/docker/e2e-test.sh
Due: none

chore(proj-023): ORCHESTRATION.yaml FINAL — W11 COMPLETE, B10 PASS 1.0, 6/6 Docker PASS
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

fix(proj-023): YARA-X 512-byte header + cloud/blue e2e entrypoint fixes
  skills/blue-team/tests/docker/detection/Dockerfile
Due: none

fix(proj-023): Credential filter macOS fix — grep -qP replaced with bash ERE
  skills/rainbow/bin/rainbow-tool-exec
Due: none

audit(proj-023): Engagement output path + cross-platform compatibility analysis
  projects/PROJ-023-exploit-framework/work/analysis/cross-platform-compatibility-audit.md
  projects/PROJ-023-exploit-framework/work/analysis/engagement-output-path-analysis.md
Due: pytest

feat(proj-023): W12 planned — jerry tool exec CLI + output paths + cross-platform
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/FEAT-W12.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/STORY-W12-001.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-001.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-002.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-003.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-004.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-005.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-006.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-007.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-008.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-009.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-001-cli-command/TASK-010.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/STORY-W12-002.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-011.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-012.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-013.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-014.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-015.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-002-output-paths/TASK-016.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-003-cross-platform/STORY-W12-003.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-003-cross-platform/TASK-017.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-003-cross-platform/TASK-018.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-003-cross-platform/TASK-019.md
  projects/PROJ-023-exploit-framework/work/FEAT-W12-tool-exec-cli/STORY-W12-003-cross-platform/TASK-020.md
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-002-cli-tool-executor.md
  projects/PROJ-023-exploit-framework/work/design/jerry-tool-exec-cli-design.md
Due: pytest

chore(proj-023): ORCHESTRATION.yaml — W12 planned, P-CLI pipeline, B11 gate
  projects/PROJ-023-exploit-framework/orchestration/proj023-impl-20260314-001/ORCHESTRATION.yaml
Due: none

feat(proj-023): Multi-family tool executor design — ToolFamilyResolverPort plugin arch
  projects/PROJ-023-exploit-framework/work/design/ADR-PROJ023-002-addendum-001-multi-family.md
  projects/PROJ-023-exploit-framework/work/design/jerry-tool-exec-cli-design-v2.md
Due: pytest

fix(proj-023): W12 Phase 1 — remaining cross-platform gaps + eng-team review
  skills/blue-team/tests/docker/docker-compose.yml
  skills/eng-team/output/W12-PHASE1/eng-qa-phase1-verification.md
  skills/eng-team/output/W12-PHASE1/eng-security-phase1-review.md
  skills/rainbow-cloud/tests/docker/cloud-auditor/Dockerfile
  skills/rainbow-cloud/tests/docker/docker-compose.yml
  skills/rainbow-exploit/tests/docker/docker-compose.yml
  skills/rainbow-recon/tests/docker/docker-compose.yml
  skills/rainbow-runtime/tests/docker/docker-compose.yml
  skills/rainbow-supply-chain/tests/docker/docker-compose.yml
  skills/rainbow-supply-chain/tests/docker/scanner/Dockerfile
  skills/rainbow-supply-chain/tests/docker/verifier/Dockerfile
Due: pytest

feat(proj-023): W12 Phase 2 — tool_exec implementation + security hardening
  skills/eng-team/output/W12-PHASE2/eng-architect-threat-model.md
  skills/eng-team/output/W12-PHASE2/eng-backend-implementation.md
  skills/eng-team/output/W12-PHASE2/eng-backend-remediation.md
  skills/eng-team/output/W12-PHASE2/eng-lead-implementation-plan.md
  skills/eng-team/output/W12-PHASE2/eng-qa-phase2-verification.md
  skills/eng-team/output/W12-PHASE2/eng-reviewer-final-gate.md
  skills/eng-team/output/W12-PHASE2/eng-security-phase2-review.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/credential_filter.py
  src/tool_exec/domain/services/engagement_initializer.py
  src/tool_exec/domain/value_objects/exit_codes.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  src/tool_exec/infrastructure/adapters/local_executor.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
  tests/unit/tool_exec/test_container_executor.py
  tests/unit/tool_exec/test_credential_filter.py
  tests/unit/tool_exec/test_engagement_initializer.py
  tests/unit/tool_exec/test_family_registry_loader.py
  tests/unit/tool_exec/test_local_executor.py
  tests/unit/tool_exec/test_tool_exec_commands_security.py
Due: pyright, pytest

fix(proj-023): W12 VF-001 + VF-002 — sliding-window credential filter + project root warning
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/adv-scorer-b11.md
  skills/red-team/output/RED-W12-001/red-vuln-tool-exec-assessment.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/credential_filter.py
  tests/unit/tool_exec/test_credential_filter.py
Due: pyright, pytest

fix(proj-023): W12 C4 tournament remediation — 8 P0 + 9 P1 fixes
  .claude/projects/-Users-adam-nowak-workspace-GitHub-geekatron-jerry-wt-feat-proj-023-exploit-framework/memory/MEMORY.md
  .claude/projects/-Users-adam-nowak-workspace-GitHub-geekatron-jerry-wt-feat-proj-023-exploit-framework/memory/feedback_adversary_process.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s001-red-team.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s002-devils-advocate.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s003-steelman.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s004-pre-mortem.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s007-constitutional.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s010-self-refine.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s011-cove.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s012-fmea.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/s013-inversion.md
  projects/PROJ-023-exploit-framework/work/design/use-cases/UC-TOOLEXEC-001.md
  pyproject.toml
  skills/eng-team/output/W12-PHASE2/eng-backend-c4-remediation.md
  src/interface/cli/parser.py
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/credential_filter.py
  src/tool_exec/domain/services/mode_resolver.py
  src/tool_exec/domain/value_objects/container_execution_result.py
  src/tool_exec/domain/value_objects/credential_match.py
  src/tool_exec/domain/value_objects/execution_result.py
  src/tool_exec/domain/value_objects/exit_codes.py
  src/tool_exec/domain/value_objects/filter_result.py
  src/tool_exec/domain/value_objects/tool_family_info.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  src/tool_exec/infrastructure/adapters/local_executor.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
  tests/unit/tool_exec/test_c4_remediation.py
  tests/unit/tool_exec/test_container_executor.py
  tests/unit/tool_exec/test_credential_filter.py
  tests/unit/tool_exec/test_exit_codes.py
  tests/unit/tool_exec/test_local_executor.py
Due: pyright, pytest

fix(proj-023): W12 CV-008 + C4 R2 tournament reports
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s001-red-team.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s002-devils-advocate.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s003-steelman.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s004-pre-mortem.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s007-constitutional.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s010-self-refine.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s011-cove.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s012-fmea.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s013-inversion.md
  src/interface/cli/tool_exec_commands.py
Due: pyright, pytest

fix(proj-023): W12 R3 remediation — 15 R2 findings fixed for 0.95 target
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r2-s014-adv-scorer-final.md
  skills/eng-team/output/W12-PHASE2/eng-backend-r3-remediation.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/ports/tool_family_resolver_port.py
  src/tool_exec/domain/services/credential_filter.py
  src/tool_exec/domain/services/mode_resolver.py
  src/tool_exec/domain/value_objects/exit_codes.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  src/tool_exec/infrastructure/adapters/local_executor.py
  src/tool_exec/infrastructure/adapters/rainbow_tool_resolver.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
  tests/unit/tool_exec/test_c4_remediation.py
  tests/unit/tool_exec/test_container_executor.py
  tests/unit/tool_exec/test_exit_codes.py
  tests/unit/tool_exec/test_family_registry_loader.py
  tests/unit/tool_exec/test_local_executor.py
  tests/unit/tool_exec/test_mode_resolver.py
Due: pyright, pytest

fix(proj-023): W12 R3 consensus fixes — strict_mode threading + audit gate + factory
  .claude/projects/-Users-adam-nowak-workspace-GitHub-geekatron-jerry-wt-feat-proj-023-exploit-framework/memory/MEMORY.md
  .claude/projects/-Users-adam-nowak-workspace-GitHub-geekatron-jerry-wt-feat-proj-023-exploit-framework/memory/feedback_git_lock_worktree.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s001-red-team.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s002-devils-advocate.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s003-steelman.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s004-pre-mortem.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s007-constitutional.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s010-self-refine.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s011-cove.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s012-fmea.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s013-inversion.md
  skills/eng-team/output/W12-PHASE2/eng-backend-r3-fix.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  src/tool_exec/infrastructure/adapters/local_executor.py
  tests/unit/tool_exec/test_c4_remediation.py
  tests/unit/tool_exec/test_r3_fixes.py
Due: pyright, pytest

fix(proj-023): W12 R4 priority fixes — traceability + completeness for 0.95
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r3-s014-adv-scorer-final.md
  projects/PROJ-023-exploit-framework/work/design/use-cases/UC-TOOLEXEC-001.md
  projects/PROJ-023-exploit-framework/work/design/use-cases/UC-TOOLEXEC-005.md
  skills/eng-team/output/W12-PHASE2/eng-backend-r4-priority-fixes.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/ports/tool_family_resolver_port.py
  src/tool_exec/domain/services/credential_filter.py
  src/tool_exec/domain/services/engagement_initializer.py
  src/tool_exec/domain/services/family_router.py
  src/tool_exec/domain/services/mode_resolver.py
  src/tool_exec/domain/value_objects/security_policy.py
  src/tool_exec/domain/value_objects/tool_family_info.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
  tests/unit/tool_exec/test_c4_remediation.py
  tests/unit/tool_exec/test_engagement_initializer.py
  tests/unit/tool_exec/test_family_router.py
Due: pyright, pytest

fix(proj-023): W12 R4 fixes — H-07 domain purity + traceability + completeness
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s001-red-team.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s002-devils-advocate.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s003-steelman.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s004-pre-mortem.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s007-constitutional.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s010-self-refine.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s011-cove.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s012-fmea.md
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s013-inversion.md
  skills/eng-team/output/W12-PHASE2/eng-backend-r4-fix.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/engagement_initializer.py
  tests/unit/tool_exec/test_r4_fixes.py
Due: pyright, pytest

fix(proj-023): W12 R4 scorer fixes — 9 remaining Majors closed
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-s014-adv-scorer-final.md
  skills/eng-team/output/W12-PHASE2/eng-backend-r4-scorer-fix.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/engagement_initializer.py
  src/tool_exec/domain/services/family_router.py
  src/tool_exec/infrastructure/adapters/rainbow_tool_resolver.py
  tests/unit/tool_exec/test_r3_fixes.py
  tests/unit/tool_exec/test_r4_fixes.py
  tests/unit/tool_exec/test_r5_scorer_fixes.py
Due: pyright, pytest

fix(proj-023): W12 loop 3 — close 5 Minor carry-forwards for 0.95
  projects/PROJ-023-exploit-framework/work/adversary/phase-7-impl-b11/r4-loop2-s014-adv-scorer.md
  src/interface/cli/tool_exec_commands.py
  src/tool_exec/domain/services/mode_resolver.py
  src/tool_exec/infrastructure/adapters/container_executor.py
  src/tool_exec/infrastructure/adapters/local_executor.py
  src/tool_exec/infrastructure/registry/family_registry_loader.py
Due: pyright, pytest
