Repository geekatron/jerry: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, pytest, validate-plugin-manifests

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false
  args:
  - src/

pytest:
  name: pytest (full suite via uv)
  entry: uv run pytest
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - --tb=short
  - -q

validate-plugin-manifests:
  name: Validate plugin manifests
  entry: uv run python scripts/validate_plugin_manifests.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(hooks): use uv-only invocation for all hook wrappers
  hooks/hooks.json
  uv.lock
Due: validate-plugin-manifests

fix(proj-005): complete ST-009, C4 review fixes, auto-install pre-commit hooks
  projects/PROJ-001-oss-release/work/EPIC-001-oss-release/FEAT-001-fix-ci-build-failures/EN-004-fix-precommit-hook-coverage/DEC-001-precommit-installation-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/EPIC-001-markdown-ast.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-001-jerry-document/ST-001-jerry-document.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-002-frontmatter-ext/ST-002-frontmatter-ext.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-003-reinject-parser/ST-003-reinject-parser.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-004-cli-commands/ST-004-cli-commands.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-005-ast-skill/ST-005-ast-skill.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-006-schema-validation/ST-006-schema-validation.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-007-worktracker-migration/ST-007-worktracker-migration.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-008-nav-table-helpers/ST-008-nav-table-helpers.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-009-precommit-hook/ST-009-precommit-hook.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-010-remaining-migrations/ST-010-remaining-migrations.md
  scripts/check_markdown_schemas.py
  scripts/session_start_hook.py
  tests/integration/test_session_start_hook_integration.py
  tests/unit/domain/markdown_ast/test_frontmatter.py
  tests/unit/scripts/test_check_markdown_schemas.py
Due: pyright, pytest

refactor(proj-005): C4 quality improvements — immutable schemas, normalized line numbers, defensive copies
  scripts/check_markdown_schemas.py
  src/domain/markdown_ast/frontmatter.py
  src/domain/markdown_ast/jerry_document.py
  src/domain/markdown_ast/nav_table.py
  src/domain/markdown_ast/schema.py
  tests/unit/domain/markdown_ast/test_frontmatter.py
  tests/unit/domain/markdown_ast/test_jerry_document.py
  tests/unit/domain/markdown_ast/test_nav_table.py
  tests/unit/domain/markdown_ast/test_schema.py
  tests/unit/scripts/test_check_markdown_schemas.py
Due: pyright, pytest

fix(proj-005): BUG-001 CI/CD lint and test failures — C4 quality gate 0.955
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/BUG-001-ci-cd-lint-test-failures.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/TASK-001-fix-ruff-lint-errors.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/TASK-002-fix-proj006-test-failures.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  pyproject.toml
  scripts/st007_migration_comparison.py
  skills/ast/scripts/ast_ops.py
  tests/architecture/test_ast_enforcement.py
  tests/project_validation/architecture/test_path_conventions.py
  tests/project_validation/conftest.py
  tests/project_validation/integration/test_file_resolution.py
  tests/unit/domain/markdown_ast/test_reinject.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/scripts/test_st007_migration.py
  tests/unit/scripts/test_st010_remaining_migrations.py
  tests/unit/skills/ast/test_ast_ops.py
Due: pyright, pytest

fix(proj-005): relax flaky perf thresholds 200ms→500ms, format subprocess test
  tests/integration/cli/test_ast_subprocess.py
  tests/unit/scripts/test_st010_remaining_migrations.py
Due: pyright, pytest

docs(proj-005): add delivery evidence to BUG-001 worktracker entities
  projects/PROJ-005-markdown-ast/WORKTRACKER.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/BUG-001-ci-cd-lint-test-failures.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/TASK-001-fix-ruff-lint-errors.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-001-ci-cd-lint-test-failures/TASK-002-fix-proj006-test-failures.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
Due: pytest

docs(proj-004): add DISC-002 and DISC-003 post-implementation discoveries
  projects/PROJ-004-context-resilience/WORKTRACKER.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/DISC-002-status-line-unification-gap.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/DISC-003-unfounded-latency-claims.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/FEAT-001-context-detection.md
Due: pytest

fix(proj-004): reopen project status — open discoveries prevent closure
  projects/PROJ-004-context-resilience/WORKTRACKER.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/EPIC-001-context-resilience.md
Due: pytest

fix(proj-005): relax flaky nav table batch perf threshold 200ms -> 500ms
  tests/unit/scripts/test_st010_remaining_migrations.py
Due: pyright, pytest

docs(proj-005): check off verified acceptance criteria across all entities
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/FEAT-001-ast-strategy.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-001-jerry-document/ST-001-jerry-document.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-002-frontmatter-ext/ST-002-frontmatter-ext.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-003-reinject-parser/ST-003-reinject-parser.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-004-cli-commands/ST-004-cli-commands.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-005-ast-skill/ST-005-ast-skill.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-006-schema-validation/ST-006-schema-validation.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-007-worktracker-migration/ST-007-worktracker-migration.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-008-nav-table-helpers/ST-008-nav-table-helpers.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-009-precommit-hook/ST-009-precommit-hook.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/ST-010-remaining-migrations/ST-010-remaining-migrations.md
Due: pytest

fix(proj-005): route /ast skill through jerry ast CLI, delete ast_ops.py
  .context/rules/quality-enforcement.md
  AGENTS.md
  projects/PROJ-005-markdown-ast/work/EPIC-001-markdown-ast/FEAT-001-ast-strategy/BUG-002-ast-skill-bypasses-cli/BUG-002-ast-skill-bypasses-cli.md
  scripts/st007_migration_comparison.py
  skills/adversary/agents/adv-executor.md
  skills/adversary/agents/adv-scorer.md
  skills/ast/SKILL.md
  skills/ast/scripts/ast_ops.py
  skills/nasa-se/agents/nse-requirements.md
  skills/nasa-se/agents/nse-reviewer.md
  skills/problem-solving/agents/ps-critic.md
  skills/problem-solving/agents/ps-reviewer.md
  skills/problem-solving/agents/ps-validator.md
  skills/worktracker/agents/wt-auditor.md
  skills/worktracker/agents/wt-verifier.md
  skills/worktracker/agents/wt-visualizer.md
  src/interface/cli/ast_commands.py
  src/interface/cli/main.py
  src/interface/cli/parser.py
  tests/architecture/test_ast_enforcement.py
  tests/integration/cli/test_ast_subprocess.py
  tests/unit/interface/cli/test_ast_commands.py
  tests/unit/scripts/test_st007_migration.py
  tests/unit/scripts/test_st010_remaining_migrations.py
  tests/unit/skills/ast/test_ast_ops.py
  uv.lock
Due: pyright, pytest

ci: add Codecov integration with branch coverage
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

docs(proj-007): add EN-002 C4 scoring artifacts and GitHub deliverable drafts
  .jerry/checkpoints/cx-009.json
  .jerry/checkpoints/cx-010.json
  .jerry/checkpoints/cx-011.json
  .jerry/checkpoints/cx-012.json
  .jerry/checkpoints/cx-013.json
  .jerry/checkpoints/cx-014.json
  .jerry/checkpoints/cx-015.json
  .jerry/checkpoints/cx-016.json
  .jerry/checkpoints/cx-017.json
  .jerry/checkpoints/cx-018.json
  .jerry/checkpoints/cx-019.json
  .jerry/checkpoints/cx-020.json
  .jerry/checkpoints/cx-021.json
  .jerry/checkpoints/cx-022.json
  .jerry/checkpoints/cx-023.json
  .jerry/checkpoints/cx-024.json
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/c4-tournament/github-issue-score-r1.md
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/c4-tournament/github-issue-score-r2.md
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/c4-tournament/pr-description-score-r1.md
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/c4-tournament/pr-description-score-r2.md
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/github-issue-draft.md
  projects/PROJ-007-agent-patterns/work/EN-002-hard-rule-budget-enforcement/pr-description-draft.md
Due: pytest

chore: fix checkpoint file endings
  .jerry/checkpoints/cx-021.json
  .jerry/checkpoints/cx-022.json
  .jerry/checkpoints/cx-023.json
  .jerry/checkpoints/cx-024.json
Due: none

docs(proj-004): cross-link worktracker entities to GitHub issues
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/EPIC-001-context-resilience.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/FEAT-001-context-detection.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-002-status-line-unification/FEAT-002-status-line-unification.md
Due: pytest

feat(proj-007): install EN-001 agent pattern deliverables into framework
  .context/rules/agent-development-standards.md
  .context/rules/agent-routing-standards.md
  .context/rules/mandatory-skill-usage.md
  .context/rules/quality-enforcement.md
  .context/rules/testing-standards.md
  CLAUDE.md
  docs/design/ADR-PROJ007-001-agent-design.md
  docs/design/ADR-PROJ007-002-routing-triggers.md
  docs/knowledge/agent-pattern-taxonomy.md
  docs/schemas/agent-definition-v1.schema.json
  projects/PROJ-007-agent-patterns/WORKTRACKER.md
  projects/PROJ-007-agent-patterns/work/EN-001-install-agent-pattern-deliverables/TASK-012-install-agent-dev-standards/task-012-score-report.md
  projects/PROJ-007-agent-patterns/work/EN-001-install-agent-pattern-deliverables/TASK-013-install-agent-routing-standards/task-013-score-report.md
  projects/PROJ-007-agent-patterns/work/EN-001-install-agent-pattern-deliverables/TASK-014-install-adr-001-agent-design/task-014-score-report.md
  projects/PROJ-007-agent-patterns/work/EN-001-install-agent-pattern-deliverables/TASK-015-install-adr-002-routing/task-015-score-report.md
  tests/architecture/test_ast_enforcement.py
  tests/e2e/test_quality_framework_e2e.py
Due: pyright, pytest

docs(proj-004): add delivery evidence to all worktracker entities
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/BUG-001-precommit-hook-failures.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/EPIC-001-context-resilience.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-001-filesystem-session-repository.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-002-config-threshold-adapter.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-003-bounded-context-foundation.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-004-context-fill-estimator.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-005-pre-tool-use-staleness.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-006-jerry-hooks-cli.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-007-hook-wrapper-scripts.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/EN-008-context-resilience-hardening.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/FEAT-001-context-detection.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/SPIKE-001-context-research.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/SPIKE-002-cli-integration.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/SPIKE-003-validation-spikes.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-001-resumption-schema.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-002-ae006-graduated-subrules.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/ST-003-threshold-validation.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-001-structured-checkpoint-fields.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-002-worktracker-resumption-injection.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-003-checkpoint-yaml-writeback.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-004-e2e-integration-test.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-005-multi-pattern-validation.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-006-context-window-configuration.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-001-context-detection/TASK-007-monitoring-ok-field.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-002-status-line-unification/FEAT-002-status-line-unification.md
  projects/PROJ-004-context-resilience/work/EPIC-001-context-resilience/FEAT-002-status-line-unification/SPIKE-004-latency-benchmark.md
Due: pytest

feat(proj-007): EN-003 close Anthropic gaps and publish comparison
  .context/rules/agent-development-standards.md
  .context/rules/project-workflow.md
  .jerry/checkpoints/cx-025.json
  .jerry/checkpoints/cx-026.json
  .jerry/checkpoints/cx-027.json
  .jerry/checkpoints/cx-028.json
  .jerry/checkpoints/cx-029.json
  .jerry/checkpoints/cx-030.json
  .jerry/checkpoints/cx-031.json
  .jerry/checkpoints/cx-032.json
  .jerry/checkpoints/cx-033.json
  .jerry/checkpoints/cx-034.json
  .jerry/checkpoints/cx-035.json
  .jerry/checkpoints/cx-036.json
  docs/knowledge/jerry-vs-anthropic-best-practices.md
  projects/PROJ-007-agent-patterns/PLAN.md
  projects/PROJ-007-agent-patterns/WORKTRACKER.md
Due: pytest

docs(proj-007): add research artifact traceability to publication
  docs/knowledge/jerry-vs-anthropic-best-practices.md
Due: pytest

feat(proj-008): complete C4 planning phase for agentic security
  projects/PROJ-008-agentic-security/PLAN.md
  projects/PROJ-008-agentic-security/WORKTRACKER.md
  projects/PROJ-008-agentic-security/orchestration/agentic-sec-20260222-001/ORCHESTRATION.yaml
  projects/PROJ-008-agentic-security/orchestration/agentic-sec-20260222-001/ORCHESTRATION_PLAN.md
  projects/PROJ-008-agentic-security/orchestration/agentic-sec-20260222-001/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-008-agentic-security/work/EPIC-001-security-research/FEAT-002-threat-frameworks/data-sources.md
  projects/README.md
  uv.lock
Due: pytest

feat(proj-009): Phase 0 scaffolding -- orchestration, work decomposition, worktracker
  projects/PROJ-009-llm-deception-research/ORCHESTRATION.yaml
  projects/PROJ-009-llm-deception-research/ORCHESTRATION_PLAN.md
  projects/PROJ-009-llm-deception-research/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-009-llm-deception-research/PLAN.md
  projects/PROJ-009-llm-deception-research/WORKTRACKER.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/EPIC-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/EN-001-ab-test-requirements/EN-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/EN-002-comparison-prior-art/EN-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/FEAT-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/STORY-001-academic-literature/STORY-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/STORY-002-industry-reports/STORY-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-001-evidence-collection/STORY-003-conversation-mining/STORY-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/EN-001-ab-test-vv/EN-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/FEAT-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-001-agent-a-internal/STORY-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-002-agent-b-external/STORY-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-002-ab-test-execution/STORY-003-comparative-analysis/STORY-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/EN-001-technical-review/EN-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/FEAT-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/STORY-001-unified-synthesis/STORY-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-003-research-synthesis/STORY-002-architectural-analysis/STORY-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/EN-001-content-qa/EN-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/FEAT-004.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-001-linkedin-post/STORY-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-002-twitter-thread/STORY-002.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-004-content-production/STORY-003-blog-article/STORY-003.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/EN-001-final-vv/EN-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/FEAT-005.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/STORY-001-citation-crosscheck/STORY-001.md
  projects/PROJ-009-llm-deception-research/work/EPIC-001-llm-deception-research/FEAT-005-final-review/STORY-002-publication-readiness/STORY-002.md
  projects/README.md
Due: pytest

fix(proj-004): resolve lifecycle dir mismatch between hooks and CLI
  .claude/settings.local.json
  .claude/statusline.py
  src/bootstrap.py
  src/context_monitoring/domain/services/context_estimate_computer.py
  src/infrastructure/adapters/configuration/__init__.py
  src/infrastructure/adapters/configuration/lifecycle_dir_resolver.py
  tests/unit/context_monitoring/domain/services/test_context_estimate_computer.py
  tests/unit/infrastructure/adapters/configuration/test_lifecycle_dir_resolver.py
Due: pyright, pytest

fix(ci): use platform-aware assertion for lifecycle dir default test
  tests/unit/infrastructure/adapters/configuration/test_lifecycle_dir_resolver.py
Due: pyright, pytest

feat(proj-009): complete LLM deception research workflow
  projects/PROJ-009-llm-deception-research/ORCHESTRATION.yaml
  projects/PROJ-009-llm-deception-research/ORCHESTRATION_WORKTRACKER.md
  projects/PROJ-009-llm-deception-research/WORKTRACKER.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-1/a-to-b/ps-to-nse-handoff.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-1/b-to-a/nse-to-ps-handoff.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-2/a-to-b/barrier-2-a-to-b-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-2/b-to-a/barrier-2-b-to-a-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-3/a-to-b/barrier-3-a-to-b-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-3/b-to-a/barrier-3-b-to-a-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-4/a-to-b/barrier-4-a-to-b-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/cross-pollination/barrier-4/b-to-a/barrier-4-b-to-a-synthesis.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-1-requirements/nse-explorer-001/nse-explorer-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-1-requirements/nse-requirements-001/nse-requirements-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-2-verification/nse-verification-001/nse-verification-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-3-review/nse-reviewer-001/nse-reviewer-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-4-qa/nse-qa-001/nse-qa-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/nse/phase-5-final/nse-verification-002/nse-verification-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-1-evidence/ps-investigator-001/ps-investigator-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-1-evidence/ps-researcher-001/ps-researcher-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-1-evidence/ps-researcher-002/ps-researcher-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/falsification-criteria.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/ps-analyst-001/ps-analyst-001-comparison.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/ps-critic-001/ps-critic-001-agent-a-review.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/ps-critic-002/ps-critic-002-agent-b-review.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/ps-researcher-003-agent-a/ps-researcher-003-agent-a-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-2-ab-test/ps-researcher-004-agent-b/ps-researcher-004-agent-b-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-3-synthesis/ps-architect-001/ps-architect-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-3-synthesis/ps-synthesizer-001/ps-synthesizer-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-4-content/sb-voice-001/sb-voice-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-4-content/sb-voice-002/sb-voice-002-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-4-content/sb-voice-003/sb-voice-003-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-5-final/ps-reporter-001/ps-reporter-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/ps/phase-5-final/ps-reviewer-001/ps-reviewer-001-output.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-1/qg-1-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-2/qg-2-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-3/qg-3-iteration-2-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-3/qg-3-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-4/qg-4-report.md
  projects/PROJ-009-llm-deception-research/orchestration/llm-deception-20260221-001/quality-gates/qg-5/qg-5-report.md
Due: pytest

feat(proj-010): add research foundations and analysis artifacts
  projects/PROJ-010-cyber-ops/PLAN.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/EPIC-001-research-analysis.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-001-offensive-security-research/FEAT-001-offensive-security-research.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-002-defensive-engineering-research/FEAT-002-defensive-engineering-research.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-003-role-completeness-analysis/FEAT-003-role-completeness-analysis.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-004-tool-integration-landscape/FEAT-004-tool-integration-landscape.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-005-prior-art-industry-standards/FEAT-005-prior-art-industry-standards.md
  projects/PROJ-010-cyber-ops/work/EPIC-001-research-analysis/FEAT-006-llm-agent-team-patterns/FEAT-006-llm-agent-team-patterns.md
  projects/PROJ-010-cyber-ops/work/research/quality/barrier-1-quality-gate.md
  projects/PROJ-010-cyber-ops/work/research/stream-a-role-completeness/A-001-elite-engineering-teams.md
  projects/PROJ-010-cyber-ops/work/research/stream-a-role-completeness/A-002-red-team-pentest-firms.md
  projects/PROJ-010-cyber-ops/work/research/stream-a-role-completeness/A-003-mitre-attack-coverage.md
  projects/PROJ-010-cyber-ops/work/research/stream-a-role-completeness/A-004-roster-recommendation.md
  projects/PROJ-010-cyber-ops/work/research/stream-b-methodology/B-001-mitre-attack-framework.md
  projects/PROJ-010-cyber-ops/work/research/stream-b-methodology/B-002-ptes-osstmm-methodology.md
  projects/PROJ-010-cyber-ops/work/research/stream-b-methodology/B-003-owasp-nist-cis-sans.md
  projects/PROJ-010-cyber-ops/work/research/stream-b-methodology/B-004-threat-modeling-comparison.md
  projects/PROJ-010-cyber-ops/work/research/stream-c-tool-integration/C-001-offensive-tools.md
  projects/PROJ-010-cyber-ops/work/research/stream-c-tool-integration/C-002-defensive-tools.md
  projects/PROJ-010-cyber-ops/work/research/stream-c-tool-integration/C-003-agentic-integration-patterns.md
  projects/PROJ-010-cyber-ops/work/research/stream-d-prior-art/D-001-prior-art-survey.md
  projects/PROJ-010-cyber-ops/work/research/stream-d-prior-art/D-002-llm-capability-boundaries.md
  projects/PROJ-010-cyber-ops/work/research/stream-d-prior-art/D-003-industry-perspectives.md
  projects/PROJ-010-cyber-ops/work/research/stream-e-llm-portability/E-001-universal-prompt-patterns.md
  projects/PROJ-010-cyber-ops/work/research/stream-e-llm-portability/E-002-multi-llm-frameworks.md
  projects/PROJ-010-cyber-ops/work/research/stream-e-llm-portability/E-003-portability-architecture-recommendation.md
  projects/PROJ-010-cyber-ops/work/research/stream-f-secure-sdlc/F-001-secure-sdlc-patterns.md
  projects/PROJ-010-cyber-ops/work/research/stream-f-secure-sdlc/F-002-security-architecture-patterns.md
  projects/PROJ-010-cyber-ops/work/research/stream-f-secure-sdlc/F-003-configurable-rule-sets.md
  projects/PROJ-010-cyber-ops/work/research/synthesis/S-001-cross-stream-findings.md
  projects/PROJ-010-cyber-ops/work/research/synthesis/S-002-architecture-implications.md
  projects/PROJ-010-cyber-ops/work/research/synthesis/S-003-research-compendium.md
  projects/README.md
Due: pytest

feat(proj-010): add architecture decisions and design artifacts
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-001-agent-team-architecture.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-002-skill-routing-invocation.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-003-llm-portability.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-004-configurable-rule-sets.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-005-tool-integration-adapters.md
  projects/PROJ-010-cyber-ops/decisions/ADR-PROJ010-006-authorization-scope-control.md
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-3-quality-gate.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/EPIC-002-architecture-design.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-010-agent-team-architecture/FEAT-010-agent-team-architecture.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-011-skill-routing-invocation/FEAT-011-skill-routing-invocation.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-012-llm-portability-architecture/FEAT-012-llm-portability-architecture.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-013-configurable-rule-sets/FEAT-013-configurable-rule-sets.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-014-tool-integration-adapters/FEAT-014-tool-integration-adapters.md
  projects/PROJ-010-cyber-ops/work/EPIC-002-architecture-design/FEAT-015-authorization-scope-control/FEAT-015-authorization-scope-control.md
Due: pytest

feat(proj-010): add /eng-team skill with 10 agents
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-4a-eng-team-quality-gate-iteration2.md
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-4a-eng-team-quality-gate.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/EPIC-003-eng-team-build.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-020-eng-skill-routing/FEAT-020-eng-skill-routing.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-021-eng-architecture-agents/FEAT-021-eng-architecture-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-022-eng-implementation-agents/FEAT-022-eng-implementation-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-023-eng-quality-agents/FEAT-023-eng-quality-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-024-eng-templates-playbook/FEAT-024-eng-templates-playbook.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-025-eng-adversary-integration/FEAT-025-eng-adversary-integration.md
  skills/eng-team/SKILL.md
  skills/eng-team/agents/eng-architect.md
  skills/eng-team/agents/eng-backend.md
  skills/eng-team/agents/eng-devsecops.md
  skills/eng-team/agents/eng-frontend.md
  skills/eng-team/agents/eng-incident.md
  skills/eng-team/agents/eng-infra.md
  skills/eng-team/agents/eng-lead.md
  skills/eng-team/agents/eng-qa.md
  skills/eng-team/agents/eng-reviewer.md
  skills/eng-team/agents/eng-security.md
Due: pytest

feat(proj-010): add /red-team skill with 11 agents
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-4b-red-team-quality-gate.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/EPIC-004-red-team-build.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-030-red-skill-routing/FEAT-030-red-skill-routing.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-031-red-recon-vuln-agents/FEAT-031-red-recon-vuln-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-032-red-exploitation-agents/FEAT-032-red-exploitation-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-033-red-post-exploitation-agents/FEAT-033-red-post-exploitation-agents.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-034-red-reporting-agent/FEAT-034-red-reporting-agent.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-035-red-methodology-authorization/FEAT-035-red-methodology-authorization.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-036-red-templates-playbook/FEAT-036-red-templates-playbook.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-037-red-adversary-integration/FEAT-037-red-adversary-integration.md
  skills/red-team/SKILL.md
  skills/red-team/agents/red-exfil.md
  skills/red-team/agents/red-exploit.md
  skills/red-team/agents/red-infra.md
  skills/red-team/agents/red-lateral.md
  skills/red-team/agents/red-lead.md
  skills/red-team/agents/red-persist.md
  skills/red-team/agents/red-privesc.md
  skills/red-team/agents/red-recon.md
  skills/red-team/agents/red-reporter.md
  skills/red-team/agents/red-social.md
  skills/red-team/agents/red-vuln.md
Due: pytest

feat(proj-010): add purple team validation artifacts
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-5-validation-quality-gate.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/EPIC-005-purple-team-validation.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-040-purple-team-framework/FEAT-040-purple-team-framework.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-040-purple-team-framework/purple-team-integration-framework.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-041-gap-analysis/FEAT-041-gap-analysis.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-041-gap-analysis/gap-analysis-report.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-042-hardening-cycle/FEAT-042-hardening-cycle.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-042-hardening-cycle/hardening-cycle-report.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-043-portability-validation/FEAT-043-portability-validation.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-043-portability-validation/portability-validation-report.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-044-cross-skill-integration/FEAT-044-cross-skill-integration.md
  projects/PROJ-010-cyber-ops/work/EPIC-005-purple-team-validation/FEAT-044-cross-skill-integration/integration-test-report.md
Due: pytest

feat(proj-010): add documentation and user guides
  projects/PROJ-010-cyber-ops/decisions/quality/barrier-6-documentation-quality-gate.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/EPIC-006-documentation-guides.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-050-eng-team-documentation/FEAT-050-eng-team-documentation.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-050-eng-team-documentation/eng-team-user-guide.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-051-red-team-documentation/FEAT-051-red-team-documentation.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-051-red-team-documentation/red-team-user-guide.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-052-rule-set-customization/FEAT-052-rule-set-customization.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-052-rule-set-customization/rule-set-customization-guide.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-053-tool-integration-guide/FEAT-053-tool-integration-guide.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-053-tool-integration-guide/tool-integration-guide.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-054-framework-registration/FEAT-054-framework-registration.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-054-framework-registration/framework-registration-report.md
Due: pytest

feat(proj-008): complete competitive feature bridge orchestration
  projects/PROJ-008-agentic-security/WORKTRACKER.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ORCHESTRATION.yaml
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ORCHESTRATION_PLAN.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/cross-pollination/barrier-1/nse-to-ps/handoff.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/cross-pollination/barrier-1/ps-to-nse/handoff.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/cross-pollination/barrier-2/nse-to-ps/handoff.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/cross-pollination/barrier-2/ps-to-nse/handoff.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/nse/phase-1/nse-requirements-003/nse-requirements-003-feature-requirements.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/nse/phase-2/nse-explorer-003/nse-explorer-003-feature-trade-studies.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/nse/phase-3/nse-requirements-004/nse-requirements-004-work-items.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ps/phase-1/ps-analyst-003/ps-analyst-003-bridge-analysis.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ps/phase-1/ps-researcher-004/ps-researcher-004-security-feature-mapping.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ps/phase-2/ps-architect-002/ps-architect-002-feature-architecture.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/ps/phase-3/ps-synthesizer-002/ps-synthesizer-002-feature-roadmap.md
  projects/PROJ-008-agentic-security/orchestration/comp-feat-20260222-001/synthesis/orch-synthesizer-002-workflow-synthesis.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/EN-004-competitive-intelligence-integration/EN-004-competitive-intelligence-integration.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/EPIC-006-competitive-feature-architecture.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-017-bridge-analysis/FEAT-017-bridge-analysis.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-017-bridge-analysis/ST-062-bridge-gap-analysis.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-017-bridge-analysis/ST-063-security-feature-mapping.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-017-bridge-analysis/ST-064-feature-requirements.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-018-feature-architecture/FEAT-018-feature-architecture.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-018-feature-architecture/ST-065-feature-architecture-design.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-018-feature-architecture/ST-066-feature-trade-studies.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-019-feature-roadmap/FEAT-019-feature-roadmap.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-019-feature-roadmap/ST-067-phased-feature-roadmap.md
  projects/PROJ-008-agentic-security/work/EPIC-006-competitive-feature-architecture/FEAT-019-feature-roadmap/ST-068-work-item-decomposition.md
Due: pytest

feat(proj-010): add orchestration state and worktracker
  projects/PROJ-010-cyber-ops/ORCHESTRATION.yaml
  projects/PROJ-010-cyber-ops/ORCHESTRATION_PLAN.md
  projects/PROJ-010-cyber-ops/WORKTRACKER.md
Due: pytest

feat(proj-010): complete remaining features and framework registration
  .context/rules/mandatory-skill-usage.md
  .context/rules/mcp-tool-standards.md
  AGENTS.md
  CLAUDE.md
  projects/PROJ-010-cyber-ops/WORKTRACKER.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-024-eng-templates-playbook/FEAT-024-eng-templates-playbook.md
  projects/PROJ-010-cyber-ops/work/EPIC-003-eng-team-build/FEAT-025-eng-adversary-integration/FEAT-025-eng-adversary-integration.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-036-red-templates-playbook/FEAT-036-red-templates-playbook.md
  projects/PROJ-010-cyber-ops/work/EPIC-004-red-team-build/FEAT-037-red-adversary-integration/FEAT-037-red-adversary-integration.md
  projects/PROJ-010-cyber-ops/work/EPIC-006-documentation-guides/FEAT-054-framework-registration/FEAT-054-framework-registration.md
  skills/eng-team/adversary-integration.md
  skills/eng-team/templates/code-review-security-checklist.md
  skills/eng-team/templates/engagement-playbook.md
  skills/eng-team/templates/secure-design-review.md
  skills/eng-team/templates/security-test-plan.md
  skills/eng-team/templates/threat-model.md
  skills/red-team/adversary-integration.md
  skills/red-team/templates/engagement-playbook.md
  skills/red-team/templates/executive-summary.md
  skills/red-team/templates/pentest-engagement.md
  skills/red-team/templates/remediation-tracking.md
  skills/red-team/templates/vulnerability-report.md
Due: pytest

docs(proj-010): cross-link WORKTRACKER.md to GitHub issue #68 and PR #67
  projects/PROJ-010-cyber-ops/WORKTRACKER.md
Due: pytest

Path conditions:
  pyright: any of: \.py$
  pytest: any of: \.py$, \.(md|markdown|mdown)$
  validate-plugin-manifests: any of: (plugin\.json|marketplace\.json|hooks\.json)$
